**Question: Are there differences in environmental exposure among patients with early-onset vs late-onset Asthma?**
* Find patients diagnosed with Asthma
* Find age of diagnosis for Asthma patients
* Find location for Asthma patients
* Find exposures by location for Asthma patients
* Compare exposures of patients diagnosed with Asthma during childhood vs during adulthood

**Data Sources**
* HUSH+ synthetic data resource
* [FHIR synthetic data resource](http://ictrweb.johnshopkins.edu/ictr/synthetic/)
* [UMLS](https://www.nlm.nih.gov/research/umls/), NOTE: there is a Web API [here](https://documentation.uts.nlm.nih.gov/rest/home.html) 
* [OHDSI Web API](http://www.ohdsi.org/web/wiki/doku.php?id=documentation:software:webapi)
* [Open AQ Platform API](https://docs.openaq.org), An API for open air quality data (pm25)
* [Green Translator Exposures API](https://exposures.renci.org/v1/ui), An API for pm25 and o3 measures

### Function and dataset definitions

In [2]:
## All the imports we need
import urllib2
from urllib2 import Request, urlopen, URLError
from urllib import quote_plus

import mysql.connector

import pprint, json, requests

from datetime import datetime, timedelta
from dateutil.parser import parse as parse_date
from greentranslator.api import GreenTranslator
query = GreenTranslator ().get_query ()

import dateutil

import zipcode

import string

%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
#connect to UMLS
try:
    cnx = mysql.connector.connect(user='tadmin',
                                password='ncats_translator!',
                                database='umls',
                                host='translator.ceyknq0yekb3.us-east-1.rds.amazonaws.com')
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
else:
    print
    #cnx.close()

#### UMLS and OHDSI functions

In [4]:
## Given disease/condition term, get back ICD codes from OHDSI
def findICD_ohdsi(txt, icd_version = 9):
    if icd_version == 9:
        icd_type = 'ICD9CM'
    elif icd_version == 10:
        icd_type = 'ICD10'
    else: raise Exception("Invalid ICD version specified")    
    url_con = "http://api.ohdsi.org/WebAPI/vocabulary/search"
    headers = {'content-type': 'application/json'}
    params = {"QUERY": txt,
              "VOCABULARY_ID": [icd_type]}
    response = requests.post(url_con, data=json.dumps(params), headers=headers)
    data= json.loads(response.text.decode('utf-8'))
    return [d["CONCEPT_CODE"] for d in data]
print findICD_ohdsi('asthma')

# Get ICD10/ICD9 code for a given string from UMLS. By default we get back ICD10.
def findICD_umls(name, icd_version = 10):
    if icd_version == 9:
        icd_type = 'ICD9CM'
    elif icd_version == 10:
        icd_type = 'ICD10'
    else: raise Exception("Invalid ICD version specified")

    cursor = cnx.cursor()
    query = ("SELECT CUI FROM umls.MRCONSO WHERE STR='"+name+"'")
    cursor.execute(query, ())
    res = "Undef"
    for code in cursor:
        if res=="Undef":
            res = code
    if res != "Undef":
        query = ("SELECT CODE FROM umls.MRCONSO WHERE SAB='"+icd_type+"' AND CUI='"+res[0]+"'")
        cursor.execute(query, ())
        icd10 = "Undef"
        for code in cursor:
            icd10 = code
        return (icd10[0])
    return ("Undef")

[u'E945.7', u'493', u'493.9', u'493.90', u'493.92', u'493.91', u'493.2', u'493.20', u'493.22', u'493.21', u'493.82', u'493.0', u'493.00', u'493.02', u'493.01', u'V17.5', u'493.1', u'493.10', u'493.12', u'493.11', u'493.8', u'975.7']

#### Exposure data source founctions

In [5]:
#Function takes date of diagnosis, and location as input and returns degree of exposure 

def findExposureAtDateOfDx(dxdate,lon,lat):
    #dxnextdate = dateutil.parser.parse(dxdate) + timedelta(days=1)
    #dxnextdate = datetime.date(dxnextdate)
    pm25score = query.expo_get_scores (exposure_type = 'pm25',
                            start_date = dxdate,
                            end_date = dxdate,
                            exposure_point = ''+lon+','+lat+'')
    return(pm25score) 

def findAirQualityAtDateOfDx(dxdate,lat,lon):
    try:
        url = "https://api.openaq.org/v1/measurements?coordinates="+str(lat)+','+str(lon)+"&date="+str(dxdate)+"&parameter=pm25"
        #print url
        txt = urlopen(url).read()
        #print txt
    except Exception, e:
        raise Exception(e)
    exps= json.loads(txt)
    #pprint.pprint(exps)
    return(exps)

#### HUSH+ and FHIR synthetic data source functions

In [6]:
## Functions to retreive patients from different sources - HUSH+ & FHIR synthetic
def findPatients_fhir(code):
    try:
        url ="http://ictrweb.johnshopkins.edu/rest/synthetic/Condition?icd_10="+code+"&_count=999"
        txt = urlopen(url).read()
    except Exception, e:
        raise Exception(e)
    stuff = json.loads(txt)
    #print stuff
    return(stuff)

def findPatients_unc(age='8', sex='male', race='white', location='OUTPATIENT'):
    query = GreenTranslator ().get_query()
    return query.clinical_get_patients(age, sex, race, location)

In [7]:
#Function to retrieve age at diagnosis & location for patients from FHIR synthetic
def findDxAgeLocation_fhir(stuff):
    #pprint.pprint(stuff)
    res = []
    if stuff==[]:
        return []
    for p in stuff['entry']:
        #pprint.pprint(p)
        d1 = p['assertedDate']
        id = p['subject']['reference'][8:]
        try:
            url = 'http://ictrweb.johnshopkins.edu/rest/synthetic/Patient/'+id
            txt = urlopen(url).read()
        except:
            print "ictr api doesn't work"
        st = json.loads(txt)
        #pprint.pprint(st)
        d2 = st['birthDate']
        z = st['address'][0]['postalCode']
        datedx = d2 #e.g. 1925-12-08 00:00:00
        d1 = dateutil.parser.parse(d1)
        d2 = dateutil.parser.parse(d2)
        #print d1
        #print d2
        diff = d1 - d2
        #print diff
             
        obj = zipcode.isequal(z.encode("ascii", "ignore"))
        if obj is not None:
            d = obj.to_dict()
            lat = d['lat']
            lon = d['lon']
        else:
            lat = None
            lon = None
        t = (id,diff.days,datedx,lat,lon)         
        res.append(t)
    return(res)

#Add function to retrieve age at diagnosis & location for patients from HUSH+

### "What is the age range of Asthma diagnoses, grouped by location?"

In [12]:
asthmaCodes = findICD_umls("asthma") # We go with ICD10 codes

## Get age of diagnosis & locations for FHIR synthetic patients.
p_agelocs = []

print "Codes"
print len(asthmaCodes)
print asthmaCodes
for icd in asthmaCodes:
    print "ICD"
    print icd
    try:
        p = findPatients_fhir(asthmaCodes)
        print "Patients"
        pprint.pprint(p)
        # patients with icd exist
    except:
        print "no patients with icd"
        exit()
    p_ageloc = findDxAgeLocation_fhir(p)
    #pprint.pprint(p_ageloc)
    
    for dx in p_ageloc:
        num = int(dx[0])
        ageOfDxInDays = int(dx[1])
        dateAtDx = str(dx[2])
        lat = dx[3]
        lon = dx[4]
        coordinates=''+str(lat)+','+str(lon)+''
        #print coordinates
        p_agelocs.append((num, ageOfDxInDays,dateAtDx,lat,lon,coordinates))
        #p_agelocs.append(dx)
    #print p_agelocs[1]
    p_agelocs_df = pd.DataFrame(p_agelocs, columns=['id', 'ageOfDxInDays', 'dateAtDx', 'lat', 'lon','coordinates'])
    #print  p_agelocs_df
    
    s = p_agelocs_df['ageOfDxInDays']
    print s.describe()
    
    g = sns.factorplot(x="coordinates", y="ageOfDxInDays", data=p_agelocs_df, kind="box", size=3, aspect=2)
    g.set_xticklabels(rotation=50)


## Add code to get age of diagnosis & locations for HUSH+ patients.

Codes
5
J45.9
ICD
J
Patients
[]
count     0
unique    0
Name: ageOfDxInDays, dtype: int64

ValueError: min() arg is an empty sequence

### "What is the age range of Asthma diagnoses, grouped by air quality threshold?"
NOTE: will need to find literature-based thresholds for high & low air quality

In [26]:
##For date of diagnosis and location, what is air quality (pm25)?

#findExposureAtDateOfDx("2010-01-07","35.9131996","-79.0558445")
#findAirQualityAtDateOfDx("2010-01-07","35.91","-79.05")

pprint.pprint(p_agelocs)
pprint.pprint(p_agelocs_df)

for item, p in p_agelocs_df.iterrows():
    #print "item, p"
    #print item
    #print p
    dateDx = p['dateAtDx']
    lat = p['lat']
    lon = p['lon']
    #print dateDx
    #print lat
    txt =''
    try:
        txt = findAirQualityAtDateOfDx(dateDx,lat,lon)
        #findExposureAtDateOfDx(dateDx,lon,lat)
    except:
        print "location not found"
        #exit()
    if len(txt)> 0:
        try:
            p_exp = json.loads(txt)
        except:
            p_exp = []
    else:
        p_exp = []
    #pm25 = p_exp['value']
    #print pm25

[(178639511, 5223, '1940-10-26', 38.87, -77.1, '38.87,-77.1'),
 (381740996, 3976, '1963-04-18', 38.94, -77.19, '38.94,-77.19'),
 (770375887, 4602, '1992-04-24', 38.89, -77.03, '38.89,-77.03'),
 (567452750, 2338, '1995-02-27', 38.89, -77.03, '38.89,-77.03'),
 (666544429, 6731, '1989-03-05', 38.89, -77.03, '38.89,-77.03'),
 (545538309, 12206, '1942-07-08', 38.8, -76.94, '38.8,-76.94'),
 (772243798, 14870, '1954-07-06', 38.87, -76.9, '38.87,-76.9'),
 (228368759, 16237, '1958-05-31', 38.89, -77.03, '38.89,-77.03'),
 (383853998, 4840, '1942-09-26', 38.89, -77.03, '38.89,-77.03'),
 (383267724, 6341, '1991-01-29', 38.98, -77.08, '38.98,-77.08'),
 (561513328, 17677, '1952-10-05', 38.87, -77.1, '38.87,-77.1'),
 (933538820, 10463, '1985-08-17', 38.89, -77.03, '38.89,-77.03'),
 (773183620, 21689, '1949-01-21', 38.89, -77.03, '38.89,-77.03'),
 (248509890, 10033, '1952-11-08', 38.95, -76.95, '38.95,-76.95'),
 (809015918, 10913, '1976-06-24', 38.89, -77.03, '38.89,-77.03'),
 (858150638, 829, '1968-10-29', 38.89, -77.03, '38.89,-77.03'),
 (624642874, 478, '1989-08-19', 38.89, -77.03, '38.89,-77.03'),
 (605376370, 5739, '1981-06-03', 38.8, -76.99, '38.8,-76.99'),
 (544530101, 7857, '1989-05-26', 38.89, -77.03, '38.89,-77.03'),
 (907400314, 5477, '1994-11-20', 38.89, -77.03, '38.89,-77.03'),
 (485187276, 6143, '1990-06-02', 38.89, -77.03, '38.89,-77.03'),
 (555788811, 11567, '1975-08-18', 38.89, -77.03, '38.89,-77.03'),
 (338503482, 10148, '1966-01-22', 38.94, -76.96, '38.94,-76.96'),
 (901523006, 21542, '1937-01-15', 38.89, -77.03, '38.89,-77.03'),
 (544824399, 17390, '1961-04-30', 38.89, -77.03, '38.89,-77.03'),
 (399251014, 10657, '1919-07-29', 38.89, -77.03, '38.89,-77.03'),
 (453809777, 7230, '1937-05-15', 38.98, -77.0, '38.98,-77.0'),
 (319321518, 3127, '1986-06-17', 38.89, -77.03, '38.89,-77.03'),
 (546853625, 4566, '1988-02-23', 38.89, -77.03, '38.89,-77.03'),
 (688884742, 7591, '1963-05-15', 38.87, -77.1, '38.87,-77.1'),
 (332646326, 7253, '1973-01-10', 38.95, -76.95, '38.95,-76.95'),
 (230444650, 24912, '1941-06-27', 38.89, -77.03, '38.89,-77.03'),
 (586683517, 10886, '1942-09-11', 38.89, -77.03, '38.89,-77.03'),
 (249394936, 13330, '1940-10-12', 38.8, -76.94, '38.8,-76.94'),
 (189172136, 15216, '1962-07-30', 38.95, -76.95, '38.95,-76.95'),
 (461364184, 5290, '1989-02-06', 38.89, -77.03, '38.89,-77.03'),
 (310654056, 9364, '1973-01-25', 38.89, -77.03, '38.89,-77.03'),
 (769015582, 2354, '1943-03-17', 38.89, -77.03, '38.89,-77.03'),
 (888658271, 2096, '1996-02-15', 38.94, -77.19, '38.94,-77.19'),
 (404596117, 10274, '1982-04-21', 38.89, -77.03, '38.89,-77.03'),
 (437186962, 5373, '1969-12-01', 38.89, -77.03, '38.89,-77.03'),
 (412676963, 7904, '1977-05-25', 38.89, -77.03, '38.89,-77.03'),
 (385887860, 16162, '1962-08-18', 38.89, -77.03, '38.89,-77.03'),
 (796962715, 16837, '1951-07-12', 38.98, -77.12, '38.98,-77.12'),
 (140185585, 3458, '1969-04-09', 38.89, -77.03, '38.89,-77.03'),
 (144207367, 4504, '1985-06-24', 38.8, -76.99, '38.8,-76.99'),
 (459010311, 11254, '1982-02-07', 38.89, -77.03, '38.89,-77.03'),
 (870975192, 7368, '1991-08-20', 38.95, -76.95, '38.95,-76.95'),
 (785418505, 11417, '1985-04-14', 38.89, -77.03, '38.89,-77.03'),
 (612123136, 19686, '1959-03-31', 38.87, -77.1, '38.87,-77.1'),
 (342820195, 1743, '1982-12-01', 39.01, -77.02, '39.01,-77.02'),
 (894928744, 10488, '1936-02-20', 38.89, -77.03, '38.89,-77.03'),
 (215614864, 6521, '1977-03-19', 38.83, -76.92, '38.83,-76.92'),
 (604670602, 15809, '1958-09-19', 38.89, -77.03, '38.89,-77.03'),
 (554759523, 3613, '1989-09-26', 38.89, -77.03, '38.89,-77.03'),
 (207315733, 3574, '1995-06-02', 38.87, -76.9, '38.87,-76.9'),
 (818032444, 11228, '1978-11-22', 38.89, -77.03, '38.89,-77.03'),
 (768116700, 5041, '1987-02-02', 38.83, -76.92, '38.83,-76.92'),
 (123949505, 8915, '1955-01-04', 38.89, -77.03, '38.89,-77.03'),
 (864207130, 8714, '1963-04-05', 38.87, -76.9, '38.87,-76.9'),
 (387370916, 9508, '1967-04-19', 38.89, -77.03, '38.89,-77.03'),
 (178261612, 1889, '1996-10-11', 38.89, -77.03, '38.89,-77.03'),
 (127882264, 8145, '1983-10-12', 38.89, -77.03, '38.89,-77.03'),
 (691182754, 2106, '1993-02-07', 38.89, -77.03, '38.89,-77.03'),
 (448221057, 1235, '1949-12-28', 38.8, -76.99, '38.8,-76.99'),
 (623595022, 6213, '1982-10-23', 38.89, -77.03, '38.89,-77.03'),
 (183806451, 4956, '1962-06-18', 38.89, -77.03, '38.89,-77.03'),
 (563606911, 17070, '1952-03-12', 38.89, -77.03, '38.89,-77.03'),
 (340448581, 5035, '1962-04-10', 38.95, -76.95, '38.95,-76.95'),
 (391235416, 4700, '1971-09-27', 38.98, -77.0, '38.98,-77.0'),
 (847150037, 16370, '1968-10-26', 38.89, -77.03, '38.89,-77.03'),
 (357862934, 18445, '1955-02-10', 38.82, -77.08, '38.82,-77.08'),
 (250514026, 3621, '1995-12-30', 38.89, -77.03, '38.89,-77.03'),
 (389293692, 4789, '1984-07-02', 38.89, -77.03, '38.89,-77.03'),
 (915754433, 7952, '1979-03-12', 38.82, -77.08, '38.82,-77.08'),
 (359788881, 3087, '1950-03-10', 38.89, -77.03, '38.89,-77.03'),
 (885509780, 20276, '1936-02-01', 38.94, -77.19, '38.94,-77.19'),
 (722008914, 8477, '1960-11-28', 38.89, -77.03, '38.89,-77.03'),
 (680321317, 1069, '1977-08-31', 38.95, -76.95, '38.95,-76.95'),
 (542453560, 11215, '1956-03-10', 38.95, -76.95, '38.95,-76.95'),
 (724385364, 14098, '1957-02-13', 38.89, -77.03, '38.89,-77.03'),
 (810717286, 2213, '1966-05-21', 38.82, -77.08, '38.82,-77.08'),
 (435248990, 12288, '1980-07-12', 38.8, -76.99, '38.8,-76.99'),
 (345431972, 6579, '1951-10-25', 38.87, -76.9, '38.87,-76.9'),
 (329990584, 4505, '1958-01-19', 38.87, -77.1, '38.87,-77.1'),
 (909134213, 11811, '1966-02-20', 38.8, -76.94, '38.8,-76.94'),
 (939766576, 13787, '1971-12-08', 38.8, -76.94, '38.8,-76.94'),
 (150236816, 23120, '1943-10-01', 38.89, -77.03, '38.89,-77.03'),
 (409332696, 8292, '1956-07-26', 39.01, -77.02, '39.01,-77.02'),
 (320224325, 3545, '2006-02-07', 38.8, -76.99, '38.8,-76.99'),
 (499160136, 8392, '1991-02-01', 38.89, -77.03, '38.89,-77.03'),
 (734533097, 18873, '1944-03-09', 38.89, -77.03, '38.89,-77.03'),
 (454277162, 2004, '1992-03-09', 38.89, -77.03, '38.89,-77.03'),
 (654674639, 12442, '1959-11-19', 38.89, -77.03, '38.89,-77.03'),
 (131064684, 5671, '1974-01-10', 38.89, -77.03, '38.89,-77.03'),
 (865269732, 3441, '1996-11-27', 38.89, -77.03, '38.89,-77.03'),
 (534338091, 14610, '1933-06-17', 38.89, -77.03, '38.89,-77.03'),
 (573118449, 5523, '1946-03-16', 38.8, -76.94, '38.8,-76.94'),
 (872026969, 10329, '1959-01-31', 38.89, -77.03, '38.89,-77.03'),
 (195310232, 1810, '1965-12-28', 38.89, -77.03, '38.89,-77.03'),
 (849963083, 15722, '1968-08-26', 38.89, -77.03, '38.89,-77.03'),
 (518325304, 4077, '1986-12-20', 38.87, -76.9, '38.87,-76.9'),
 (356478107, 11774, '1984-08-20', 38.95, -76.95, '38.95,-76.95'),
 (849702019, 6148, '1970-02-13', 38.89, -77.03, '38.89,-77.03'),
 (369160529, 13959, '1971-01-29', 38.89, -77.03, '38.89,-77.03'),
 (303448722, 13029, '1961-12-16', 38.89, -77.03, '38.89,-77.03'),
 (453073841, 16013, '1967-10-13', 38.89, -77.03, '38.89,-77.03'),
 (192662793, 4259, '1988-01-13', 38.89, -77.03, '38.89,-77.03'),
 (974567154, 7828, '1959-07-05', 38.89, -77.03, '38.89,-77.03'),
 (687675856, 12332, '1974-10-12', 38.89, -77.03, '38.89,-77.03'),
 (444748332, 7102, '1980-08-07', 38.89, -77.03, '38.89,-77.03'),
 (439208830, 14531, '1967-08-21', 38.87, -77.1, '38.87,-77.1'),
 (774902686, 23361, '1949-02-23', 38.89, -77.03, '38.89,-77.03'),
 (865527273, 16465, '1965-11-10', 38.89, -77.03, '38.89,-77.03'),
 (431831487, 7845, '1967-03-18', 38.89, -77.03, '38.89,-77.03'),
 (542780912, 3007, '1983-09-23', 38.94, -76.96, '38.94,-76.96'),
 (725040308, 14172, '1977-11-02', 39.01, -77.02, '39.01,-77.02'),
 (364779820, 4661, '1988-04-12', 38.89, -77.03, '38.89,-77.03'),
 (453216113, 2442, '1989-08-01', 39.01, -77.02, '39.01,-77.02'),
 (571708886, 722, '1989-01-28', 38.89, -77.03, '38.89,-77.03'),
 (258034397, 6556, '1954-04-16', 38.89, -77.03, '38.89,-77.03'),
 (387556927, 18564, '1946-05-18', 38.89, -77.03, '38.89,-77.03'),
 (772537751, 2578, '1987-04-30', 38.89, -77.03, '38.89,-77.03'),
 (319039062, 6575, '1975-11-22', 38.89, -77.03, '38.89,-77.03'),
 (451417241, 2612, '1964-07-13', 38.95, -76.95, '38.95,-76.95'),
 (180911588, 12037, '1944-02-20', 38.87, -77.1, '38.87,-77.1'),
 (514335399, 5936, '1997-07-20', 38.89, -77.03, '38.89,-77.03'),
 (167875220, 2533, '2006-10-31', 38.87, -76.9, '38.87,-76.9'),
 (746202841, 23261, '1940-05-02', 38.98, -77.12, '38.98,-77.12'),
 (272679122, 2754, '1977-02-18', 38.89, -77.03, '38.89,-77.03'),
 (607523451, 1598, '1977-07-13', 38.89, -77.03, '38.89,-77.03'),
 (215923721, 8427, '1985-01-05', 38.95, -76.95, '38.95,-76.95'),
 (759428926, 22381, '1946-10-10', 38.89, -77.03, '38.89,-77.03'),
 (174329686, 7363, '1952-06-30', 38.89, -77.03, '38.89,-77.03'),
 (803338354, 568, '1991-11-14', 38.89, -77.03, '38.89,-77.03'),
 (901007880, 14718, '1967-08-02', 38.89, -77.03, '38.89,-77.03'),
 (818785515, 6616, '1980-03-29', 38.95, -76.95, '38.95,-76.95'),
 (693143842, 6401, '1978-07-25', 39.01, -77.02, '39.01,-77.02'),
 (317958170, 3634, '1980-02-04', 38.82, -77.08, '38.82,-77.08'),
 (185548352, 26061, '1932-03-15', 38.89, -77.03, '38.89,-77.03'),
 (269230431, 3759, '1999-06-14', 38.89, -77.03, '38.89,-77.03'),
 (351310050, 6173, '1984-11-30', 38.8, -76.94, '38.8,-76.94'),
 (919629696, 6046, '1947-11-03', 38.95, -76.95, '38.95,-76.95'),
 (652643245, 5008, '1994-07-26', 38.89, -77.03, '38.89,-77.03'),
 (494923223, 694, '2007-04-04', 38.95, -76.95, '38.95,-76.95'),
 (812344860, 1894, '1963-12-12', 38.89, -77.03, '38.89,-77.03'),
 (391675822, 1876, '1965-12-22', 38.87, -77.1, '38.87,-77.1'),
 (815554243, 10025, '1967-06-23', 38.89, -77.03, '38.89,-77.03'),
 (688796432, 6565, '1992-06-29', 38.95, -76.95, '38.95,-76.95'),
 (499916737, 13038, '1970-11-07', 38.89, -77.03, '38.89,-77.03'),
 (137412931, 10610, '1951-04-05', 38.89, -77.03, '38.89,-77.03'),
 (723363996, 11610, '1964-04-05', 38.89, -77.03, '38.89,-77.03'),
 (617663089, 11371, '1984-06-24', 38.95, -76.95, '38.95,-76.95'),
 (396668273, 5217, '1997-03-08', 38.89, -77.03, '38.89,-77.03'),
 (600480406, 2170, '1982-05-21', 38.89, -77.03, '38.89,-77.03'),
 (679930553, 1627, '1967-09-26', 38.89, -77.03, '38.89,-77.03'),
 (914132591, 11732, '1969-12-10', 39.01, -77.02, '39.01,-77.02'),
 (453415293, 23618, '1952-01-20', 38.8, -76.94, '38.8,-76.94'),
 (377817163, 7529, '1965-06-13', 38.89, -77.03, '38.89,-77.03'),
 (407087850, 15281, '1955-03-30', 38.89, -77.03, '38.89,-77.03'),
 (395830056, 2426, '1979-06-28', 38.87, -77.1, '38.87,-77.1'),
 (925262953, 14822, '1968-09-06', 38.89, -77.03, '38.89,-77.03'),
 (653918557, 19579, '1948-04-09', 38.89, -77.03, '38.89,-77.03'),
 (480264732, 27288, '1928-02-18', 39.01, -77.02, '39.01,-77.02'),
 (256415279, 3662, '1982-10-28', 38.89, -77.03, '38.89,-77.03'),
 (337916182, 1686, '1992-10-05', 39.01, -77.02, '39.01,-77.02'),
 (719691162, 1304, '2004-09-18', 38.95, -76.95, '38.95,-76.95'),
 (933065931, 1137, '2006-12-17', 38.95, -76.95, '38.95,-76.95'),
 (520538578, 289, '1951-11-14', 38.98, -77.0, '38.98,-77.0'),
 (498243804, 8919, '1987-10-07', 38.87, -77.1, '38.87,-77.1'),
 (940671773, 5656, '1965-04-17', 38.87, -77.1, '38.87,-77.1'),
 (461653749, 4026, '1996-05-17', 38.89, -77.03, '38.89,-77.03'),
 (925874928, 21551, '1945-02-07', 38.89, -77.03, '38.89,-77.03'),
 (795119331, 10832, '1980-07-16', 38.89, -77.03, '38.89,-77.03'),
 (372351717, 7667, '1937-06-29', 38.83, -76.92, '38.83,-76.92'),
 (427169404, 5771, '1992-11-27', 38.89, -77.03, '38.89,-77.03'),
 (798442558, 9611, '1986-12-13', 38.89, -77.03, '38.89,-77.03'),
 (319825268, 1018, '2008-07-18', 38.98, -77.0, '38.98,-77.0'),
 (941986615, 8867, '1986-12-03', 38.95, -76.95, '38.95,-76.95'),
 (124561441, 3700, '1987-11-21', 38.89, -77.03, '38.89,-77.03'),
 (925262953, 10082, '1968-09-06', 38.89, -77.03, '38.89,-77.03'),
 (158095289, 1735, '1951-05-06', 38.89, -77.03, '38.89,-77.03'),
 (789118187, 3085, '1952-07-05', 38.89, -77.03, '38.89,-77.03'),
 (505230477, 7417, '1993-06-23', 38.89, -77.03, '38.89,-77.03'),
 (340074807, 6049, '1995-08-05', 38.89, -77.03, '38.89,-77.03'),
 (297946041, 7645, '1992-08-20', 38.8, -76.94, '38.8,-76.94'),
 (660373474, 1740, '1972-05-20', 38.89, -77.03, '38.89,-77.03'),
 (337566460, 5014, '1995-09-14', 38.98, -77.0, '38.98,-77.0'),
 (542294762, 6214, '1953-08-30', 38.87, -77.1, '38.87,-77.1'),
 (361236705, 5597, '1997-10-18', 38.89, -77.03, '38.89,-77.03'),
 (232258668, 2754, '1997-03-23', 38.89, -77.03, '38.89,-77.03'),
 (165247550, 7544, '1977-02-25', 38.89, -77.03, '38.89,-77.03'),
 (488997193, 10858, '1967-06-21', 38.89, -77.03, '38.89,-77.03'),
 (229600734, 12485, '1968-03-31', 38.94, -76.95, '38.94,-76.95'),
 (320699638, 4020, '1991-11-16', 38.87, -77.1, '38.87,-77.1'),
 (943475001, 6413, '1997-04-24', 38.89, -77.03, '38.89,-77.03'),
 (821422049, 7075, '1988-10-25', 39.01, -77.02, '39.01,-77.02'),
 (885991317, 15888, '1964-02-04', 38.87, -76.9, '38.87,-76.9'),
 (587497820, 1807, '1962-05-22', 38.89, -77.03, '38.89,-77.03'),
 (628183224, 7381, '1973-03-27', 38.98, -77.12, '38.98,-77.12'),
 (664653320, 3358, '1988-09-20', 38.89, -77.03, '38.89,-77.03'),
 (383853998, 18282, '1942-09-26', 38.89, -77.03, '38.89,-77.03'),
 (427749347, 13807, '1956-07-24', 38.87, -76.9, '38.87,-76.9'),
 (500164920, 832, '1986-09-12', 38.94, -76.96, '38.94,-76.96'),
 (357839688, 13985, '1974-11-02', 38.89, -77.03, '38.89,-77.03'),
 (732408194, 1678, '1996-03-16', 38.87, -76.9, '38.87,-76.9'),
 (622200170, 13344, '1959-12-01', 38.83, -76.92, '38.83,-76.92'),
 (767337591, 11161, '1985-09-28', 38.89, -77.03, '38.89,-77.03'),
 (536278946, 8779, '1984-03-25', 38.87, -77.1, '38.87,-77.1'),
 (431104838, 1644, '1977-02-26', 38.89, -77.03, '38.89,-77.03'),
 (472860294, 5523, '1945-05-07', 38.89, -77.03, '38.89,-77.03'),
 (240441646, 7638, '1989-06-08', 38.95, -76.95, '38.95,-76.95'),
 (570453905, 15179, '1973-05-24', 38.89, -77.03, '38.89,-77.03'),
 (657118062, 23196, '1933-01-22', 38.94, -76.95, '38.94,-76.95'),
 (757762787, 2108, '1993-08-08', 38.89, -77.03, '38.89,-77.03'),
 (559240086, 19206, '1964-07-22', 38.87, -77.1, '38.87,-77.1'),
 (297195530, 12358, '1971-11-22', 38.89, -77.03, '38.89,-77.03'),
 (544824399, 5004, '1961-04-30', 38.89, -77.03, '38.89,-77.03'),
 (970346722, 16902, '1960-03-14', 38.83, -76.92, '38.83,-76.92'),
 (611052299, 21112, '1945-04-11', 38.89, -77.03, '38.89,-77.03'),
 (444716998, 23412, '1947-07-04', 38.94, -76.96, '38.94,-76.96'),
 (762515732, 7562, '1993-09-02', 38.87, -77.1, '38.87,-77.1'),
 (243500942, 5855, '1997-10-31', 38.98, -77.08, '38.98,-77.08'),
 (183304158, 16970, '1957-01-16', 38.89, -77.03, '38.89,-77.03'),
 (575332489, 14304, '1977-07-15', 38.89, -77.03, '38.89,-77.03'),
 (927395491, 14896, '1973-01-24', 38.89, -77.03, '38.89,-77.03'),
 (500758684, 11615, '1953-09-15', 39.01, -77.02, '39.01,-77.02'),
 (879119985, 10859, '1962-04-20', 38.87, -76.9, '38.87,-76.9'),
 (311199129, 6298, '1979-04-25', 38.89, -77.03, '38.89,-77.03'),
 (240403207, 14729, '1969-01-09', 38.8, -76.94, '38.8,-76.94'),
 (974467464, 16532, '1958-10-23', 38.89, -77.03, '38.89,-77.03'),
 (932057570, 10590, '1982-06-18', 38.89, -77.03, '38.89,-77.03'),
 (437253630, 13173, '1969-08-25', 38.94, -77.19, '38.94,-77.19'),
 (694332044, 3443, '1981-05-25', 38.89, -77.03, '38.89,-77.03'),
 (348306496, 7294, '1973-02-28', 38.89, -77.03, '38.89,-77.03'),
 (696807000, 3957, '1995-06-03', 38.89, -77.03, '38.89,-77.03'),
 (591113915, 6976, '1992-06-18', 38.89, -77.03, '38.89,-77.03'),
 (922610824, 6037, '1973-07-18', 38.89, -77.03, '38.89,-77.03'),
 (863088051, 6284, '1986-08-28', 39.01, -77.02, '39.01,-77.02'),
 (886787037, 7355, '1961-07-12', 38.89, -77.03, '38.89,-77.03'),
 (540261706, 4978, '1956-10-30', 38.94, -76.96, '38.94,-76.96'),
 (137174907, 4515, '1991-05-10', 38.89, -77.03, '38.89,-77.03'),
 (240968417, 9429, '1971-06-15', 38.94, -77.19, '38.94,-77.19'),
 (756615731, 2380, '1951-09-19', 38.89, -77.03, '38.89,-77.03'),
 (123985806, 8088, '1984-07-22', 38.89, -77.03, '38.89,-77.03'),
 (282146129, 6456, '1981-06-28', 38.89, -77.03, '38.89,-77.03'),
 (975761517, 3993, '1985-09-02', 39.01, -77.02, '39.01,-77.02'),
 (699431688, 16274, '1971-02-15', 38.89, -77.03, '38.89,-77.03'),
 (319538455, 5118, '1968-03-20', 38.89, -77.03, '38.89,-77.03'),
 (729010445, 8200, '1971-02-27', 38.89, -77.03, '38.89,-77.03'),
 (834013097, 12068, '1968-05-02', 38.98, -77.12, '38.98,-77.12'),
 (543013174, 17259, '1952-12-08', 38.8, -76.99, '38.8,-76.99'),
 (883407137, 7915, '1983-12-01', 38.89, -77.03, '38.89,-77.03'),
 (141756688, 16348, '1961-07-13', 38.89, -77.03, '38.89,-77.03'),
 (549191279, 17016, '1962-11-20', 38.8, -76.99, '38.8,-76.99'),
 (314905547, 8687, '1966-10-11', 38.89, -77.03, '38.89,-77.03'),
 (780505273, 1978, '1982-07-07', 38.89, -77.03, '38.89,-77.03'),
 (734669111, 8527, '1965-09-11', 38.89, -77.03, '38.89,-77.03'),
 (685075073, 9552, '1964-01-12', 38.83, -76.92, '38.83,-76.92'),
 (727982922, 1766, '1988-03-29', 38.89, -77.03, '38.89,-77.03'),
 (158332806, 21308, '1916-09-07', 38.89, -77.03, '38.89,-77.03'),
 (539369429, 8547, '1941-01-22', 38.89, -77.03, '38.89,-77.03'),
 (825010021, 12229, '1952-06-02', 38.89, -77.03, '38.89,-77.03'),
 (193904770, 29499, '1925-03-27', 38.94, -77.19, '38.94,-77.19'),
 (587148425, 4699, '1946-06-08', 38.89, -77.03, '38.89,-77.03'),
 (486651285, 7669, '1979-01-29', 38.89, -77.03, '38.89,-77.03'),
 (947811806, 27073, '1921-09-05', 38.89, -77.03, '38.89,-77.03'),

 (205420694, 12641, '1952-07-08', 38.98, -77.0, '38.98,-77.0'),
 (178093724, 4745, '1993-05-27', 38.89, -77.03, '38.89,-77.03'),
 (160122291, 11487, '1983-09-14', 38.89, -77.03, '38.89,-77.03'),
 (251317163, 8343, '1976-04-08', 38.89, -77.03, '38.89,-77.03'),
 (789992134, 5537, '1988-11-25', 38.89, -77.03, '38.89,-77.03'),
 (813729381, 2184, '1988-05-03', 38.87, -77.1, '38.87,-77.1'),
 (512201779, 8225, '1994-05-02', 38.95, -76.95, '38.95,-76.95'),
 (143108985, 12563, '1971-05-06', 38.89, -77.03, '38.89,-77.03'),
 (598286046, 878, '1960-11-29', 38.89, -77.03, '38.89,-77.03'),
 (589733080, 805, '1990-01-04', 38.89, -77.03, '38.89,-77.03'),
 (223541279, 11277, '1970-08-20', 38.95, -76.95, '38.95,-76.95'),
 (134117162, 5135, '1958-08-09', 38.89, -77.03, '38.89,-77.03'),
 (826725004, 8963, '1969-01-05', 38.95, -76.95, '38.95,-76.95'),
 (254600818, 4993, '1984-07-16', 38.89, -77.03, '38.89,-77.03'),
 (667831880, 12933, '1977-07-30', 38.89, -77.03, '38.89,-77.03'),
 (638120256, 19769, '1946-07-27', 38.89, -77.03, '38.89,-77.03'),
 (402071750, 10625, '1967-12-30', 38.89, -77.03, '38.89,-77.03'),
 (525801263, 18490, '1933-08-25', 38.89, -77.03, '38.89,-77.03'),
 (871097429, 1594, '2007-02-18', 38.89, -77.03, '38.89,-77.03'),
 (291537123, 3548, '1998-03-02', 38.89, -77.03, '38.89,-77.03'),
 (840210497, 2046, '1968-09-29', 38.95, -76.95, '38.95,-76.95'),
 (423997517, 7422, '1953-03-26', 38.98, -77.12, '38.98,-77.12'),
 (618576727, 9813, '1950-11-15', 38.89, -77.03, '38.89,-77.03'),
 (379031324, 29008, '1932-02-17', 38.89, -77.03, '38.89,-77.03'),
 (457798065, 10626, '1969-04-18', 38.89, -77.03, '38.89,-77.03'),
 (188559813, 4415, '1954-03-22', 38.89, -77.03, '38.89,-77.03'),
 (698667785, 2084, '1986-05-03', 38.89, -77.03, '38.89,-77.03'),
 (213106423, 22848, '1950-01-17', 38.89, -77.03, '38.89,-77.03'),
 (514878301, 5936, '1993-05-01', 38.89, -77.03, '38.89,-77.03'),
 (573831980, 12641, '1958-08-28', 38.82, -77.08, '38.82,-77.08'),
 (757880499, 5152, '2001-12-10', 38.89, -77.03, '38.89,-77.03'),
 (855105180, 4948, '1986-03-11', 38.87, -76.9, '38.87,-76.9'),
 (404375978, 9873, '1969-07-10', 38.89, -77.03, '38.89,-77.03'),
 (698057037, 1424, '1938-04-26', 38.95, -76.95, '38.95,-76.95'),
 (389522017, 2674, '1992-05-03', 38.89, -77.03, '38.89,-77.03'),
 (352354293, 6312, '1986-01-18', 38.98, -77.0, '38.98,-77.0'),
 (755351833, 8785, '1983-07-21', 38.89, -77.03, '38.89,-77.03'),
 (458985621, 6626, '1959-03-02', 38.95, -76.95, '38.95,-76.95'),
 (541735595, 907, '1933-11-07', 38.89, -77.03, '38.89,-77.03'),
 (304561931, 24173, '1934-11-04', 38.89, -77.03, '38.89,-77.03'),
 (404505716, 18469, '1952-03-03', 38.8, -76.94, '38.8,-76.94'),
 (721155947, 998, '1974-01-08', 38.95, -76.95, '38.95,-76.95'),
 (480275921, 6556, '1967-09-05', 38.89, -77.03, '38.89,-77.03'),
 (789918736, 12214, '1967-11-07', 38.95, -76.95, '38.95,-76.95'),
 (490245137, 20926, '1956-11-04', 38.87, -76.9, '38.87,-76.9'),
 (559276265, 10579, '1970-10-18', 38.89, -77.03, '38.89,-77.03'),
 (439105212, 9953, '1937-04-17', 38.8, -76.99, '38.8,-76.99'),
 (587000926, 6626, '1977-02-14', 38.87, -76.9, '38.87,-76.9'),
 (937683929, 9183, '1990-05-22', 38.94, -76.95, '38.94,-76.95'),
 (817588813, 9833, '1988-05-07', 38.83, -76.92, '38.83,-76.92'),
 (649564183, 9022, '1962-08-25', 38.89, -77.03, '38.89,-77.03'),
 (941264167, 6462, '1988-06-16', 38.82, -77.08, '38.82,-77.08'),
 (777814852, 11257, '1976-09-26', 38.87, -77.1, '38.87,-77.1'),
 (851425437, 8521, '1975-09-23', 38.95, -76.95, '38.95,-76.95'),
 (818672857, 9498, '1968-11-25', 38.95, -76.95, '38.95,-76.95'),
 (284843040, 14453, '1936-08-15', 38.8, -76.94, '38.8,-76.94'),
 (533051969, 2804, '1987-12-09', 38.89, -77.03, '38.89,-77.03'),
 (759845035, 1471, '1961-10-15', 38.89, -77.03, '38.89,-77.03'),
 (408303110, 2429, '1957-02-12', 38.89, -77.03, '38.89,-77.03'),
 (628478479, 3394, '1952-06-17', 38.98, -77.12, '38.98,-77.12'),
 (657881406, 12611, '1962-11-16', 38.89, -77.03, '38.89,-77.03'),
 (337535531, 5491, '1983-01-31', 38.87, -77.1, '38.87,-77.1'),
 (951930416, 3070, '1982-09-26', 38.89, -77.03, '38.89,-77.03'),
 (179465292, 8651, '1985-11-19', 38.95, -76.95, '38.95,-76.95'),
 (478955366, 18532, '1933-11-30', 38.89, -77.03, '38.89,-77.03'),
 (247573538, 14724, '1969-06-03', 38.98, -77.12, '38.98,-77.12'),
 (983497838, 3272, '1995-10-02', 38.89, -77.03, '38.89,-77.03'),
 (897434017, 3982, '1990-05-23', 38.98, -77.0, '38.98,-77.0'),
 (574804781, 6038, '1989-09-25', 38.83, -76.92, '38.83,-76.92'),
 (788319206, 14001, '1964-06-05', 38.89, -77.03, '38.89,-77.03'),
 (339392719, 11273, '1952-12-21', 38.8, -76.94, '38.8,-76.94'),
 (595492788, 4878, '1987-11-05', 38.89, -77.03, '38.89,-77.03'),
 (961639613, 4640, '1990-08-26', 38.89, -77.03, '38.89,-77.03'),
 (914898055, 24301, '1919-06-20', 38.87, -77.1, '38.87,-77.1'),
 (649952557, 2617, '1976-02-02', 38.89, -77.03, '38.89,-77.03'),
 (716624939, 6733, '1980-02-18', 38.89, -77.03, '38.89,-77.03'),
 (759632381, 6114, '1993-03-21', 39.01, -77.02, '39.01,-77.02'),
 (675500895, 5244, '1956-04-15', 38.89, -77.03, '38.89,-77.03'),
 (138889264, 9917, '1979-12-12', 38.98, -77.12, '38.98,-77.12'),
 (834276646, 7876, '1970-06-21', 38.87, -77.1, '38.87,-77.1'),
 (315694294, 21650, '1925-12-08', 38.89, -77.03, '38.89,-77.03'),
 (408303110, 12646, '1957-02-12', 38.89, -77.03, '38.89,-77.03'),
 (125343213, 6487, '1972-02-27', 39.01, -77.02, '39.01,-77.02'),
 (195310232, 14269, '1965-12-28', 38.89, -77.03, '38.89,-77.03'),
 (721992413, 18772, '1948-06-12', 38.89, -77.03, '38.89,-77.03'),
 (757967521, 13559, '1944-03-16', 38.89, -77.03, '38.89,-77.03'),
 (618976413, 31215, '1918-04-27', 39.01, -77.02, '39.01,-77.02'),
 (256304058, 3968, '1996-04-24', 38.89, -77.03, '38.89,-77.03'),
 (848340564, 17771, '1949-10-17', 39.01, -77.02, '39.01,-77.02'),
 (508429381, 4365, '1939-06-12', 38.89, -77.03, '38.89,-77.03'),
 (727237863, 14902, '1936-04-17', 38.8, -76.94, '38.8,-76.94'),
 (688794038, 18147, '1955-01-12', 38.89, -77.03, '38.89,-77.03'),
 (815197018, 7536, '1985-12-24', 38.87, -77.1, '38.87,-77.1'),
 (350468657, 9349, '1966-12-16', 38.8, -76.99, '38.8,-76.99'),
 (685090214, 3310, '1974-11-03', 38.98, -77.12, '38.98,-77.12'),
 (359619446, 20337, '1955-06-02', 38.89, -77.03, '38.89,-77.03'),
 (674385573, 6113, '1952-09-20', 38.89, -77.03, '38.89,-77.03'),
 (816342099, 11338, '1978-06-23', 38.89, -77.03, '38.89,-77.03'),
 (645289293, 6234, '1985-07-12', 38.89, -77.03, '38.89,-77.03'),
 (449812080, 2517, '1979-08-20', 39.01, -77.02, '39.01,-77.02'),
 (372709959, 13878, '1957-01-23', 39.01, -77.02, '39.01,-77.02'),
 (360583817, 2633, '2005-01-11', 38.89, -77.03, '38.89,-77.03'),
 (742871209, 4052, '1943-03-16', 38.89, -77.03, '38.89,-77.03'),
 (983864705, 2964, '1989-07-17', 38.82, -77.08, '38.82,-77.08'),
 (413720561, 10647, '1976-04-01', 38.89, -77.03, '38.89,-77.03'),
 (736963380, 2132, '1988-08-01', 38.89, -77.03, '38.89,-77.03'),
 (150613064, 6158, '1996-11-08', 38.94, -76.96, '38.94,-76.96'),
 (875121040, 2403, '1997-05-26', 38.89, -77.03, '38.89,-77.03'),
 (420543941, 7088, '1965-05-20', 38.89, -77.03, '38.89,-77.03'),
 (759330880, 3005, '1986-11-14', 38.82, -77.08, '38.82,-77.08'),
 (604534662, 6797, '1946-11-12', 38.89, -77.03, '38.89,-77.03'),
 (631334639, 1552, '1978-05-10', 38.89, -77.03, '38.89,-77.03'),
 (676132318, 6754, '1980-06-10', 38.8, -76.94, '38.8,-76.94'),
 (270950735, 6383, '1996-12-07', 38.89, -77.03, '38.89,-77.03'),
 (309678973, 7937, '1985-06-09', 38.98, -77.0, '38.98,-77.0'),
 (286535858, 12135, '1981-07-12', 38.89, -77.03, '38.89,-77.03'),
 (128701621, 3779, '1992-03-14', 38.89, -77.03, '38.89,-77.03'),
 (186894709, 12077, '1968-07-04', 38.87, -77.1, '38.87,-77.1'),
 (282119170, 6939, '1980-08-16', 38.8, -76.94, '38.8,-76.94'),
 (233232379, 1629, '1987-08-09', 38.94, -77.19, '38.94,-77.19'),
 (389848887, 15701, '1933-12-28', 38.89, -77.03, '38.89,-77.03'),
 (927395491, 9905, '1973-01-24', 38.89, -77.03, '38.89,-77.03'),
 (421516885, 7504, '1962-10-17', 38.83, -76.92, '38.83,-76.92'),
 (489618920, 4788, '1983-12-11', 38.98, -77.0, '38.98,-77.0'),
 (672153122, 2924, '1966-04-05', 38.89, -77.03, '38.89,-77.03'),
 (511244364, 19726, '1920-12-13', 38.89, -77.03, '38.89,-77.03'),
 (263994918, 6780, '1954-10-28', 38.89, -77.03, '38.89,-77.03'),
 (973327487, 8083, '1946-01-25', 38.89, -77.03, '38.89,-77.03'),
 (373232384, 5821, '1987-05-25', 38.8, -76.94, '38.8,-76.94'),
 (599523750, 2822, '1984-08-23', 38.87, -77.1, '38.87,-77.1'),
 (746202841, 18250, '1940-05-02', 38.98, -77.12, '38.98,-77.12'),
 (734758032, 21874, '1946-08-03', 38.89, -77.03, '38.89,-77.03'),
 (418295808, 12934, '1965-08-28', 38.89, -77.03, '38.89,-77.03'),
 (228182163, 1377, '1988-11-08', 38.89, -77.03, '38.89,-77.03'),
 (903895929, 8719, '1975-05-25', 38.89, -77.03, '38.89,-77.03'),
 (128568928, 1363, '1990-07-17', 38.89, -77.03, '38.89,-77.03'),
 (131634176, 10753, '1973-04-20', 38.8, -76.99, '38.8,-76.99'),
 (649464439, 12689, '1954-07-16', 38.89, -77.03, '38.89,-77.03'),
 (368618990, 1244, '1997-03-31', 38.89, -77.03, '38.89,-77.03'),
 (851955040, 8523, '1991-09-25', 38.89, -77.03, '38.89,-77.03'),
 (919972787, 12750, '1959-09-28', 38.98, -77.12, '38.98,-77.12'),
 (678501158, 2293, '1980-12-08', 38.87, -76.9, '38.87,-76.9'),
 (495223247, 4416, '1965-05-28', 38.98, -77.12, '38.98,-77.12'),
 (358451264, 5145, '1982-09-07', 38.94, -77.19, '38.94,-77.19'),
 (981571177, 10656, '1974-01-22', 38.89, -77.03, '38.89,-77.03'),
 (661114275, 6817, '1967-05-23', 38.89, -77.03, '38.89,-77.03'),
 (910942718, 812, '1997-08-25', 38.89, -77.03, '38.89,-77.03'),
 (505380329, 11237, '1946-10-24', 38.89, -77.03, '38.89,-77.03'),
 (280567991, 5311, '1972-09-07', 38.98, -77.08, '38.98,-77.08'),
 (188596765, 18410, '1958-03-10', 38.89, -77.03, '38.89,-77.03'),
 (241403300, 20949, '1950-03-11', 38.98, -77.08, '38.98,-77.08'),
 (833874711, 963, '1994-08-26', 38.87, -76.9, '38.87,-76.9'),
 (333508711, 18956, '1944-09-24', 38.94, -77.19, '38.94,-77.19'),
 (394149242, 6083, '1988-11-20', 38.89, -77.03, '38.89,-77.03'),
 (589336869, 10338, '1987-03-22', 38.89, -77.03, '38.89,-77.03'),
 (875571144, 9787, '1948-05-07', 38.98, -77.12, '38.98,-77.12'),
 (429828829, 2361, '1962-05-14', 38.83, -76.92, '38.83,-76.92'),
 (759330880, 5283, '1986-11-14', 38.82, -77.08, '38.82,-77.08'),
 (654728281, 1277, '2002-11-03', 38.8, -76.99, '38.8,-76.99'),
 (813256913, 571, '1960-07-16', 38.87, -77.1, '38.87,-77.1'),
 (849702019, 2696, '1970-02-13', 38.89, -77.03, '38.89,-77.03'),
 (519366260, 19837, '1949-08-11', 38.87, -77.1, '38.87,-77.1'),
 (164868667, 2815, '1993-12-01', 38.89, -77.03, '38.89,-77.03'),
 (674325479, 897, '1975-08-04', 38.98, -77.12, '38.98,-77.12'),
 (452602914, 11702, '1951-02-11', 38.82, -77.08, '38.82,-77.08'),
 (797145637, 2431, '1986-06-28', 38.89, -77.03, '38.89,-77.03'),
 (702445510, 6674, '1995-02-07', 38.89, -77.03, '38.89,-77.03'),
 (425588910, 6954, '1996-06-04', 38.89, -77.03, '38.89,-77.03'),
 (282309882, 13147, '1979-05-22', 38.89, -77.03, '38.89,-77.03'),
 (967454226, 4587, '1981-10-25', 38.82, -77.08, '38.82,-77.08'),
 (234344293, 1709, '1993-03-26', 38.89, -77.03, '38.89,-77.03'),
 (787402779, 5676, '1993-10-08', 38.89, -77.03, '38.89,-77.03'),
 (435608394, 23526, '1943-02-10', 38.89, -77.03, '38.89,-77.03'),
 (407912784, 3123, '1958-08-25', 38.89, -77.03, '38.89,-77.03'),
 (217143740, 11325, '1983-12-14', 38.89, -77.03, '38.89,-77.03'),
 (834276646, 3114, '1970-06-21', 38.87, -77.1, '38.87,-77.1'),
 (258059369, 5186, '1953-01-26', 38.98, -77.08, '38.98,-77.08'),
 (854254291, 13101, '1979-11-12', 38.89, -77.03, '38.89,-77.03'),
 (861832338, 3076, '1991-08-21', 38.89, -77.03, '38.89,-77.03'),
 (456129342, 6841, '1983-11-10', 38.95, -76.95, '38.95,-76.95'),
 (387801034, 18369, '1949-06-16', 38.89, -77.03, '38.89,-77.03'),
 (392782286, 29182, '1936-12-20', 38.89, -77.03, '38.89,-77.03'),
 (841173906, 949, '1973-06-17', 38.89, -77.03, '38.89,-77.03'),
 (738922253, 2313, '2004-01-28', 38.89, -77.03, '38.89,-77.03'),
 (439950147, 20980, '1957-09-10', 38.89, -77.03, '38.89,-77.03'),
 (284195435, 3454, '1987-07-12', 38.89, -77.03, '38.89,-77.03'),
 (710169052, 7906, '1991-07-05', 38.89, -77.03, '38.89,-77.03'),
 (143513878, 21244, '1918-04-23', 38.89, -77.03, '38.89,-77.03'),
 (788448745, 9869, '1966-08-19', 38.89, -77.03, '38.89,-77.03'),
 (632235675, 5247, '1988-08-24', 38.89, -77.03, '38.89,-77.03'),
 (552110544, 7156, '1967-06-13', 38.8, -76.99, '38.8,-76.99'),
 (792942059, 12214, '1972-05-04', 38.87, -76.9, '38.87,-76.9'),
 (300399621, 13878, '1937-03-13', 38.89, -77.03, '38.89,-77.03'),
 (548038398, 3488, '1995-05-17', 38.87, -77.07, '38.87,-77.07'),
 (146090312, 2151, '1957-04-02', 38.89, -77.03, '38.89,-77.03'),
 (800846828, 8033, '1995-07-05', 38.89, -77.03, '38.89,-77.03'),
 (573990743, 17472, '1933-11-10', 38.82, -77.08, '38.82,-77.08'),
 (715528857, 8440, '1950-05-22', 38.8, -76.99, '38.8,-76.99'),
 (844880773, 18984, '1961-07-20', 38.89, -77.03, '38.89,-77.03'),
 (285464984, 6691, '1980-07-25', 38.89, -77.03, '38.89,-77.03'),
 (169570883, 2595, '1995-08-14', 38.89, -77.03, '38.89,-77.03'),
 (865908128, 18114, '1947-06-08', 38.89, -77.03, '38.89,-77.03'),
 (985667646, 11457, '1952-05-07', 38.89, -77.03, '38.89,-77.03'),
 (728461139, 8114, '1989-09-14', 38.89, -77.03, '38.89,-77.03'),
 (787103656, 9528, '1985-07-26', 38.89, -77.03, '38.89,-77.03'),
 (979917341, 15977, '1957-05-27', 38.95, -76.95, '38.95,-76.95'),
 (512133636, 6271, '1984-12-15', 38.89, -77.03, '38.89,-77.03'),
 (898057510, 7959, '1981-04-24', 38.89, -77.03, '38.89,-77.03'),
 (861505131, 2522, '1994-07-30', 38.89, -77.03, '38.89,-77.03'),
 (130864203, 7167, '1970-05-26', 38.89, -77.03, '38.89,-77.03'),
 (813054532, 2973, '1951-07-30', 38.89, -77.03, '38.89,-77.03'),
 (531267302, 8160, '1994-06-05', 38.89, -77.03, '38.89,-77.03'),
 (555532595, 13461, '1941-11-29', 38.82, -77.08, '38.82,-77.08'),
 (333508711, 3437, '1944-09-24', 38.94, -77.19, '38.94,-77.19'),
 (511775283, 6604, '1967-11-04', 38.87, -77.1, '38.87,-77.1'),
 (832850129, 2635, '1964-10-17', 38.8, -76.99, '38.8,-76.99'),
 (398242065, 2262, '1992-08-15', 38.83, -76.92, '38.83,-76.92'),
 (739921147, 8282, '1955-03-29', 38.89, -77.03, '38.89,-77.03'),
 (690407891, 11903, '1971-11-06', 38.94, -77.19, '38.94,-77.19'),
 (178639511, 22594, '1940-10-26', 38.87, -77.1, '38.87,-77.1'),
 (811895497, 498, '1960-04-13', 38.89, -77.03, '38.89,-77.03'),
 (517149438, 13878, '1978-04-09', 38.89, -77.03, '38.89,-77.03'),
 (420309279, 5631, '1994-07-23', 38.89, -77.03, '38.89,-77.03'),
 (940890574, 6176, '1979-11-17', 38.89, -77.03, '38.89,-77.03'),
 (513947118, 16802, '1950-07-10', 38.89, -77.03, '38.89,-77.03'),
 (629913804, 9758, '1958-07-10', 38.89, -77.03, '38.89,-77.03'),
 (157555833, 7787, '1991-03-29', 39.01, -77.02, '39.01,-77.02'),
 (731569664, 13121, '1975-02-01', 38.94, -77.19, '38.94,-77.19'),
 (945772277, 8934, '1991-05-28', 38.98, -77.0, '38.98,-77.0'),
 (682958216, 4724, '1978-04-18', 38.89, -77.03, '38.89,-77.03'),
 (934134211, 11513, '1950-08-24', 38.89, -77.03, '38.89,-77.03'),
 (710616699, 12226, '1983-03-18', 38.8, -76.94, '38.8,-76.94'),
 (921026333, 15839, '1956-01-02', 38.82, -77.08, '38.82,-77.08'),
 (273271779, 1957, '1989-08-14', 38.89, -77.03, '38.89,-77.03'),
 (573358955, 12472, '1952-01-23', 38.89, -77.03, '38.89,-77.03'),
 (425069555, 7442, '1988-07-26', 38.98, -77.08, '38.98,-77.08'),
 (185299209, 2753, '1922-01-24', 38.89, -77.03, '38.89,-77.03'),
 (334774486, 2477, '1988-03-03', 38.89, -77.03, '38.89,-77.03'),
 (437186962, 10656, '1969-12-01', 38.89, -77.03, '38.89,-77.03'),
 (624980695, 6363, '1976-10-08', 38.89, -77.03, '38.89,-77.03'),
 (453693714, 4695, '1976-01-04', 38.89, -77.03, '38.89,-77.03'),
 (305158930, 7200, '1983-09-27', 38.89, -77.03, '38.89,-77.03'),
 (502327079, 7111, '1995-06-12', 38.89, -77.03, '38.89,-77.03'),
 (826891044, 26321, '1917-10-28', 38.89, -77.03, '38.89,-77.03'),
 (636838580, 4870, '1997-05-04', 38.89, -77.03, '38.89,-77.03'),
 (842506247, 17485, '1967-03-31', 38.95, -76.95, '38.95,-76.95'),
 (250849244, 8391, '1969-05-15', 39.01, -77.02, '39.01,-77.02'),
 (537191851, 528, '1979-05-17', 38.87, -76.9, '38.87,-76.9'),
 (680943325, 22017, '1946-05-30', 38.89, -77.03, '38.89,-77.03'),
 (426491162, 1956, '1994-09-03', 38.89, -77.03, '38.89,-77.03'),
 (582067428, 10322, '1987-05-04', 39.01, -77.02, '39.01,-77.02'),
 (410137268, 17789, '1963-06-18', 38.87, -77.1, '38.87,-77.1'),
 (238441192, 5086, '1962-07-08', 38.98, -77.08, '38.98,-77.08'),
 (808391024, 11109, '1982-02-09', 38.89, -77.03, '38.89,-77.03'),
 (669944409, 1384, '1939-01-24', 38.8, -76.94, '38.8,-76.94'),
 (527887882, 14036, '1962-03-01', 38.89, -77.03, '38.89,-77.03'),
 (529577758, 8296, '1983-04-15', 38.89, -77.03, '38.89,-77.03'),
 (212259923, 11066, '1966-11-11', 38.89, -77.03, '38.89,-77.03'),
 (214631811, 4976, '1941-05-24', 38.89, -77.03, '38.89,-77.03'),
 (707088471, 6823, '1991-02-11', 38.89, -77.03, '38.89,-77.03'),
 (834485602, 11002, '1946-07-10', 38.89, -77.03, '38.89,-77.03'),
 (267591914, 9650, '1983-10-31', 38.89, -77.03, '38.89,-77.03'),
 (331277554, 3677, '1931-10-14', 38.98, -77.08, '38.98,-77.08'),
 (254451839, 3509, '1985-08-01', 39.01, -77.02, '39.01,-77.02'),
 (341295912, 11550, '1944-12-09', 38.87, -76.9, '38.87,-76.9'),
 (517199976, 3180, '1967-06-06', 38.89, -77.03, '38.89,-77.03'),
 (147884694, 5044, '1981-01-31', 38.89, -77.03, '38.89,-77.03'),
 (714607883, 4446, '1990-12-18', 38.95, -76.95, '38.95,-76.95'),
 (748812949, 4951, '1997-05-01', 38.89, -77.03, '38.89,-77.03'),
 (142531287, 4823, '1965-04-03', 38.98, -77.08, '38.98,-77.08'),
 (300873820, 5441, '1984-03-04', 39.01, -77.02, '39.01,-77.02'),
 (356537706, 3202, '1996-12-03', 38.89, -77.03, '38.89,-77.03'),
 (311062951, 933, '1963-02-10', 38.89, -77.03, '38.89,-77.03'),
 (539923497, 3469, '1990-12-25', 38.89, -77.03, '38.89,-77.03'),
 (720764384, 2538, '1994-12-24', 38.89, -77.03, '38.89,-77.03'),
 (646047503, 12264, '1979-06-23', 38.89, -77.03, '38.89,-77.03'),
 (254657344, 19813, '1936-11-10', 38.98, -77.08, '38.98,-77.08'),
 (969936118, 6071, '1934-01-12', 38.89, -77.03, '38.89,-77.03'),
 (722382993, 6774, '1981-02-26', 38.89, -77.03, '38.89,-77.03'),
 (371526625, 3188, '1955-03-25', 38.89, -77.03, '38.89,-77.03'),
 (583207495, 12495, '1976-09-29', 39.01, -77.02, '39.01,-77.02'),
 (314152339, 20807, '1955-09-21', 38.89, -77.03, '38.89,-77.03'),
 (281179991, 9574, '1955-09-12', 38.89, -77.03, '38.89,-77.03'),
 (327612343, 2851, '1988-03-30', 38.95, -76.95, '38.95,-76.95'),
 (630274887, 1604, '2007-01-21', 38.87, -77.1, '38.87,-77.1'),
 (626121809, 2092, '1987-09-27', 38.89, -77.03, '38.89,-77.03'),
 (538804132, 17893, '1951-10-25', 39.01, -77.02, '39.01,-77.02'),
 (171013001, 4910, '1991-12-20', 38.89, -77.03, '38.89,-77.03'),
 (956898048, 8553, '1975-03-21', 38.89, -77.03, '38.89,-77.03'),
 (138129079, 9173, '1962-12-11', 38.82, -77.08, '38.82,-77.08'),
 (183671401, 4366, '1996-03-11', 38.89, -77.03, '38.89,-77.03'),
 (522153108, 9630, '1988-02-06', 38.89, -77.03, '38.89,-77.03'),
 (302060457, 16306, '1965-12-02', 38.98, -77.12, '38.98,-77.12'),
 (932057570, 8020, '1982-06-18', 38.89, -77.03, '38.89,-77.03'),
 (915305573, 673, '1988-04-20', 38.89, -77.03, '38.89,-77.03'),
 (942155677, 4654, '1997-08-06', 38.89, -77.03, '38.89,-77.03'),
 (437845457, 2040, '1955-01-25', 38.89, -77.03, '38.89,-77.03'),
 (674664962, 3719, '2004-12-18', 38.8, -76.94, '38.8,-76.94'),
 (769881309, 7721, '1971-03-15', 38.89, -77.03, '38.89,-77.03'),
 (323333615, 3143, '1989-10-18', 38.82, -77.08, '38.82,-77.08'),
 (716669899, 13502, '1954-02-14', 38.89, -77.03, '38.89,-77.03'),
 (707382220, 6145, '1983-04-24', 38.89, -77.03, '38.89,-77.03'),
 (970841550, 7641, '1972-06-21', 38.8, -76.94, '38.8,-76.94'),
 (846375046, 2101, '1992-01-21', 38.89, -77.03, '38.89,-77.03'),
 (436341084, 6296, '1986-08-17', 38.95, -76.95, '38.95,-76.95'),
 (475080220, 2998, '1956-10-31', 38.94, -77.19, '38.94,-77.19'),
 (820865796, 7203, '1976-04-06', 38.89, -77.03, '38.89,-77.03'),

 (725155754, 6698, '1980-11-09', 39.01, -77.02, '39.01,-77.02'),
 (934035160, 3403, '1988-07-17', 38.95, -76.95, '38.95,-76.95'),
 (729976805, 22565, '1941-12-26', 38.89, -77.03, '38.89,-77.03'),
 (395731954, 5768, '1957-01-19', 38.95, -76.95, '38.95,-76.95'),
 (447163697, 12335, '1968-08-13', 38.98, -77.08, '38.98,-77.08'),
 (759651142, 3591, '1974-12-09', 38.89, -77.03, '38.89,-77.03'),
 (684793178, 13541, '1964-05-27', 38.89, -77.03, '38.89,-77.03'),
 (769696891, 2281, '1963-07-09', 38.89, -77.03, '38.89,-77.03'),
 (638120256, 14242, '1946-07-27', 38.89, -77.03, '38.89,-77.03'),
 (978269677, 647, '1990-03-11', 38.89, -77.03, '38.89,-77.03'),
 (703177720, 9835, '1977-03-23', 38.95, -76.95, '38.95,-76.95'),
 (608974664, 6199, '1956-06-16', 38.95, -76.95, '38.95,-76.95'),
 (457744644, 4406, '1989-02-27', 38.87, -77.1, '38.87,-77.1'),
 (237811778, 11574, '1969-08-02', 38.8, -76.94, '38.8,-76.94'),
 (980797042, 4085, '2002-12-30', 38.89, -77.03, '38.89,-77.03'),
 (380012260, 7801, '1971-12-14', 38.98, -77.0, '38.98,-77.0'),
 (147893521, 1804, '1993-03-14', 38.89, -77.03, '38.89,-77.03'),
 (858064890, 8072, '1951-11-22', 39.01, -77.02, '39.01,-77.02'),
 (944544645, 21855, '1944-12-06', 38.87, -77.1, '38.87,-77.1'),
 (881541257, 7950, '1943-11-14', 38.89, -77.03, '38.89,-77.03'),
 (871346650, 2940, '1988-08-30', 38.89, -77.03, '38.89,-77.03'),
 (660800170, 11964, '1971-01-10', 38.87, -77.1, '38.87,-77.1'),
 (323191413, 3673, '1990-07-22', 38.87, -77.1, '38.87,-77.1'),
 (152575145, 6235, '1982-06-15', 38.89, -77.03, '38.89,-77.03'),
 (768208982, 4380, '1983-06-27', 38.87, -76.9, '38.87,-76.9'),
 (511590663, 10238, '1972-09-17', 38.89, -77.03, '38.89,-77.03'),
 (336173045, 5995, '1955-10-21', 38.98, -77.0, '38.98,-77.0'),
 (632543874, 1174, '1995-11-10', 38.8, -76.94, '38.8,-76.94'),
 (814028858, 9834, '1977-12-31', 38.87, -77.1, '38.87,-77.1'),
 (798180634, 1489, '1997-05-06', 38.89, -77.03, '38.89,-77.03'),
 (491265554, 15112, '1962-02-02', 38.95, -76.95, '38.95,-76.95'),
 (341582968, 17289, '1958-08-01', 38.83, -76.92, '38.83,-76.92'),
 (444998582, 5994, '1990-01-03', 38.89, -77.03, '38.89,-77.03'),
 (971720355, 18374, '1955-03-30', 38.98, -77.08, '38.98,-77.08'),
 (173940713, 2161, '1984-03-01', 38.89, -77.03, '38.89,-77.03'),
 (972944268, 7131, '1990-04-05', 38.95, -76.95, '38.95,-76.95'),
 (220178839, 2287, '1955-07-21', 38.89, -77.03, '38.89,-77.03'),
 (592473556, 14686, '1967-11-11', 38.89, -77.03, '38.89,-77.03'),
 (241250963, 7265, '1981-08-16', 38.89, -77.03, '38.89,-77.03'),
 (199046363, 6204, '1978-07-16', 39.01, -77.02, '39.01,-77.02'),
 (418107274, 13634, '1975-12-30', 38.89, -77.03, '38.89,-77.03'),
 (882729567, 15982, '1971-02-06', 38.89, -77.03, '38.89,-77.03'),
 (784705943, 11231, '1982-06-10', 38.87, -77.1, '38.87,-77.1'),
 (817091132, 5392, '1992-04-11', 38.89, -77.03, '38.89,-77.03'),
 (981647131, 8979, '1981-01-27', 38.98, -77.08, '38.98,-77.08'),
 (509030163, 4809, '1986-04-21', 38.89, -77.03, '38.89,-77.03'),
 (340101546, 6890, '1989-12-25', 38.89, -77.03, '38.89,-77.03'),
 (500941376, 3805, '1986-03-10', 38.89, -77.03, '38.89,-77.03'),
 (786664357, 1703, '1945-04-22', 38.89, -77.03, '38.89,-77.03'),
 (672221409, 1891, '1995-08-07', 38.8, -76.94, '38.8,-76.94'),
 (718512151, 978, '1984-03-05', 39.01, -77.02, '39.01,-77.02'),
 (710534916, 23921, '1946-03-26', 38.89, -77.03, '38.89,-77.03'),
 (392782286, 18653, '1936-12-20', 38.89, -77.03, '38.89,-77.03'),
 (973544890, 710, '1972-04-14', 38.89, -77.03, '38.89,-77.03'),
 (972676528, 11260, '1982-03-12', 38.95, -76.95, '38.95,-76.95'),
 (529577758, 3788, '1983-04-15', 38.89, -77.03, '38.89,-77.03'),
 (396624490, 15150, '1953-04-27', 38.89, -77.03, '38.89,-77.03'),
 (869594652, 8534, '1990-04-27', 38.89, -77.03, '38.89,-77.03'),
 (907252855, 2139, '1996-05-28', 38.89, -77.03, '38.89,-77.03'),
 (888799452, 7138, '1983-08-07', 38.89, -77.03, '38.89,-77.03'),
 (456311253, 1257, '1990-08-13', 38.89, -77.03, '38.89,-77.03'),
 (566071799, 8999, '1981-02-04', 38.87, -76.9, '38.87,-76.9'),
 (869874775, 18749, '1957-12-20', 38.98, -77.12, '38.98,-77.12'),
 (217444173, 2598, '1985-02-07', 38.89, -77.03, '38.89,-77.03'),
 (256248247, 2827, '1959-09-21', 38.89, -77.03, '38.89,-77.03'),
 (256637909, 12702, '1980-02-28', 38.89, -77.03, '38.89,-77.03'),
 (228633845, 3184, '1984-10-08', 38.89, -77.03, '38.89,-77.03'),
 (672979341, 1217, '1968-01-31', 38.89, -77.03, '38.89,-77.03'),
 (525801263, 29340, '1933-08-25', 38.89, -77.03, '38.89,-77.03'),
 (133961473, 11399, '1953-12-12', 38.8, -76.94, '38.8,-76.94'),
 (192033846, 16973, '1963-05-10', 38.87, -76.9, '38.87,-76.9'),
 (454822711, 7887, '1992-08-05', 38.87, -77.1, '38.87,-77.1'),
 (274281924, 6527, '1989-03-09', 38.94, -76.96, '38.94,-76.96'),
 (134500138, 18800, '1960-04-24', 38.89, -77.03, '38.89,-77.03'),
 (687671555, 15824, '1952-01-12', 38.98, -77.12, '38.98,-77.12'),
 (725644659, 5312, '1994-04-01', 39.01, -77.02, '39.01,-77.02'),
 (456634159, 5066, '1994-05-13', 38.89, -77.03, '38.89,-77.03'),
 (499470956, 10205, '1985-11-01', 38.87, -77.1, '38.87,-77.1'),
 (439624807, 3531, '1951-03-10', 38.87, -76.9, '38.87,-76.9'),
 (445086582, 11057, '1980-06-19', 38.95, -76.95, '38.95,-76.95'),
 (632940796, 6374, '1990-05-23', 38.89, -77.03, '38.89,-77.03'),
 (426936857, 6830, '1956-11-01', 38.87, -77.1, '38.87,-77.1'),
 (948331719, 15838, '1953-12-07', 38.89, -77.03, '38.89,-77.03'),
 (134086703, 10734, '1981-11-22', 38.89, -77.03, '38.89,-77.03'),
 (818767353, 8714, '1985-05-03', 38.98, -77.08, '38.98,-77.08'),
 (699994851, 10438, '1960-12-01', 38.8, -76.99, '38.8,-76.99'),
 (631334639, 6588, '1978-05-10', 38.89, -77.03, '38.89,-77.03'),
 (935768011, 18685, '1962-03-09', 38.87, -77.1, '38.87,-77.1'),
 (796416246, 18735, '1962-09-05', 38.82, -77.08, '38.82,-77.08'),
 (738765998, 5244, '1992-12-06', 38.8, -76.94, '38.8,-76.94'),
 (293371325, 4972, '1991-03-11', 38.89, -77.03, '38.89,-77.03'),
 (338503482, 11508, '1966-01-22', 38.94, -76.96, '38.94,-76.96'),
 (424897164, 1234, '2006-09-10', 38.89, -77.03, '38.89,-77.03'),
 (934351715, 8099, '1983-01-29', 38.82, -77.08, '38.82,-77.08'),
 (241403471, 14605, '1947-07-27', 38.82, -77.08, '38.82,-77.08'),
 (349333368, 2062, '1992-01-16', 38.89, -77.03, '38.89,-77.03'),
 (716983941, 3936, '1974-01-09', 38.82, -77.08, '38.82,-77.08'),
 (619439090, 4976, '1971-11-07', 38.89, -77.03, '38.89,-77.03'),
 (416723741, 25016, '1933-09-10', 38.95, -76.95, '38.95,-76.95'),
 (305491023, 8569, '1959-06-28', 39.01, -77.02, '39.01,-77.02'),
 (564667618, 7404, '1994-03-12', 38.89, -77.03, '38.89,-77.03'),
 (680943325, 8985, '1946-05-30', 38.89, -77.03, '38.89,-77.03'),
 (453859711, 3518, '1995-05-08', 38.89, -77.03, '38.89,-77.03'),
 (784705943, 1206, '1982-06-10', 38.87, -77.1, '38.87,-77.1'),
 (808550457, 827, '1990-08-13', 38.89, -77.03, '38.89,-77.03'),
 (514438740, 457, '1992-01-23', 38.89, -77.03, '38.89,-77.03'),
 (497681159, 8369, '1967-08-31', 38.8, -76.99, '38.8,-76.99'),
 (309002014, 8704, '1989-02-11', 38.89, -77.03, '38.89,-77.03'),
 (691555494, 1255, '1958-04-02', 38.89, -77.03, '38.89,-77.03'),
 (746513695, 1681, '1996-03-08', 38.8, -76.94, '38.8,-76.94'),
 (781923256, 4492, '1992-03-01', 38.95, -76.95, '38.95,-76.95'),
 (521404506, 7126, '1977-08-02', 38.82, -77.08, '38.82,-77.08'),
 (875814758, 9161, '1986-02-03', 38.98, -77.0, '38.98,-77.0'),
 (826155079, 10391, '1967-05-08', 38.82, -77.08, '38.82,-77.08'),
 (186282048, 12748, '1966-03-23', 38.89, -77.03, '38.89,-77.03'),
 (961258014, 8980, '1966-04-22', 38.98, -77.08, '38.98,-77.08'),
 (498082532, 7355, '1970-07-27', 38.89, -77.03, '38.89,-77.03'),
 (405315479, 13416, '1946-12-17', 38.89, -77.03, '38.89,-77.03'),
 (735131829, 7833, '1970-06-23', 38.89, -77.03, '38.89,-77.03'),
 (433235181, 7464, '1970-11-04', 38.89, -77.03, '38.89,-77.03'),
 (280712199, 9959, '1944-01-21', 38.89, -77.03, '38.89,-77.03'),
 (750888746, 8668, '1988-06-03', 39.01, -77.02, '39.01,-77.02'),
 (265784772, 15968, '1922-07-27', 38.95, -76.95, '38.95,-76.95'),
 (386282535, 13730, '1976-07-25', 38.8, -76.99, '38.8,-76.99'),
 (705382640, 7481, '1960-08-02', 38.87, -77.1, '38.87,-77.1'),
 (416122293, 18755, '1958-08-19', 38.89, -77.03, '38.89,-77.03'),
 (334009312, 3795, '1987-03-01', 38.89, -77.03, '38.89,-77.03'),
 (176175851, 5105, '1997-12-09', 38.95, -76.95, '38.95,-76.95'),
 (905242507, 6877, '1994-12-23', 38.89, -77.03, '38.89,-77.03'),
 (773695747, 3941, '1969-06-20', 38.83, -76.92, '38.83,-76.92'),
 (380355364, 10585, '1978-11-20', 39.01, -77.02, '39.01,-77.02'),
 (920752795, 15954, '1954-01-19', 38.98, -77.12, '38.98,-77.12'),
 (646399685, 3048, '1983-10-08', 38.94, -76.96, '38.94,-76.96'),
 (288714129, 3779, '1973-11-05', 38.87, -77.1, '38.87,-77.1'),
 (806839674, 4372, '1996-09-19', 38.89, -77.03, '38.89,-77.03'),
 (624328577, 7544, '1983-06-08', 38.89, -77.03, '38.89,-77.03'),
 (334307996, 8762, '1988-02-28', 38.89, -77.03, '38.89,-77.03'),
 (336173045, 10670, '1955-10-21', 38.98, -77.0, '38.98,-77.0'),
 (864852900, 16718, '1921-06-01', 39.01, -77.02, '39.01,-77.02'),
 (915852742, 6852, '1967-10-11', 38.94, -77.19, '38.94,-77.19'),
 (434541763, 7920, '1988-07-14', 38.94, -77.19, '38.94,-77.19'),
 (278926949, 11953, '1944-08-23', 38.89, -77.03, '38.89,-77.03'),
 (849417384, 6660, '1991-10-23', 38.89, -77.03, '38.89,-77.03'),
 (698941122, 17533, '1967-07-04', 38.89, -77.03, '38.89,-77.03'),
 (434544908, 12300, '1964-07-13', 38.89, -77.03, '38.89,-77.03'),
 (558826969, 9626, '1961-08-18', 38.8, -76.99, '38.8,-76.99'),
 (739178532, 6979, '1978-08-23', 38.89, -77.03, '38.89,-77.03'),
 (489716313, 5669, '1991-06-06', 38.89, -77.03, '38.89,-77.03'),
 (370992634, 15439, '1949-05-20', 38.87, -76.9, '38.87,-76.9'),
 (647087826, 1484, '1925-08-08', 38.89, -77.03, '38.89,-77.03'),
 (207510433, 25102, '1946-05-27', 38.8, -76.94, '38.8,-76.94'),
 (421516885, 14120, '1962-10-17', 38.83, -76.92, '38.83,-76.92'),
 (453809777, 25009, '1937-05-15', 38.98, -77.0, '38.98,-77.0'),
 (231761782, 10677, '1981-12-10', 38.89, -77.03, '38.89,-77.03'),
 (811226408, 3945, '1991-11-23', 38.87, -77.1, '38.87,-77.1'),
 (620172945, 15044, '1952-06-17', 38.94, -77.19, '38.94,-77.19'),
 (718181916, 16579, '1934-01-13', 38.94, -76.96, '38.94,-76.96'),
 (699596020, 2029, '1972-10-24', 38.87, -77.1, '38.87,-77.1'),
 (229827349, 5371, '1965-02-14', 38.94, -77.19, '38.94,-77.19'),
 (354424519, 23130, '1938-02-23', 38.83, -76.92, '38.83,-76.92'),
 (176627104, 3954, '1961-11-17', 38.89, -77.03, '38.89,-77.03'),
 (178535515, 6686, '1984-09-14', 38.89, -77.03, '38.89,-77.03'),
 (675480568, 7041, '1952-07-03', 38.94, -77.19, '38.94,-77.19'),
 (346295461, 6409, '1981-03-31', 38.89, -77.03, '38.89,-77.03'),
 (520378729, 3407, '1987-08-15', 38.89, -77.03, '38.89,-77.03'),
 (248179855, 9059, '1981-11-06', 38.89, -77.03, '38.89,-77.03'),
 (796533514, 13429, '1967-10-18', 38.89, -77.03, '38.89,-77.03'),
 (281186169, 10210, '1956-12-23', 38.87, -76.9, '38.87,-76.9'),
 (434282966, 10742, '1971-02-13', 38.95, -76.95, '38.95,-76.95'),
 (747879102, 25900, '1935-02-03', 38.89, -77.03, '38.89,-77.03'),
 (512278766, 9882, '1984-07-15', 38.89, -77.03, '38.89,-77.03'),
 (916295683, 4179, '1990-02-20', 38.89, -77.03, '38.89,-77.03'),
 (889460213, 6194, '1988-03-13', 38.89, -77.03, '38.89,-77.03'),
 (221428312, 23650, '1936-03-18', 38.98, -77.08, '38.98,-77.08'),
 (309132473, 22847, '1950-01-13', 38.89, -77.03, '38.89,-77.03'),
 (845727180, 2881, '1973-12-24', 38.83, -76.92, '38.83,-76.92'),
 (253139257, 4927, '1995-04-17', 38.89, -77.03, '38.89,-77.03'),
 (740396180, 7009, '1985-10-04', 38.89, -77.03, '38.89,-77.03'),
 (940113976, 5178, '1979-05-03', 38.89, -77.03, '38.89,-77.03'),
 (911921790, 3564, '1951-04-23', 38.89, -77.03, '38.89,-77.03'),
 (583603542, 5977, '1957-05-02', 38.89, -77.03, '38.89,-77.03'),
 (954702611, 28297, '1935-08-12', 38.89, -77.03, '38.89,-77.03'),
 (664597374, 12336, '1935-11-29', 38.94, -77.19, '38.94,-77.19'),
 (432747166, 20789, '1955-01-31', 38.89, -77.03, '38.89,-77.03'),
 (641641827, 2153, '1983-12-11', 38.89, -77.03, '38.89,-77.03'),
 (144699897, 3357, '1977-07-10', 38.89, -77.03, '38.89,-77.03'),
 (299585961, 207, '1990-09-08', 38.87, -77.1, '38.87,-77.1'),
 (489647754, 1658, '1972-07-30', 38.89, -77.03, '38.89,-77.03'),
 (644249781, 13527, '1964-07-08', 38.98, -77.0, '38.98,-77.0'),
 (621341350, 3901, '1992-05-09', 39.01, -77.02, '39.01,-77.02'),
 (709160279, 4491, '1979-04-02', 38.98, -77.0, '38.98,-77.0'),
 (620225836, 10565, '1984-09-08', 38.89, -77.03, '38.89,-77.03'),
 (659247895, 8093, '1989-08-09', 38.89, -77.03, '38.89,-77.03'),
 (879945683, 4264, '1968-12-25', 38.95, -76.95, '38.95,-76.95'),
 (269856765, 6837, '1969-04-01', 38.95, -76.95, '38.95,-76.95'),
 (684775623, 4386, '1980-04-12', 38.82, -77.08, '38.82,-77.08'),
 (577118994, 14622, '1973-08-27', 38.89, -77.03, '38.89,-77.03'),
 (704988208, 6031, '1986-03-01', 38.89, -77.03, '38.89,-77.03'),
 (670832633, 11779, '1982-10-22', 38.95, -76.95, '38.95,-76.95'),
 (573358955, 7079, '1952-01-23', 38.89, -77.03, '38.89,-77.03'),
 (447600935, 1409, '1992-05-02', 38.87, -77.1, '38.87,-77.1'),
 (363836215, 7068, '1995-07-01', 38.89, -77.03, '38.89,-77.03'),
 (131095654, 3771, '1996-11-25', 38.87, -77.1, '38.87,-77.1'),
 (834673377, 6621, '1989-01-16', 38.89, -77.03, '38.89,-77.03'),
 (802183885, 6019, '1991-02-11', 38.89, -77.03, '38.89,-77.03'),
 (662898342, 7862, '1981-10-14', 38.89, -77.03, '38.89,-77.03'),
 (614385639, 8199, '1976-04-26', 38.89, -77.03, '38.89,-77.03'),
 (850826088, 3079, '1959-06-06', 38.89, -77.03, '38.89,-77.03'),
 (214128265, 4334, '1972-02-23', 38.89, -77.03, '38.89,-77.03'),
 (815064810, 11386, '1974-09-26', 38.89, -77.03, '38.89,-77.03'),
 (223865772, 8120, '1986-03-27', 38.95, -76.95, '38.95,-76.95'),
 (528577910, 4479, '1973-12-24', 38.89, -77.03, '38.89,-77.03'),
 (501386120, 1353, '1993-10-23', 38.89, -77.03, '38.89,-77.03'),
 (569883974, 4570, '1988-07-24', 38.98, -77.0, '38.98,-77.0'),
 (772064739, 2244, '1992-06-24', 38.87, -77.07, '38.87,-77.07'),
 (639984968, 7874, '1994-04-09', 38.89, -77.03, '38.89,-77.03'),
 (740805256, 6885, '1984-03-18', 38.89, -77.03, '38.89,-77.03'),
 (491008825, 2210, '1937-12-02', 38.89, -77.03, '38.89,-77.03'),
 (765406370, 5041, '1984-01-15', 38.89, -77.03, '38.89,-77.03'),
 (223924024, 467, '1996-08-02', 38.89, -77.03, '38.89,-77.03'),
 (982377371, 9814, '1989-09-26', 38.89, -77.03, '38.89,-77.03'),
 (269512125, 8196, '1992-03-13', 38.82, -77.08, '38.82,-77.08'),
 (293742184, 18630, '1954-01-19', 38.89, -77.03, '38.89,-77.03'),
 (531246106, 3962, '1986-08-05', 38.95, -76.95, '38.95,-76.95'),
 (342909659, 22782, '1946-06-09', 38.87, -77.1, '38.87,-77.1'),
 (866976637, 8830, '1986-11-06', 39.01, -77.02, '39.01,-77.02'),
 (656315891, 14775, '1963-03-16', 38.89, -77.03, '38.89,-77.03'),
 (296232314, 9844, '1965-03-09', 38.89, -77.03, '38.89,-77.03'),
 (331927379, 2891, '1986-12-02', 38.89, -77.03, '38.89,-77.03'),
 (586844550, 7378, '1995-11-15', 38.89, -77.03, '38.89,-77.03'),
 (598350720, 2193, '1991-03-13', 38.89, -77.03, '38.89,-77.03'),
 (568824758, 18884, '1952-01-02', 38.98, -77.12, '38.98,-77.12'),
 (688096709, 1235, '1995-01-10', 38.89, -77.03, '38.89,-77.03'),
 (608423142, 9162, '1982-06-05', 38.95, -76.95, '38.95,-76.95'),
 (372523218, 3129, '1994-02-12', 38.89, -77.03, '38.89,-77.03'),
 (321837134, 2895, '1950-12-27', 38.89, -77.03, '38.89,-77.03'),
 (967685911, 4661, '1969-06-07', 39.01, -77.02, '39.01,-77.02'),
 (225018231, 17161, '1960-02-28', 38.89, -77.03, '38.89,-77.03'),
 (141756688, 8873, '1961-07-13', 38.89, -77.03, '38.89,-77.03'),
 (439105212, 22155, '1937-04-17', 38.8, -76.99, '38.8,-76.99'),
 (848389333, 18084, '1961-01-21', 38.83, -76.92, '38.83,-76.92'),
 (963064806, 1385, '1980-08-14', 38.89, -77.03, '38.89,-77.03'),
 (953162045, 507, '1992-06-15', 38.95, -76.95, '38.95,-76.95'),
 (285572381, 11742, '1970-08-22', 38.95, -76.95, '38.95,-76.95'),
 (241403300, 11122, '1950-03-11', 38.98, -77.08, '38.98,-77.08'),
 (923068137, 2466, '2002-11-14', 38.89, -77.03, '38.89,-77.03'),
 (550750435, 25116, '1936-03-09', 38.89, -77.03, '38.89,-77.03'),
 (759090292, 6094, '1955-04-01', 38.95, -76.95, '38.95,-76.95'),
 (472285760, 3118, '1987-07-21', 38.89, -77.03, '38.89,-77.03'),
 (165382085, 3959, '1989-01-29', 38.89, -77.03, '38.89,-77.03'),
 (962308461, 712, '1983-10-20', 38.82, -77.08, '38.82,-77.08'),
 (417647739, 16883, '1967-05-03', 38.89, -77.03, '38.89,-77.03'),
 (527739680, 6666, '1968-06-03', 39.01, -77.02, '39.01,-77.02'),
 (679423115, 7441, '1994-05-10', 38.98, -77.12, '38.98,-77.12'),
 (336753251, 5301, '1984-01-15', 38.87, -76.9, '38.87,-76.9'),
 (735722046, 14542, '1941-06-18', 38.89, -77.03, '38.89,-77.03'),
 (893757425, 8322, '1987-12-17', 38.89, -77.03, '38.89,-77.03'),
 (739265286, 4692, '1979-06-07', 38.89, -77.03, '38.89,-77.03'),
 (448492052, 5578, '1921-04-20', 38.98, -77.08, '38.98,-77.08'),
 (646780453, 6447, '1985-05-09', 38.89, -77.03, '38.89,-77.03'),
 (895127971, 8490, '1974-09-19', 38.89, -77.03, '38.89,-77.03'),
 (288083124, 26663, '1939-06-25', 38.98, -77.08, '38.98,-77.08'),
 (547407442, 6512, '1986-12-30', 38.89, -77.03, '38.89,-77.03'),
 (611052299, 21701, '1945-04-11', 38.89, -77.03, '38.89,-77.03'),
 (410573981, 536, '1952-04-02', 38.8, -76.94, '38.8,-76.94'),
 (899187256, 964, '1955-04-22', 38.89, -77.03, '38.89,-77.03'),
 (178447726, 3387, '1993-05-01', 38.89, -77.03, '38.89,-77.03'),
 (309193346, 8854, '1962-10-16', 38.89, -77.03, '38.89,-77.03'),
 (516079315, 3831, '1977-06-07', 38.89, -77.03, '38.89,-77.03'),
 (540766002, 1233, '1927-06-08', 38.94, -77.19, '38.94,-77.19'),
 (598656597, 1400, '1980-03-19', 38.98, -77.08, '38.98,-77.08'),
 (251711798, 7716, '1981-05-08', 38.89, -77.03, '38.89,-77.03'),
 (325141954, 19749, '1952-06-08', 38.94, -77.19, '38.94,-77.19'),
 (573118449, 606, '1946-03-16', 38.8, -76.94, '38.8,-76.94'),
 (484430321, 3442, '1984-02-01', 38.89, -77.03, '38.89,-77.03'),
 (559682884, 5508, '1996-08-20', 38.89, -77.03, '38.89,-77.03'),
 (694332044, 7301, '1981-05-25', 38.89, -77.03, '38.89,-77.03'),
 (325041828, 13957, '1973-11-11', 38.89, -77.03, '38.89,-77.03'),
 (774902686, 3976, '1949-02-23', 38.89, -77.03, '38.89,-77.03'),
 (281593716, 1619, '1988-02-05', 38.98, -77.0, '38.98,-77.0'),
 (846285533, 6015, '1951-03-13', 38.89, -77.03, '38.89,-77.03'),
 (861262678, 8145, '1991-06-15', 38.87, -76.9, '38.87,-76.9'),
 (297084849, 12923, '1974-07-20', 38.89, -77.03, '38.89,-77.03'),
 (781158411, 16578, '1948-02-19', 38.87, -76.9, '38.87,-76.9'),
 (936282911, 8082, '1975-01-03', 38.89, -77.03, '38.89,-77.03'),
 (398880518, 1078, '1994-05-23', 38.89, -77.03, '38.89,-77.03'),
 (569436924, 13768, '1969-12-04', 38.95, -76.95, '38.95,-76.95'),
 (810930934, 18370, '1940-02-26', 38.89, -77.03, '38.89,-77.03'),
 (265601514, 3718, '1957-10-14', 38.8, -76.99, '38.8,-76.99'),
 (376386479, 2754, '1954-02-06', 38.89, -77.03, '38.89,-77.03'),
 (782223287, 10568, '1971-09-09', 38.89, -77.03, '38.89,-77.03'),
 (371820595, 1048, '1980-09-11', 38.89, -77.03, '38.89,-77.03'),
 (800886809, 13521, '1978-03-09', 38.87, -76.9, '38.87,-76.9'),
 (148674180, 8591, '1991-04-26', 38.89, -77.03, '38.89,-77.03'),
 (734758032, 2897, '1946-08-03', 38.89, -77.03, '38.89,-77.03'),
 (664147006, 3352, '1966-06-10', 38.8, -76.99, '38.8,-76.99'),
 (595412470, 10453, '1948-02-16', 38.89, -77.03, '38.89,-77.03'),
 (540752109, 701, '1931-01-17', 38.87, -77.1, '38.87,-77.1'),
 (765356807, 10863, '1984-11-10', 38.89, -77.03, '38.89,-77.03'),
 (919629696, 1039, '1947-11-03', 38.95, -76.95, '38.95,-76.95'),
 (414257226, 15138, '1946-08-27', 38.89, -77.03, '38.89,-77.03'),
 (845937736, 5515, '1981-04-24', 38.89, -77.03, '38.89,-77.03'),
 (855610077, 9395, '1985-01-30', 38.94, -76.96, '38.94,-76.96'),
 (744983346, 9803, '1979-05-26', 38.94, -76.95, '38.94,-76.95'),
 (823812278, 2943, '2003-06-24', 38.89, -77.03, '38.89,-77.03'),
 (577514325, 4444, '1933-01-02', 38.89, -77.03, '38.89,-77.03'),
 (227116782, 7102, '1978-03-10', 38.89, -77.03, '38.89,-77.03'),
 (876461737, 15151, '1952-08-23', 38.89, -77.03, '38.89,-77.03'),

item, p
1
id                  381740996
ageOfDxInDays            3976
dateAtDx           1963-04-18
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 1, dtype: object
1963-04-18
38.94
item, p
2
id                  770375887
ageOfDxInDays            4602
dateAtDx           1992-04-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 2, dtype: object
1992-04-24
38.89
item, p
3
id                  567452750
ageOfDxInDays            2338
dateAtDx           1995-02-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 3, dtype: object
1995-02-27
38.89
item, p
4
id                  666544429
ageOfDxInDays            6731
dateAtDx           1989-03-05
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 4, dtype: object
1989-03-05
38.89
item, p
5
id                 545538309
ageOfDxInDays          12206
dateAtDx          1942-07-08
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 5, dtype: object
1942-07-08
38.8
item, p
6
id                 772243798
ageOfDxInDays          14870
dateAtDx          1954-07-06
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 6, dtype: object
1954-07-06
38.87
item, p
7
id                  228368759
ageOfDxInDays           16237
dateAtDx           1958-05-31
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 7, dtype: object
1958-05-31
38.89
item, p
8
id                  383853998
ageOfDxInDays            4840
dateAtDx           1942-09-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 8, dtype: object
1942-09-26
38.89
item, p
9
id                  383267724
ageOfDxInDays            6341
dateAtDx           1991-01-29
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 9, dtype: object
1991-01-29
38.98
item, p
10
id                 561513328
ageOfDxInDays          17677
dateAtDx          1952-10-05
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 10, dtype: object
1952-10-05
38.87
item, p
11
id                  933538820
ageOfDxInDays           10463
dateAtDx           1985-08-17
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 11, dtype: object
1985-08-17
38.89
item, p
12
id                  773183620
ageOfDxInDays           21689
dateAtDx           1949-01-21
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 12, dtype: object
1949-01-21
38.89
item, p
13
id                  248509890
ageOfDxInDays           10033
dateAtDx           1952-11-08
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 13, dtype: object
1952-11-08
38.95
item, p
14
id                  809015918
ageOfDxInDays           10913
dateAtDx           1976-06-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 14, dtype: object
1976-06-24
38.89
item, p
15
id                  858150638
ageOfDxInDays             829
dateAtDx           1968-10-29
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 15, dtype: object
1968-10-29
38.89
item, p
16
id                  624642874
ageOfDxInDays             478
dateAtDx           1989-08-19
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 16, dtype: object
1989-08-19
38.89
item, p
17
id                 605376370
ageOfDxInDays           5739
dateAtDx          1981-06-03
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 17, dtype: object
1981-06-03
38.8
item, p
18
id                  544530101
ageOfDxInDays            7857
dateAtDx           1989-05-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 18, dtype: object
1989-05-26
38.89
item, p
19
id                  907400314
ageOfDxInDays            5477
dateAtDx           1994-11-20
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 19, dtype: object
1994-11-20
38.89
item, p
20
id                  485187276
ageOfDxInDays            6143
dateAtDx           1990-06-02
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 20, dtype: object
1990-06-02
38.89
item, p
21
id                  555788811
ageOfDxInDays           11567
dateAtDx           1975-08-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 21, dtype: object
1975-08-18
38.89
item, p
22
id                  338503482
ageOfDxInDays           10148
dateAtDx           1966-01-22
lat                     38.94
lon                    -76.96
coordinates      38.94,-76.96
Name: 22, dtype: object
1966-01-22
38.94
item, p
23
id                  901523006
ageOfDxInDays           21542
dateAtDx           1937-01-15
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 23, dtype: object
1937-01-15
38.89
item, p
24
id                  544824399
ageOfDxInDays           17390
dateAtDx           1961-04-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 24, dtype: object
1961-04-30
38.89
item, p
25
id                  399251014
ageOfDxInDays           10657
dateAtDx           1919-07-29
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 25, dtype: object
1919-07-29
38.89
item, p
26
id                 453809777
ageOfDxInDays           7230
dateAtDx          1937-05-15
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 26, dtype: object
1937-05-15
38.98
item, p
27
id                  319321518
ageOfDxInDays            3127
dateAtDx           1986-06-17
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 27, dtype: object
1986-06-17
38.89
item, p
28
id                  546853625
ageOfDxInDays            4566
dateAtDx           1988-02-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 28, dtype: object
1988-02-23
38.89
item, p
29
id                 688884742
ageOfDxInDays           7591
dateAtDx          1963-05-15
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 29, dtype: object
1963-05-15
38.87
item, p
30
id                  332646326
ageOfDxInDays            7253
dateAtDx           1973-01-10
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 30, dtype: object
1973-01-10
38.95
item, p
31
id                  230444650
ageOfDxInDays           24912
dateAtDx           1941-06-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 31, dtype: object
1941-06-27
38.89
item, p
32
id                  586683517
ageOfDxInDays           10886
dateAtDx           1942-09-11
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 32, dtype: object
1942-09-11
38.89
item, p
33
id                 249394936
ageOfDxInDays          13330
dateAtDx          1940-10-12
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 33, dtype: object
1940-10-12
38.8
item, p
34
id                  189172136
ageOfDxInDays           15216
dateAtDx           1962-07-30
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 34, dtype: object
1962-07-30
38.95
item, p
35
id                  461364184
ageOfDxInDays            5290
dateAtDx           1989-02-06
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 35, dtype: object
1989-02-06
38.89
item, p
36
id                  310654056
ageOfDxInDays            9364
dateAtDx           1973-01-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 36, dtype: object
1973-01-25
38.89
item, p
37
id                  769015582
ageOfDxInDays            2354
dateAtDx           1943-03-17
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 37, dtype: object
1943-03-17
38.89
item, p
38
id                  888658271
ageOfDxInDays            2096
dateAtDx           1996-02-15
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 38, dtype: object
1996-02-15
38.94
item, p
39
id                  404596117
ageOfDxInDays           10274
dateAtDx           1982-04-21
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 39, dtype: object
1982-04-21
38.89

item, p
40
id                  437186962
ageOfDxInDays            5373
dateAtDx           1969-12-01
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 40, dtype: object
1969-12-01
38.89
item, p
41
id                  412676963
ageOfDxInDays            7904
dateAtDx           1977-05-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 41, dtype: object
1977-05-25
38.89
item, p
42
id                  385887860
ageOfDxInDays           16162
dateAtDx           1962-08-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 42, dtype: object
1962-08-18
38.89
item, p
43
id                  796962715
ageOfDxInDays           16837
dateAtDx           1951-07-12
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 43, dtype: object
1951-07-12
38.98
item, p
44
id                  140185585
ageOfDxInDays            3458
dateAtDx           1969-04-09
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 44, dtype: object
1969-04-09
38.89
item, p
45
id                 144207367
ageOfDxInDays           4504
dateAtDx          1985-06-24
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 45, dtype: object
1985-06-24
38.8
item, p
46
id                  459010311
ageOfDxInDays           11254
dateAtDx           1982-02-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 46, dtype: object
1982-02-07
38.89
item, p
47
id                  870975192
ageOfDxInDays            7368
dateAtDx           1991-08-20
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 47, dtype: object
1991-08-20
38.95
item, p
48
id                  785418505
ageOfDxInDays           11417
dateAtDx           1985-04-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 48, dtype: object
1985-04-14
38.89
item, p
49
id                 612123136
ageOfDxInDays          19686
dateAtDx          1959-03-31
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 49, dtype: object
1959-03-31
38.87
item, p
50
id                  342820195
ageOfDxInDays            1743
dateAtDx           1982-12-01
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 50, dtype: object
1982-12-01
39.01
item, p
51
id                  894928744
ageOfDxInDays           10488
dateAtDx           1936-02-20
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 51, dtype: object
1936-02-20
38.89
item, p
52
id                  215614864
ageOfDxInDays            6521
dateAtDx           1977-03-19
lat                     38.83
lon                    -76.92
coordinates      38.83,-76.92
Name: 52, dtype: object
1977-03-19
38.83
item, p
53
id                  604670602
ageOfDxInDays           15809
dateAtDx           1958-09-19
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 53, dtype: object
1958-09-19
38.89
item, p
54
id                  554759523
ageOfDxInDays            3613
dateAtDx           1989-09-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 54, dtype: object
1989-09-26
38.89
item, p
55
id                 207315733
ageOfDxInDays           3574
dateAtDx          1995-06-02
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 55, dtype: object
1995-06-02
38.87
item, p
56
id                  818032444
ageOfDxInDays           11228
dateAtDx           1978-11-22
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 56, dtype: object
1978-11-22
38.89
item, p
57
id                  768116700
ageOfDxInDays            5041
dateAtDx           1987-02-02
lat                     38.83
lon                    -76.92
coordinates      38.83,-76.92
Name: 57, dtype: object
1987-02-02
38.83
item, p
58
id                  123949505
ageOfDxInDays            8915
dateAtDx           1955-01-04
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 58, dtype: object
1955-01-04
38.89
item, p
59
id                 864207130
ageOfDxInDays           8714
dateAtDx          1963-04-05
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 59, dtype: object
1963-04-05
38.87
item, p
60
id                  387370916
ageOfDxInDays            9508
dateAtDx           1967-04-19
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 60, dtype: object
1967-04-19
38.89
item, p
61
id                  178261612
ageOfDxInDays            1889
dateAtDx           1996-10-11
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 61, dtype: object
1996-10-11
38.89
item, p
62
id                  127882264
ageOfDxInDays            8145
dateAtDx           1983-10-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 62, dtype: object
1983-10-12
38.89
item, p
63
id                  691182754
ageOfDxInDays            2106
dateAtDx           1993-02-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 63, dtype: object
1993-02-07
38.89
item, p
64
id                 448221057
ageOfDxInDays           1235
dateAtDx          1949-12-28
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 64, dtype: object
1949-12-28
38.8
item, p
65
id                  623595022
ageOfDxInDays            6213
dateAtDx           1982-10-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 65, dtype: object
1982-10-23
38.89
item, p
66
id                  183806451
ageOfDxInDays            4956
dateAtDx           1962-06-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 66, dtype: object
1962-06-18
38.89
item, p
67
id                  563606911
ageOfDxInDays           17070
dateAtDx           1952-03-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 67, dtype: object
1952-03-12
38.89
item, p
68
id                  340448581
ageOfDxInDays            5035
dateAtDx           1962-04-10
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 68, dtype: object
1962-04-10
38.95
item, p
69
id                 391235416
ageOfDxInDays           4700
dateAtDx          1971-09-27
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 69, dtype: object
1971-09-27
38.98
item, p
70
id                  847150037
ageOfDxInDays           16370
dateAtDx           1968-10-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 70, dtype: object
1968-10-26
38.89
item, p
71
id                  357862934
ageOfDxInDays           18445
dateAtDx           1955-02-10
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 71, dtype: object
1955-02-10
38.82
item, p
72
id                  250514026
ageOfDxInDays            3621
dateAtDx           1995-12-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 72, dtype: object
1995-12-30
38.89
item, p
73
id                  389293692
ageOfDxInDays            4789
dateAtDx           1984-07-02
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 73, dtype: object
1984-07-02
38.89
item, p
74
id                  915754433
ageOfDxInDays            7952
dateAtDx           1979-03-12
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 74, dtype: object
1979-03-12
38.82
item, p
75
id                  359788881
ageOfDxInDays            3087
dateAtDx           1950-03-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 75, dtype: object
1950-03-10
38.89
item, p
76
id                  885509780
ageOfDxInDays           20276
dateAtDx           1936-02-01
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 76, dtype: object
1936-02-01
38.94
item, p
77
id                  722008914
ageOfDxInDays            8477
dateAtDx           1960-11-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 77, dtype: object
1960-11-28
38.89
item, p
78
id                  680321317
ageOfDxInDays            1069
dateAtDx           1977-08-31
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 78, dtype: object
1977-08-31
38.95

item, p
79
id                  542453560
ageOfDxInDays           11215
dateAtDx           1956-03-10
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 79, dtype: object
1956-03-10
38.95
item, p
80
id                  724385364
ageOfDxInDays           14098
dateAtDx           1957-02-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 80, dtype: object
1957-02-13
38.89
item, p
81
id                  810717286
ageOfDxInDays            2213
dateAtDx           1966-05-21
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 81, dtype: object
1966-05-21
38.82
item, p
82
id                 435248990
ageOfDxInDays          12288
dateAtDx          1980-07-12
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 82, dtype: object
1980-07-12
38.8
item, p
83
id                 345431972
ageOfDxInDays           6579
dateAtDx          1951-10-25
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 83, dtype: object
1951-10-25
38.87
item, p
84
id                 329990584
ageOfDxInDays           4505
dateAtDx          1958-01-19
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 84, dtype: object
1958-01-19
38.87
item, p
85
id                 909134213
ageOfDxInDays          11811
dateAtDx          1966-02-20
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 85, dtype: object
1966-02-20
38.8
item, p
86
id                 939766576
ageOfDxInDays          13787
dateAtDx          1971-12-08
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 86, dtype: object
1971-12-08
38.8
item, p
87
id                  150236816
ageOfDxInDays           23120
dateAtDx           1943-10-01
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 87, dtype: object
1943-10-01
38.89
item, p
88
id                  409332696
ageOfDxInDays            8292
dateAtDx           1956-07-26
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 88, dtype: object
1956-07-26
39.01
item, p
89
id                 320224325
ageOfDxInDays           3545
dateAtDx          2006-02-07
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 89, dtype: object
2006-02-07
38.8
item, p
90
id                  499160136
ageOfDxInDays            8392
dateAtDx           1991-02-01
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 90, dtype: object
1991-02-01
38.89
item, p
91
id                  734533097
ageOfDxInDays           18873
dateAtDx           1944-03-09
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 91, dtype: object
1944-03-09
38.89
item, p
92
id                  454277162
ageOfDxInDays            2004
dateAtDx           1992-03-09
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 92, dtype: object
1992-03-09
38.89
item, p
93
id                  654674639
ageOfDxInDays           12442
dateAtDx           1959-11-19
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 93, dtype: object
1959-11-19
38.89
item, p
94
id                  131064684
ageOfDxInDays            5671
dateAtDx           1974-01-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 94, dtype: object
1974-01-10
38.89
item, p
95
id                  865269732
ageOfDxInDays            3441
dateAtDx           1996-11-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 95, dtype: object
1996-11-27
38.89
item, p
96
id                  534338091
ageOfDxInDays           14610
dateAtDx           1933-06-17
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 96, dtype: object
1933-06-17
38.89
item, p
97
id                 573118449
ageOfDxInDays           5523
dateAtDx          1946-03-16
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 97, dtype: object
1946-03-16
38.8
item, p
98
id                  872026969
ageOfDxInDays           10329
dateAtDx           1959-01-31
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 98, dtype: object
1959-01-31
38.89
item, p
99
id                  195310232
ageOfDxInDays            1810
dateAtDx           1965-12-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 99, dtype: object
1965-12-28
38.89
item, p
100
id                  849963083
ageOfDxInDays           15722
dateAtDx           1968-08-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 100, dtype: object
1968-08-26
38.89
item, p
101
id                 518325304
ageOfDxInDays           4077
dateAtDx          1986-12-20
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 101, dtype: object
1986-12-20
38.87
item, p
102
id                  356478107
ageOfDxInDays           11774
dateAtDx           1984-08-20
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 102, dtype: object
1984-08-20
38.95
item, p
103
id                  849702019
ageOfDxInDays            6148
dateAtDx           1970-02-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 103, dtype: object
1970-02-13
38.89
item, p
104
id                  369160529
ageOfDxInDays           13959
dateAtDx           1971-01-29
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 104, dtype: object
1971-01-29
38.89
item, p
105
id                  303448722
ageOfDxInDays           13029
dateAtDx           1961-12-16
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 105, dtype: object
1961-12-16
38.89
item, p
106
id                  453073841
ageOfDxInDays           16013
dateAtDx           1967-10-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 106, dtype: object
1967-10-13
38.89
item, p
107
id                  192662793
ageOfDxInDays            4259
dateAtDx           1988-01-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 107, dtype: object
1988-01-13
38.89
item, p
108
id                  974567154
ageOfDxInDays            7828
dateAtDx           1959-07-05
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 108, dtype: object
1959-07-05
38.89
item, p
109
id                  687675856
ageOfDxInDays           12332
dateAtDx           1974-10-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 109, dtype: object
1974-10-12
38.89
item, p
110
id                  444748332
ageOfDxInDays            7102
dateAtDx           1980-08-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 110, dtype: object
1980-08-07
38.89
item, p
111
id                 439208830
ageOfDxInDays          14531
dateAtDx          1967-08-21
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 111, dtype: object
1967-08-21
38.87
item, p
112
id                  774902686
ageOfDxInDays           23361
dateAtDx           1949-02-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 112, dtype: object
1949-02-23
38.89
item, p
113
id                  865527273
ageOfDxInDays           16465
dateAtDx           1965-11-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 113, dtype: object
1965-11-10
38.89
item, p
114
id                  431831487
ageOfDxInDays            7845
dateAtDx           1967-03-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 114, dtype: object
1967-03-18
38.89
item, p
115
id                  542780912
ageOfDxInDays            3007
dateAtDx           1983-09-23
lat                     38.94
lon                    -76.96
coordinates      38.94,-76.96
Name: 115, dtype: object
1983-09-23
38.94
item, p
116
id                  725040308
ageOfDxInDays           14172
dateAtDx           1977-11-02
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 116, dtype: object
1977-11-02
39.01
item, p
117
id                  364779820
ageOfDxInDays            4661
dateAtDx           1988-04-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 117, dtype: object
1988-04-12
38.89
item, p
118
id                  453216113
ageOfDxInDays            2442
dateAtDx           1989-08-01
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 118, dtype: object
1989-08-01
39.01
item, p
119
id                  571708886
ageOfDxInDays             722
dateAtDx           1989-01-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 119, dtype: object
1989-01-28
38.89
item, p
120
id                  258034397
ageOfDxInDays            6556
dateAtDx           1954-04-16
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 120, dtype: object
1954-04-16
38.89
item, p
121
id                  387556927
ageOfDxInDays           18564
dateAtDx           1946-05-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 121, dtype: object
1946-05-18
38.89

item, p
122
id                  772537751
ageOfDxInDays            2578
dateAtDx           1987-04-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 122, dtype: object
1987-04-30
38.89
item, p
123
id                  319039062
ageOfDxInDays            6575
dateAtDx           1975-11-22
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 123, dtype: object
1975-11-22
38.89
item, p
124
id                  451417241
ageOfDxInDays            2612
dateAtDx           1964-07-13
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 124, dtype: object
1964-07-13
38.95
item, p
125
id                 180911588
ageOfDxInDays          12037
dateAtDx          1944-02-20
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 125, dtype: object
1944-02-20
38.87
item, p
126
id                  514335399
ageOfDxInDays            5936
dateAtDx           1997-07-20
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 126, dtype: object
1997-07-20
38.89
item, p
127
id                 167875220
ageOfDxInDays           2533
dateAtDx          2006-10-31
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 127, dtype: object
2006-10-31
38.87
item, p
128
id                  746202841
ageOfDxInDays           23261
dateAtDx           1940-05-02
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 128, dtype: object
1940-05-02
38.98
item, p
129
id                  272679122
ageOfDxInDays            2754
dateAtDx           1977-02-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 129, dtype: object
1977-02-18
38.89
item, p
130
id                  607523451
ageOfDxInDays            1598
dateAtDx           1977-07-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 130, dtype: object
1977-07-13
38.89
item, p
131
id                  215923721
ageOfDxInDays            8427
dateAtDx           1985-01-05
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 131, dtype: object
1985-01-05
38.95
item, p
132
id                  759428926
ageOfDxInDays           22381
dateAtDx           1946-10-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 132, dtype: object
1946-10-10
38.89
item, p
133
id                  174329686
ageOfDxInDays            7363
dateAtDx           1952-06-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 133, dtype: object
1952-06-30
38.89
item, p
134
id                  803338354
ageOfDxInDays             568
dateAtDx           1991-11-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 134, dtype: object
1991-11-14
38.89
item, p
135
id                  901007880
ageOfDxInDays           14718
dateAtDx           1967-08-02
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 135, dtype: object
1967-08-02
38.89
item, p
136
id                  818785515
ageOfDxInDays            6616
dateAtDx           1980-03-29
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 136, dtype: object
1980-03-29
38.95
item, p
137
id                  693143842
ageOfDxInDays            6401
dateAtDx           1978-07-25
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 137, dtype: object
1978-07-25
39.01
item, p
138
id                  317958170
ageOfDxInDays            3634
dateAtDx           1980-02-04
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 138, dtype: object
1980-02-04
38.82
item, p
139
id                  185548352
ageOfDxInDays           26061
dateAtDx           1932-03-15
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 139, dtype: object
1932-03-15
38.89
item, p
140
id                  269230431
ageOfDxInDays            3759
dateAtDx           1999-06-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 140, dtype: object
1999-06-14
38.89
item, p
141
id                 351310050
ageOfDxInDays           6173
dateAtDx          1984-11-30
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 141, dtype: object
1984-11-30
38.8
item, p
142
id                  919629696
ageOfDxInDays            6046
dateAtDx           1947-11-03
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 142, dtype: object
1947-11-03
38.95
item, p
143
id                  652643245
ageOfDxInDays            5008
dateAtDx           1994-07-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 143, dtype: object
1994-07-26
38.89
item, p
144
id                  494923223
ageOfDxInDays             694
dateAtDx           2007-04-04
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 144, dtype: object
2007-04-04
38.95
item, p
145
id                  812344860
ageOfDxInDays            1894
dateAtDx           1963-12-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 145, dtype: object
1963-12-12
38.89
item, p
146
id                 391675822
ageOfDxInDays           1876
dateAtDx          1965-12-22
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 146, dtype: object
1965-12-22
38.87
item, p
147
id                  815554243
ageOfDxInDays           10025
dateAtDx           1967-06-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 147, dtype: object
1967-06-23
38.89
item, p
148
id                  688796432
ageOfDxInDays            6565
dateAtDx           1992-06-29
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 148, dtype: object
1992-06-29
38.95
item, p
149
id                  499916737
ageOfDxInDays           13038
dateAtDx           1970-11-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 149, dtype: object
1970-11-07
38.89
item, p
150
id                  137412931
ageOfDxInDays           10610
dateAtDx           1951-04-05
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 150, dtype: object
1951-04-05
38.89
item, p
151
id                  723363996
ageOfDxInDays           11610
dateAtDx           1964-04-05
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 151, dtype: object
1964-04-05
38.89
item, p
152
id                  617663089
ageOfDxInDays           11371
dateAtDx           1984-06-24
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 152, dtype: object
1984-06-24
38.95
item, p
153
id                  396668273
ageOfDxInDays            5217
dateAtDx           1997-03-08
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 153, dtype: object
1997-03-08
38.89
item, p
154
id                  600480406
ageOfDxInDays            2170
dateAtDx           1982-05-21
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 154, dtype: object
1982-05-21
38.89
item, p
155
id                  679930553
ageOfDxInDays            1627
dateAtDx           1967-09-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 155, dtype: object
1967-09-26
38.89
item, p
156
id                  914132591
ageOfDxInDays           11732
dateAtDx           1969-12-10
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 156, dtype: object
1969-12-10
39.01
item, p
157
id                 453415293
ageOfDxInDays          23618
dateAtDx          1952-01-20
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 157, dtype: object
1952-01-20
38.8

item, p
158
id                  377817163
ageOfDxInDays            7529
dateAtDx           1965-06-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 158, dtype: object
1965-06-13
38.89
item, p
159
id                  407087850
ageOfDxInDays           15281
dateAtDx           1955-03-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 159, dtype: object
1955-03-30
38.89
item, p
160
id                 395830056
ageOfDxInDays           2426
dateAtDx          1979-06-28
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 160, dtype: object
1979-06-28
38.87
item, p
161
id                  925262953
ageOfDxInDays           14822
dateAtDx           1968-09-06
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 161, dtype: object
1968-09-06
38.89
item, p
162
id                  653918557
ageOfDxInDays           19579
dateAtDx           1948-04-09
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 162, dtype: object
1948-04-09
38.89
item, p
163
id                  480264732
ageOfDxInDays           27288
dateAtDx           1928-02-18
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 163, dtype: object
1928-02-18
39.01
item, p
164
id                  256415279
ageOfDxInDays            3662
dateAtDx           1982-10-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 164, dtype: object
1982-10-28
38.89
item, p
165
id                  337916182
ageOfDxInDays            1686
dateAtDx           1992-10-05
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 165, dtype: object
1992-10-05
39.01
item, p
166
id                  719691162
ageOfDxInDays            1304
dateAtDx           2004-09-18
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 166, dtype: object
2004-09-18
38.95
item, p
167
id                  933065931
ageOfDxInDays            1137
dateAtDx           2006-12-17
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 167, dtype: object
2006-12-17
38.95
item, p
168
id                 520538578
ageOfDxInDays            289
dateAtDx          1951-11-14
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 168, dtype: object
1951-11-14
38.98
item, p
169
id                 498243804
ageOfDxInDays           8919
dateAtDx          1987-10-07
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 169, dtype: object
1987-10-07
38.87
item, p
170
id                 940671773
ageOfDxInDays           5656
dateAtDx          1965-04-17
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 170, dtype: object
1965-04-17
38.87
item, p
171
id                  461653749
ageOfDxInDays            4026
dateAtDx           1996-05-17
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 171, dtype: object
1996-05-17
38.89
item, p
172
id                  925874928
ageOfDxInDays           21551
dateAtDx           1945-02-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 172, dtype: object
1945-02-07
38.89
item, p
173
id                  795119331
ageOfDxInDays           10832
dateAtDx           1980-07-16
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 173, dtype: object
1980-07-16
38.89
item, p
174
id                  372351717
ageOfDxInDays            7667
dateAtDx           1937-06-29
lat                     38.83
lon                    -76.92
coordinates      38.83,-76.92
Name: 174, dtype: object
1937-06-29
38.83
item, p
175
id                  427169404
ageOfDxInDays            5771
dateAtDx           1992-11-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 175, dtype: object
1992-11-27
38.89
item, p
176
id                  798442558
ageOfDxInDays            9611
dateAtDx           1986-12-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 176, dtype: object
1986-12-13
38.89
item, p
177
id                 319825268
ageOfDxInDays           1018
dateAtDx          2008-07-18
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 177, dtype: object
2008-07-18
38.98
item, p
178
id                  941986615
ageOfDxInDays            8867
dateAtDx           1986-12-03
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 178, dtype: object
1986-12-03
38.95
item, p
179
id                  124561441
ageOfDxInDays            3700
dateAtDx           1987-11-21
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 179, dtype: object
1987-11-21
38.89
item, p
180
id                  925262953
ageOfDxInDays           10082
dateAtDx           1968-09-06
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 180, dtype: object
1968-09-06
38.89
item, p
181
id                  158095289
ageOfDxInDays            1735
dateAtDx           1951-05-06
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 181, dtype: object
1951-05-06
38.89
item, p
182
id                  789118187
ageOfDxInDays            3085
dateAtDx           1952-07-05
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 182, dtype: object
1952-07-05
38.89
item, p
183
id                  505230477
ageOfDxInDays            7417
dateAtDx           1993-06-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 183, dtype: object
1993-06-23
38.89
item, p
184
id                  340074807
ageOfDxInDays            6049
dateAtDx           1995-08-05
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 184, dtype: object
1995-08-05
38.89
item, p
185
id                 297946041
ageOfDxInDays           7645
dateAtDx          1992-08-20
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 185, dtype: object
1992-08-20
38.8
item, p
186
id                  660373474
ageOfDxInDays            1740
dateAtDx           1972-05-20
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 186, dtype: object
1972-05-20
38.89
item, p
187
id                 337566460
ageOfDxInDays           5014
dateAtDx          1995-09-14
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 187, dtype: object
1995-09-14
38.98
item, p
188
id                 542294762
ageOfDxInDays           6214
dateAtDx          1953-08-30
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 188, dtype: object
1953-08-30
38.87
item, p
189
id                  361236705
ageOfDxInDays            5597
dateAtDx           1997-10-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 189, dtype: object
1997-10-18
38.89
item, p
190
id                  232258668
ageOfDxInDays            2754
dateAtDx           1997-03-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 190, dtype: object
1997-03-23
38.89
item, p
191
id                  165247550
ageOfDxInDays            7544
dateAtDx           1977-02-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 191, dtype: object
1977-02-25
38.89
item, p
192
id                  488997193
ageOfDxInDays           10858
dateAtDx           1967-06-21
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 192, dtype: object
1967-06-21
38.89
item, p
193
id                  229600734
ageOfDxInDays           12485
dateAtDx           1968-03-31
lat                     38.94
lon                    -76.95
coordinates      38.94,-76.95
Name: 193, dtype: object
1968-03-31
38.94
item, p
194
id                 320699638
ageOfDxInDays           4020
dateAtDx          1991-11-16
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 194, dtype: object
1991-11-16
38.87
item, p
195
id                  943475001
ageOfDxInDays            6413
dateAtDx           1997-04-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 195, dtype: object
1997-04-24
38.89
item, p
196
id                  821422049
ageOfDxInDays            7075
dateAtDx           1988-10-25
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 196, dtype: object
1988-10-25
39.01
item, p
197
id                 885991317
ageOfDxInDays          15888
dateAtDx          1964-02-04
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 197, dtype: object
1964-02-04
38.87
item, p
198
id                  587497820
ageOfDxInDays            1807
dateAtDx           1962-05-22
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 198, dtype: object
1962-05-22
38.89

item, p
199
id                  628183224
ageOfDxInDays            7381
dateAtDx           1973-03-27
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 199, dtype: object
1973-03-27
38.98
item, p
200
id                  664653320
ageOfDxInDays            3358
dateAtDx           1988-09-20
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 200, dtype: object
1988-09-20
38.89
item, p
201
id                  383853998
ageOfDxInDays           18282
dateAtDx           1942-09-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 201, dtype: object
1942-09-26
38.89
item, p
202
id                 427749347
ageOfDxInDays          13807
dateAtDx          1956-07-24
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 202, dtype: object
1956-07-24
38.87
item, p
203
id                  500164920
ageOfDxInDays             832
dateAtDx           1986-09-12
lat                     38.94
lon                    -76.96
coordinates      38.94,-76.96
Name: 203, dtype: object
1986-09-12
38.94
item, p
204
id                  357839688
ageOfDxInDays           13985
dateAtDx           1974-11-02
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 204, dtype: object
1974-11-02
38.89
item, p
205
id                 732408194
ageOfDxInDays           1678
dateAtDx          1996-03-16
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 205, dtype: object
1996-03-16
38.87
item, p
206
id                  622200170
ageOfDxInDays           13344
dateAtDx           1959-12-01
lat                     38.83
lon                    -76.92
coordinates      38.83,-76.92
Name: 206, dtype: object
1959-12-01
38.83
item, p
207
id                  767337591
ageOfDxInDays           11161
dateAtDx           1985-09-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 207, dtype: object
1985-09-28
38.89
item, p
208
id                 536278946
ageOfDxInDays           8779
dateAtDx          1984-03-25
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 208, dtype: object
1984-03-25
38.87
item, p
209
id                  431104838
ageOfDxInDays            1644
dateAtDx           1977-02-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 209, dtype: object
1977-02-26
38.89
item, p
210
id                  472860294
ageOfDxInDays            5523
dateAtDx           1945-05-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 210, dtype: object
1945-05-07
38.89
item, p
211
id                  240441646
ageOfDxInDays            7638
dateAtDx           1989-06-08
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 211, dtype: object
1989-06-08
38.95
item, p
212
id                  570453905
ageOfDxInDays           15179
dateAtDx           1973-05-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 212, dtype: object
1973-05-24
38.89
item, p
213
id                  657118062
ageOfDxInDays           23196
dateAtDx           1933-01-22
lat                     38.94
lon                    -76.95
coordinates      38.94,-76.95
Name: 213, dtype: object
1933-01-22
38.94
item, p
214
id                  757762787
ageOfDxInDays            2108
dateAtDx           1993-08-08
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 214, dtype: object
1993-08-08
38.89
item, p
215
id                 559240086
ageOfDxInDays          19206
dateAtDx          1964-07-22
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 215, dtype: object
1964-07-22
38.87
item, p
216
id                  297195530
ageOfDxInDays           12358
dateAtDx           1971-11-22
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 216, dtype: object
1971-11-22
38.89
item, p
217
id                  544824399
ageOfDxInDays            5004
dateAtDx           1961-04-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 217, dtype: object
1961-04-30
38.89
item, p
218
id                  970346722
ageOfDxInDays           16902
dateAtDx           1960-03-14
lat                     38.83
lon                    -76.92
coordinates      38.83,-76.92
Name: 218, dtype: object
1960-03-14
38.83
item, p
219
id                  611052299
ageOfDxInDays           21112
dateAtDx           1945-04-11
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 219, dtype: object
1945-04-11
38.89
item, p
220
id                  444716998
ageOfDxInDays           23412
dateAtDx           1947-07-04
lat                     38.94
lon                    -76.96
coordinates      38.94,-76.96
Name: 220, dtype: object
1947-07-04
38.94
item, p
221
id                 762515732
ageOfDxInDays           7562
dateAtDx          1993-09-02
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 221, dtype: object
1993-09-02
38.87
item, p
222
id                  243500942
ageOfDxInDays            5855
dateAtDx           1997-10-31
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 222, dtype: object
1997-10-31
38.98
item, p
223
id                  183304158
ageOfDxInDays           16970
dateAtDx           1957-01-16
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 223, dtype: object
1957-01-16
38.89
item, p
224
id                  575332489
ageOfDxInDays           14304
dateAtDx           1977-07-15
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 224, dtype: object
1977-07-15
38.89
item, p
225
id                  927395491
ageOfDxInDays           14896
dateAtDx           1973-01-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 225, dtype: object
1973-01-24
38.89
item, p
226
id                  500758684
ageOfDxInDays           11615
dateAtDx           1953-09-15
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 226, dtype: object
1953-09-15
39.01
item, p
227
id                 879119985
ageOfDxInDays          10859
dateAtDx          1962-04-20
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 227, dtype: object
1962-04-20
38.87
item, p
228
id                  311199129
ageOfDxInDays            6298
dateAtDx           1979-04-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 228, dtype: object
1979-04-25
38.89
item, p
229
id                 240403207
ageOfDxInDays          14729
dateAtDx          1969-01-09
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 229, dtype: object
1969-01-09
38.8
item, p
230
id                  974467464
ageOfDxInDays           16532
dateAtDx           1958-10-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 230, dtype: object
1958-10-23
38.89
item, p
231
id                  932057570
ageOfDxInDays           10590
dateAtDx           1982-06-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 231, dtype: object
1982-06-18
38.89
item, p
232
id                  437253630
ageOfDxInDays           13173
dateAtDx           1969-08-25
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 232, dtype: object
1969-08-25
38.94
item, p
233
id                  694332044
ageOfDxInDays            3443
dateAtDx           1981-05-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 233, dtype: object
1981-05-25
38.89
item, p
234
id                  348306496
ageOfDxInDays            7294
dateAtDx           1973-02-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 234, dtype: object
1973-02-28
38.89
item, p
235
id                  696807000
ageOfDxInDays            3957
dateAtDx           1995-06-03
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 235, dtype: object
1995-06-03
38.89

item, p
236
id                  591113915
ageOfDxInDays            6976
dateAtDx           1992-06-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 236, dtype: object
1992-06-18
38.89
item, p
237
id                  922610824
ageOfDxInDays            6037
dateAtDx           1973-07-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 237, dtype: object
1973-07-18
38.89
item, p
238
id                  863088051
ageOfDxInDays            6284
dateAtDx           1986-08-28
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 238, dtype: object
1986-08-28
39.01
item, p
239
id                  886787037
ageOfDxInDays            7355
dateAtDx           1961-07-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 239, dtype: object
1961-07-12
38.89
item, p
240
id                  540261706
ageOfDxInDays            4978
dateAtDx           1956-10-30
lat                     38.94
lon                    -76.96
coordinates      38.94,-76.96
Name: 240, dtype: object
1956-10-30
38.94
item, p
241
id                  137174907
ageOfDxInDays            4515
dateAtDx           1991-05-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 241, dtype: object
1991-05-10
38.89
item, p
242
id                  240968417
ageOfDxInDays            9429
dateAtDx           1971-06-15
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 242, dtype: object
1971-06-15
38.94
item, p
243
id                  756615731
ageOfDxInDays            2380
dateAtDx           1951-09-19
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 243, dtype: object
1951-09-19
38.89
item, p
244
id                  123985806
ageOfDxInDays            8088
dateAtDx           1984-07-22
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 244, dtype: object
1984-07-22
38.89
item, p
245
id                  282146129
ageOfDxInDays            6456
dateAtDx           1981-06-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 245, dtype: object
1981-06-28
38.89
item, p
246
id                  975761517
ageOfDxInDays            3993
dateAtDx           1985-09-02
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 246, dtype: object
1985-09-02
39.01
item, p
247
id                  699431688
ageOfDxInDays           16274
dateAtDx           1971-02-15
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 247, dtype: object
1971-02-15
38.89
item, p
248
id                  319538455
ageOfDxInDays            5118
dateAtDx           1968-03-20
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 248, dtype: object
1968-03-20
38.89
item, p
249
id                  729010445
ageOfDxInDays            8200
dateAtDx           1971-02-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 249, dtype: object
1971-02-27
38.89
item, p
250
id                  834013097
ageOfDxInDays           12068
dateAtDx           1968-05-02
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 250, dtype: object
1968-05-02
38.98
item, p
251
id                 543013174
ageOfDxInDays          17259
dateAtDx          1952-12-08
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 251, dtype: object
1952-12-08
38.8
item, p
252
id                  883407137
ageOfDxInDays            7915
dateAtDx           1983-12-01
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 252, dtype: object
1983-12-01
38.89
item, p
253
id                  141756688
ageOfDxInDays           16348
dateAtDx           1961-07-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 253, dtype: object
1961-07-13
38.89
item, p
254
id                 549191279
ageOfDxInDays          17016
dateAtDx          1962-11-20
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 254, dtype: object
1962-11-20
38.8
item, p
255
id                  314905547
ageOfDxInDays            8687
dateAtDx           1966-10-11
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 255, dtype: object
1966-10-11
38.89
item, p
256
id                  780505273
ageOfDxInDays            1978
dateAtDx           1982-07-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 256, dtype: object
1982-07-07
38.89
item, p
257
id                  734669111
ageOfDxInDays            8527
dateAtDx           1965-09-11
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 257, dtype: object
1965-09-11
38.89
item, p
258
id                  685075073
ageOfDxInDays            9552
dateAtDx           1964-01-12
lat                     38.83
lon                    -76.92
coordinates      38.83,-76.92
Name: 258, dtype: object
1964-01-12
38.83
item, p
259
id                  727982922
ageOfDxInDays            1766
dateAtDx           1988-03-29
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 259, dtype: object
1988-03-29
38.89
item, p
260
id                  158332806
ageOfDxInDays           21308
dateAtDx           1916-09-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 260, dtype: object
1916-09-07
38.89
item, p
261
id                  539369429
ageOfDxInDays            8547
dateAtDx           1941-01-22
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 261, dtype: object
1941-01-22
38.89
item, p
262
id                  825010021
ageOfDxInDays           12229
dateAtDx           1952-06-02
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 262, dtype: object
1952-06-02
38.89
item, p
263
id                  193904770
ageOfDxInDays           29499
dateAtDx           1925-03-27
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 263, dtype: object
1925-03-27
38.94
item, p
264
id                  587148425
ageOfDxInDays            4699
dateAtDx           1946-06-08
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 264, dtype: object
1946-06-08
38.89
item, p
265
id                  486651285
ageOfDxInDays            7669
dateAtDx           1979-01-29
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 265, dtype: object
1979-01-29
38.89
item, p
266
id                  947811806
ageOfDxInDays           27073
dateAtDx           1921-09-05
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 266, dtype: object
1921-09-05
38.89
item, p
267
id                 205420694
ageOfDxInDays          12641
dateAtDx          1952-07-08
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 267, dtype: object
1952-07-08
38.98
item, p
268
id                  178093724
ageOfDxInDays            4745
dateAtDx           1993-05-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 268, dtype: object
1993-05-27
38.89
item, p
269
id                  160122291
ageOfDxInDays           11487
dateAtDx           1983-09-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 269, dtype: object
1983-09-14
38.89
item, p
270
id                  251317163
ageOfDxInDays            8343
dateAtDx           1976-04-08
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 270, dtype: object
1976-04-08
38.89
item, p
271
id                  789992134
ageOfDxInDays            5537
dateAtDx           1988-11-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 271, dtype: object
1988-11-25
38.89

item, p
272
id                 813729381
ageOfDxInDays           2184
dateAtDx          1988-05-03
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 272, dtype: object
1988-05-03
38.87
item, p
273
id                  512201779
ageOfDxInDays            8225
dateAtDx           1994-05-02
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 273, dtype: object
1994-05-02
38.95
item, p
274
id                  143108985
ageOfDxInDays           12563
dateAtDx           1971-05-06
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 274, dtype: object
1971-05-06
38.89
item, p
275
id                  598286046
ageOfDxInDays             878
dateAtDx           1960-11-29
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 275, dtype: object
1960-11-29
38.89
item, p
276
id                  589733080
ageOfDxInDays             805
dateAtDx           1990-01-04
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 276, dtype: object
1990-01-04
38.89
item, p
277
id                  223541279
ageOfDxInDays           11277
dateAtDx           1970-08-20
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 277, dtype: object
1970-08-20
38.95
item, p
278
id                  134117162
ageOfDxInDays            5135
dateAtDx           1958-08-09
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 278, dtype: object
1958-08-09
38.89
item, p
279
id                  826725004
ageOfDxInDays            8963
dateAtDx           1969-01-05
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 279, dtype: object
1969-01-05
38.95
item, p
280
id                  254600818
ageOfDxInDays            4993
dateAtDx           1984-07-16
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 280, dtype: object
1984-07-16
38.89
item, p
281
id                  667831880
ageOfDxInDays           12933
dateAtDx           1977-07-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 281, dtype: object
1977-07-30
38.89
item, p
282
id                  638120256
ageOfDxInDays           19769
dateAtDx           1946-07-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 282, dtype: object
1946-07-27
38.89
item, p
283
id                  402071750
ageOfDxInDays           10625
dateAtDx           1967-12-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 283, dtype: object
1967-12-30
38.89
item, p
284
id                  525801263
ageOfDxInDays           18490
dateAtDx           1933-08-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 284, dtype: object
1933-08-25
38.89
item, p
285
id                  871097429
ageOfDxInDays            1594
dateAtDx           2007-02-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 285, dtype: object
2007-02-18
38.89
item, p
286
id                  291537123
ageOfDxInDays            3548
dateAtDx           1998-03-02
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 286, dtype: object
1998-03-02
38.89
item, p
287
id                  840210497
ageOfDxInDays            2046
dateAtDx           1968-09-29
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 287, dtype: object
1968-09-29
38.95
item, p
288
id                  423997517
ageOfDxInDays            7422
dateAtDx           1953-03-26
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 288, dtype: object
1953-03-26
38.98
item, p
289
id                  618576727
ageOfDxInDays            9813
dateAtDx           1950-11-15
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 289, dtype: object
1950-11-15
38.89
item, p
290
id                  379031324
ageOfDxInDays           29008
dateAtDx           1932-02-17
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 290, dtype: object
1932-02-17
38.89
item, p
291
id                  457798065
ageOfDxInDays           10626
dateAtDx           1969-04-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 291, dtype: object
1969-04-18
38.89
item, p
292
id                  188559813
ageOfDxInDays            4415
dateAtDx           1954-03-22
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 292, dtype: object
1954-03-22
38.89
item, p
293
id                  698667785
ageOfDxInDays            2084
dateAtDx           1986-05-03
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 293, dtype: object
1986-05-03
38.89
item, p
294
id                  213106423
ageOfDxInDays           22848
dateAtDx           1950-01-17
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 294, dtype: object
1950-01-17
38.89
item, p
295
id                  514878301
ageOfDxInDays            5936
dateAtDx           1993-05-01
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 295, dtype: object
1993-05-01
38.89
item, p
296
id                  573831980
ageOfDxInDays           12641
dateAtDx           1958-08-28
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 296, dtype: object
1958-08-28
38.82
item, p
297
id                  757880499
ageOfDxInDays            5152
dateAtDx           2001-12-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 297, dtype: object
2001-12-10
38.89
item, p
298
id                 855105180
ageOfDxInDays           4948
dateAtDx          1986-03-11
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 298, dtype: object
1986-03-11
38.87
item, p
299
id                  404375978
ageOfDxInDays            9873
dateAtDx           1969-07-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 299, dtype: object
1969-07-10
38.89
item, p
300
id                  698057037
ageOfDxInDays            1424
dateAtDx           1938-04-26
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 300, dtype: object
1938-04-26
38.95
item, p
301
id                  389522017
ageOfDxInDays            2674
dateAtDx           1992-05-03
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 301, dtype: object
1992-05-03
38.89
item, p
302
id                 352354293
ageOfDxInDays           6312
dateAtDx          1986-01-18
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 302, dtype: object
1986-01-18
38.98
item, p
303
id                  755351833
ageOfDxInDays            8785
dateAtDx           1983-07-21
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 303, dtype: object
1983-07-21
38.89
item, p
304
id                  458985621
ageOfDxInDays            6626
dateAtDx           1959-03-02
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 304, dtype: object
1959-03-02
38.95
item, p
305
id                  541735595
ageOfDxInDays             907
dateAtDx           1933-11-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 305, dtype: object
1933-11-07
38.89
item, p
306
id                  304561931
ageOfDxInDays           24173
dateAtDx           1934-11-04
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 306, dtype: object
1934-11-04
38.89
item, p
307
id                 404505716
ageOfDxInDays          18469
dateAtDx          1952-03-03
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 307, dtype: object
1952-03-03
38.8
item, p
308
id                  721155947
ageOfDxInDays             998
dateAtDx           1974-01-08
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 308, dtype: object
1974-01-08
38.95
item, p
309
id                  480275921
ageOfDxInDays            6556
dateAtDx           1967-09-05
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 309, dtype: object
1967-09-05
38.89
item, p
310
id                  789918736
ageOfDxInDays           12214
dateAtDx           1967-11-07
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 310, dtype: object
1967-11-07
38.95
item, p
311
id                 490245137
ageOfDxInDays          20926
dateAtDx          1956-11-04
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 311, dtype: object
1956-11-04
38.87
item, p
312
id                  559276265
ageOfDxInDays           10579
dateAtDx           1970-10-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 312, dtype: object
1970-10-18
38.89
item, p
313
id                 439105212
ageOfDxInDays           9953
dateAtDx          1937-04-17
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 313, dtype: object
1937-04-17
38.8

item, p
314
id                 587000926
ageOfDxInDays           6626
dateAtDx          1977-02-14
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 314, dtype: object
1977-02-14
38.87
item, p
315
id                  937683929
ageOfDxInDays            9183
dateAtDx           1990-05-22
lat                     38.94
lon                    -76.95
coordinates      38.94,-76.95
Name: 315, dtype: object
1990-05-22
38.94
item, p
316
id                  817588813
ageOfDxInDays            9833
dateAtDx           1988-05-07
lat                     38.83
lon                    -76.92
coordinates      38.83,-76.92
Name: 316, dtype: object
1988-05-07
38.83
item, p
317
id                  649564183
ageOfDxInDays            9022
dateAtDx           1962-08-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 317, dtype: object
1962-08-25
38.89
item, p
318
id                  941264167
ageOfDxInDays            6462
dateAtDx           1988-06-16
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 318, dtype: object
1988-06-16
38.82
item, p
319
id                 777814852
ageOfDxInDays          11257
dateAtDx          1976-09-26
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 319, dtype: object
1976-09-26
38.87
item, p
320
id                  851425437
ageOfDxInDays            8521
dateAtDx           1975-09-23
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 320, dtype: object
1975-09-23
38.95
item, p
321
id                  818672857
ageOfDxInDays            9498
dateAtDx           1968-11-25
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 321, dtype: object
1968-11-25
38.95
item, p
322
id                 284843040
ageOfDxInDays          14453
dateAtDx          1936-08-15
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 322, dtype: object
1936-08-15
38.8
item, p
323
id                  533051969
ageOfDxInDays            2804
dateAtDx           1987-12-09
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 323, dtype: object
1987-12-09
38.89
item, p
324
id                  759845035
ageOfDxInDays            1471
dateAtDx           1961-10-15
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 324, dtype: object
1961-10-15
38.89
item, p
325
id                  408303110
ageOfDxInDays            2429
dateAtDx           1957-02-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 325, dtype: object
1957-02-12
38.89
item, p
326
id                  628478479
ageOfDxInDays            3394
dateAtDx           1952-06-17
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 326, dtype: object
1952-06-17
38.98
item, p
327
id                  657881406
ageOfDxInDays           12611
dateAtDx           1962-11-16
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 327, dtype: object
1962-11-16
38.89
item, p
328
id                 337535531
ageOfDxInDays           5491
dateAtDx          1983-01-31
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 328, dtype: object
1983-01-31
38.87
item, p
329
id                  951930416
ageOfDxInDays            3070
dateAtDx           1982-09-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 329, dtype: object
1982-09-26
38.89
item, p
330
id                  179465292
ageOfDxInDays            8651
dateAtDx           1985-11-19
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 330, dtype: object
1985-11-19
38.95
item, p
331
id                  478955366
ageOfDxInDays           18532
dateAtDx           1933-11-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 331, dtype: object
1933-11-30
38.89
item, p
332
id                  247573538
ageOfDxInDays           14724
dateAtDx           1969-06-03
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 332, dtype: object
1969-06-03
38.98
item, p
333
id                  983497838
ageOfDxInDays            3272
dateAtDx           1995-10-02
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 333, dtype: object
1995-10-02
38.89
item, p
334
id                 897434017
ageOfDxInDays           3982
dateAtDx          1990-05-23
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 334, dtype: object
1990-05-23
38.98
item, p
335
id                  574804781
ageOfDxInDays            6038
dateAtDx           1989-09-25
lat                     38.83
lon                    -76.92
coordinates      38.83,-76.92
Name: 335, dtype: object
1989-09-25
38.83
item, p
336
id                  788319206
ageOfDxInDays           14001
dateAtDx           1964-06-05
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 336, dtype: object
1964-06-05
38.89
item, p
337
id                 339392719
ageOfDxInDays          11273
dateAtDx          1952-12-21
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 337, dtype: object
1952-12-21
38.8
item, p
338
id                  595492788
ageOfDxInDays            4878
dateAtDx           1987-11-05
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 338, dtype: object
1987-11-05
38.89
item, p
339
id                  961639613
ageOfDxInDays            4640
dateAtDx           1990-08-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 339, dtype: object
1990-08-26
38.89
item, p
340
id                 914898055
ageOfDxInDays          24301
dateAtDx          1919-06-20
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 340, dtype: object
1919-06-20
38.87
item, p
341
id                  649952557
ageOfDxInDays            2617
dateAtDx           1976-02-02
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 341, dtype: object
1976-02-02
38.89
item, p
342
id                  716624939
ageOfDxInDays            6733
dateAtDx           1980-02-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 342, dtype: object
1980-02-18
38.89
item, p
343
id                  759632381
ageOfDxInDays            6114
dateAtDx           1993-03-21
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 343, dtype: object
1993-03-21
39.01
item, p
344
id                  675500895
ageOfDxInDays            5244
dateAtDx           1956-04-15
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 344, dtype: object
1956-04-15
38.89
item, p
345
id                  138889264
ageOfDxInDays            9917
dateAtDx           1979-12-12
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 345, dtype: object
1979-12-12
38.98
item, p
346
id                 834276646
ageOfDxInDays           7876
dateAtDx          1970-06-21
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 346, dtype: object
1970-06-21
38.87
item, p
347
id                  315694294
ageOfDxInDays           21650
dateAtDx           1925-12-08
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 347, dtype: object
1925-12-08
38.89
item, p
348
id                  408303110
ageOfDxInDays           12646
dateAtDx           1957-02-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 348, dtype: object
1957-02-12
38.89
item, p
349
id                  125343213
ageOfDxInDays            6487
dateAtDx           1972-02-27
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 349, dtype: object
1972-02-27
39.01
item, p
350
id                  195310232
ageOfDxInDays           14269
dateAtDx           1965-12-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 350, dtype: object
1965-12-28
38.89

item, p
351
id                  721992413
ageOfDxInDays           18772
dateAtDx           1948-06-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 351, dtype: object
1948-06-12
38.89
item, p
352
id                  757967521
ageOfDxInDays           13559
dateAtDx           1944-03-16
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 352, dtype: object
1944-03-16
38.89
item, p
353
id                  618976413
ageOfDxInDays           31215
dateAtDx           1918-04-27
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 353, dtype: object
1918-04-27
39.01
item, p
354
id                  256304058
ageOfDxInDays            3968
dateAtDx           1996-04-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 354, dtype: object
1996-04-24
38.89
item, p
355
id                  848340564
ageOfDxInDays           17771
dateAtDx           1949-10-17
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 355, dtype: object
1949-10-17
39.01
item, p
356
id                  508429381
ageOfDxInDays            4365
dateAtDx           1939-06-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 356, dtype: object
1939-06-12
38.89
item, p
357
id                 727237863
ageOfDxInDays          14902
dateAtDx          1936-04-17
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 357, dtype: object
1936-04-17
38.8
item, p
358
id                  688794038
ageOfDxInDays           18147
dateAtDx           1955-01-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 358, dtype: object
1955-01-12
38.89
item, p
359
id                 815197018
ageOfDxInDays           7536
dateAtDx          1985-12-24
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 359, dtype: object
1985-12-24
38.87
item, p
360
id                 350468657
ageOfDxInDays           9349
dateAtDx          1966-12-16
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 360, dtype: object
1966-12-16
38.8
item, p
361
id                  685090214
ageOfDxInDays            3310
dateAtDx           1974-11-03
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 361, dtype: object
1974-11-03
38.98
item, p
362
id                  359619446
ageOfDxInDays           20337
dateAtDx           1955-06-02
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 362, dtype: object
1955-06-02
38.89
item, p
363
id                  674385573
ageOfDxInDays            6113
dateAtDx           1952-09-20
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 363, dtype: object
1952-09-20
38.89
item, p
364
id                  816342099
ageOfDxInDays           11338
dateAtDx           1978-06-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 364, dtype: object
1978-06-23
38.89
item, p
365
id                  645289293
ageOfDxInDays            6234
dateAtDx           1985-07-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 365, dtype: object
1985-07-12
38.89
item, p
366
id                  449812080
ageOfDxInDays            2517
dateAtDx           1979-08-20
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 366, dtype: object
1979-08-20
39.01
item, p
367
id                  372709959
ageOfDxInDays           13878
dateAtDx           1957-01-23
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 367, dtype: object
1957-01-23
39.01
item, p
368
id                  360583817
ageOfDxInDays            2633
dateAtDx           2005-01-11
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 368, dtype: object
2005-01-11
38.89
item, p
369
id                  742871209
ageOfDxInDays            4052
dateAtDx           1943-03-16
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 369, dtype: object
1943-03-16
38.89
item, p
370
id                  983864705
ageOfDxInDays            2964
dateAtDx           1989-07-17
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 370, dtype: object
1989-07-17
38.82
item, p
371
id                  413720561
ageOfDxInDays           10647
dateAtDx           1976-04-01
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 371, dtype: object
1976-04-01
38.89
item, p
372
id                  736963380
ageOfDxInDays            2132
dateAtDx           1988-08-01
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 372, dtype: object
1988-08-01
38.89
item, p
373
id                  150613064
ageOfDxInDays            6158
dateAtDx           1996-11-08
lat                     38.94
lon                    -76.96
coordinates      38.94,-76.96
Name: 373, dtype: object
1996-11-08
38.94
item, p
374
id                  875121040
ageOfDxInDays            2403
dateAtDx           1997-05-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 374, dtype: object
1997-05-26
38.89
item, p
375
id                  420543941
ageOfDxInDays            7088
dateAtDx           1965-05-20
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 375, dtype: object
1965-05-20
38.89
item, p
376
id                  759330880
ageOfDxInDays            3005
dateAtDx           1986-11-14
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 376, dtype: object
1986-11-14
38.82
item, p
377
id                  604534662
ageOfDxInDays            6797
dateAtDx           1946-11-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 377, dtype: object
1946-11-12
38.89
item, p
378
id                  631334639
ageOfDxInDays            1552
dateAtDx           1978-05-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 378, dtype: object
1978-05-10
38.89
item, p
379
id                 676132318
ageOfDxInDays           6754
dateAtDx          1980-06-10
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 379, dtype: object
1980-06-10
38.8
item, p
380
id                  270950735
ageOfDxInDays            6383
dateAtDx           1996-12-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 380, dtype: object
1996-12-07
38.89
item, p
381
id                 309678973
ageOfDxInDays           7937
dateAtDx          1985-06-09
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 381, dtype: object
1985-06-09
38.98
item, p
382
id                  286535858
ageOfDxInDays           12135
dateAtDx           1981-07-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 382, dtype: object
1981-07-12
38.89
item, p
383
id                  128701621
ageOfDxInDays            3779
dateAtDx           1992-03-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 383, dtype: object
1992-03-14
38.89
item, p
384
id                 186894709
ageOfDxInDays          12077
dateAtDx          1968-07-04
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 384, dtype: object
1968-07-04
38.87
item, p
385
id                 282119170
ageOfDxInDays           6939
dateAtDx          1980-08-16
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 385, dtype: object
1980-08-16
38.8
item, p
386
id                  233232379
ageOfDxInDays            1629
dateAtDx           1987-08-09
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 386, dtype: object
1987-08-09
38.94
item, p
387
id                  389848887
ageOfDxInDays           15701
dateAtDx           1933-12-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 387, dtype: object
1933-12-28
38.89
item, p
388
id                  927395491
ageOfDxInDays            9905
dateAtDx           1973-01-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 388, dtype: object
1973-01-24
38.89
item, p
389
id                  421516885
ageOfDxInDays            7504
dateAtDx           1962-10-17
lat                     38.83
lon                    -76.92
coordinates      38.83,-76.92
Name: 389, dtype: object
1962-10-17
38.83

item, p
390
id                 489618920
ageOfDxInDays           4788
dateAtDx          1983-12-11
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 390, dtype: object
1983-12-11
38.98
item, p
391
id                  672153122
ageOfDxInDays            2924
dateAtDx           1966-04-05
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 391, dtype: object
1966-04-05
38.89
item, p
392
id                  511244364
ageOfDxInDays           19726
dateAtDx           1920-12-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 392, dtype: object
1920-12-13
38.89
item, p
393
id                  263994918
ageOfDxInDays            6780
dateAtDx           1954-10-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 393, dtype: object
1954-10-28
38.89
item, p
394
id                  973327487
ageOfDxInDays            8083
dateAtDx           1946-01-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 394, dtype: object
1946-01-25
38.89
item, p
395
id                 373232384
ageOfDxInDays           5821
dateAtDx          1987-05-25
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 395, dtype: object
1987-05-25
38.8
item, p
396
id                 599523750
ageOfDxInDays           2822
dateAtDx          1984-08-23
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 396, dtype: object
1984-08-23
38.87
item, p
397
id                  746202841
ageOfDxInDays           18250
dateAtDx           1940-05-02
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 397, dtype: object
1940-05-02
38.98
item, p
398
id                  734758032
ageOfDxInDays           21874
dateAtDx           1946-08-03
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 398, dtype: object
1946-08-03
38.89
item, p
399
id                  418295808
ageOfDxInDays           12934
dateAtDx           1965-08-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 399, dtype: object
1965-08-28
38.89
item, p
400
id                  228182163
ageOfDxInDays            1377
dateAtDx           1988-11-08
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 400, dtype: object
1988-11-08
38.89
item, p
401
id                  903895929
ageOfDxInDays            8719
dateAtDx           1975-05-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 401, dtype: object
1975-05-25
38.89
item, p
402
id                  128568928
ageOfDxInDays            1363
dateAtDx           1990-07-17
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 402, dtype: object
1990-07-17
38.89
item, p
403
id                 131634176
ageOfDxInDays          10753
dateAtDx          1973-04-20
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 403, dtype: object
1973-04-20
38.8
item, p
404
id                  649464439
ageOfDxInDays           12689
dateAtDx           1954-07-16
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 404, dtype: object
1954-07-16
38.89
item, p
405
id                  368618990
ageOfDxInDays            1244
dateAtDx           1997-03-31
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 405, dtype: object
1997-03-31
38.89
item, p
406
id                  851955040
ageOfDxInDays            8523
dateAtDx           1991-09-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 406, dtype: object
1991-09-25
38.89
item, p
407
id                  919972787
ageOfDxInDays           12750
dateAtDx           1959-09-28
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 407, dtype: object
1959-09-28
38.98
item, p
408
id                 678501158
ageOfDxInDays           2293
dateAtDx          1980-12-08
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 408, dtype: object
1980-12-08
38.87
item, p
409
id                  495223247
ageOfDxInDays            4416
dateAtDx           1965-05-28
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 409, dtype: object
1965-05-28
38.98
item, p
410
id                  358451264
ageOfDxInDays            5145
dateAtDx           1982-09-07
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 410, dtype: object
1982-09-07
38.94
item, p
411
id                  981571177
ageOfDxInDays           10656
dateAtDx           1974-01-22
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 411, dtype: object
1974-01-22
38.89
item, p
412
id                  661114275
ageOfDxInDays            6817
dateAtDx           1967-05-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 412, dtype: object
1967-05-23
38.89
item, p
413
id                  910942718
ageOfDxInDays             812
dateAtDx           1997-08-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 413, dtype: object
1997-08-25
38.89
item, p
414
id                  505380329
ageOfDxInDays           11237
dateAtDx           1946-10-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 414, dtype: object
1946-10-24
38.89
item, p
415
id                  280567991
ageOfDxInDays            5311
dateAtDx           1972-09-07
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 415, dtype: object
1972-09-07
38.98
item, p
416
id                  188596765
ageOfDxInDays           18410
dateAtDx           1958-03-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 416, dtype: object
1958-03-10
38.89
item, p
417
id                  241403300
ageOfDxInDays           20949
dateAtDx           1950-03-11
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 417, dtype: object
1950-03-11
38.98
item, p
418
id                 833874711
ageOfDxInDays            963
dateAtDx          1994-08-26
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 418, dtype: object
1994-08-26
38.87
item, p
419
id                  333508711
ageOfDxInDays           18956
dateAtDx           1944-09-24
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 419, dtype: object
1944-09-24
38.94
item, p
420
id                  394149242
ageOfDxInDays            6083
dateAtDx           1988-11-20
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 420, dtype: object
1988-11-20
38.89
item, p
421
id                  589336869
ageOfDxInDays           10338
dateAtDx           1987-03-22
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 421, dtype: object
1987-03-22
38.89
item, p
422
id                  875571144
ageOfDxInDays            9787
dateAtDx           1948-05-07
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 422, dtype: object
1948-05-07
38.98
item, p
423
id                  429828829
ageOfDxInDays            2361
dateAtDx           1962-05-14
lat                     38.83
lon                    -76.92
coordinates      38.83,-76.92
Name: 423, dtype: object
1962-05-14
38.83
item, p
424
id                  759330880
ageOfDxInDays            5283
dateAtDx           1986-11-14
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 424, dtype: object
1986-11-14
38.82
item, p
425
id                 654728281
ageOfDxInDays           1277
dateAtDx          2002-11-03
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 425, dtype: object
2002-11-03
38.8
item, p
426
id                 813256913
ageOfDxInDays            571
dateAtDx          1960-07-16
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 426, dtype: object
1960-07-16
38.87
item, p
427
id                  849702019
ageOfDxInDays            2696
dateAtDx           1970-02-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 427, dtype: object
1970-02-13
38.89
item, p
428
id                 519366260
ageOfDxInDays          19837
dateAtDx          1949-08-11
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 428, dtype: object
1949-08-11
38.87
item, p
429
id                  164868667
ageOfDxInDays            2815
dateAtDx           1993-12-01
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 429, dtype: object
1993-12-01
38.89
item, p
430
id                  674325479
ageOfDxInDays             897
dateAtDx           1975-08-04
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 430, dtype: object
1975-08-04
38.98
item, p
431
id                  452602914
ageOfDxInDays           11702
dateAtDx           1951-02-11
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 431, dtype: object
1951-02-11
38.82

item, p
432
id                  797145637
ageOfDxInDays            2431
dateAtDx           1986-06-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 432, dtype: object
1986-06-28
38.89
item, p
433
id                  702445510
ageOfDxInDays            6674
dateAtDx           1995-02-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 433, dtype: object
1995-02-07
38.89
item, p
434
id                  425588910
ageOfDxInDays            6954
dateAtDx           1996-06-04
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 434, dtype: object
1996-06-04
38.89
item, p
435
id                  282309882
ageOfDxInDays           13147
dateAtDx           1979-05-22
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 435, dtype: object
1979-05-22
38.89
item, p
436
id                  967454226
ageOfDxInDays            4587
dateAtDx           1981-10-25
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 436, dtype: object
1981-10-25
38.82
item, p
437
id                  234344293
ageOfDxInDays            1709
dateAtDx           1993-03-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 437, dtype: object
1993-03-26
38.89
item, p
438
id                  787402779
ageOfDxInDays            5676
dateAtDx           1993-10-08
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 438, dtype: object
1993-10-08
38.89
item, p
439
id                  435608394
ageOfDxInDays           23526
dateAtDx           1943-02-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 439, dtype: object
1943-02-10
38.89
item, p
440
id                  407912784
ageOfDxInDays            3123
dateAtDx           1958-08-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 440, dtype: object
1958-08-25
38.89
item, p
441
id                  217143740
ageOfDxInDays           11325
dateAtDx           1983-12-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 441, dtype: object
1983-12-14
38.89
item, p
442
id                 834276646
ageOfDxInDays           3114
dateAtDx          1970-06-21
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 442, dtype: object
1970-06-21
38.87
item, p
443
id                  258059369
ageOfDxInDays            5186
dateAtDx           1953-01-26
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 443, dtype: object
1953-01-26
38.98
item, p
444
id                  854254291
ageOfDxInDays           13101
dateAtDx           1979-11-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 444, dtype: object
1979-11-12
38.89
item, p
445
id                  861832338
ageOfDxInDays            3076
dateAtDx           1991-08-21
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 445, dtype: object
1991-08-21
38.89
item, p
446
id                  456129342
ageOfDxInDays            6841
dateAtDx           1983-11-10
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 446, dtype: object
1983-11-10
38.95
item, p
447
id                  387801034
ageOfDxInDays           18369
dateAtDx           1949-06-16
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 447, dtype: object
1949-06-16
38.89
item, p
448
id                  392782286
ageOfDxInDays           29182
dateAtDx           1936-12-20
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 448, dtype: object
1936-12-20
38.89
item, p
449
id                  841173906
ageOfDxInDays             949
dateAtDx           1973-06-17
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 449, dtype: object
1973-06-17
38.89
item, p
450
id                  738922253
ageOfDxInDays            2313
dateAtDx           2004-01-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 450, dtype: object
2004-01-28
38.89
item, p
451
id                  439950147
ageOfDxInDays           20980
dateAtDx           1957-09-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 451, dtype: object
1957-09-10
38.89
item, p
452
id                  284195435
ageOfDxInDays            3454
dateAtDx           1987-07-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 452, dtype: object
1987-07-12
38.89
item, p
453
id                  710169052
ageOfDxInDays            7906
dateAtDx           1991-07-05
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 453, dtype: object
1991-07-05
38.89
item, p
454
id                  143513878
ageOfDxInDays           21244
dateAtDx           1918-04-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 454, dtype: object
1918-04-23
38.89
item, p
455
id                  788448745
ageOfDxInDays            9869
dateAtDx           1966-08-19
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 455, dtype: object
1966-08-19
38.89
item, p
456
id                  632235675
ageOfDxInDays            5247
dateAtDx           1988-08-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 456, dtype: object
1988-08-24
38.89
item, p
457
id                 552110544
ageOfDxInDays           7156
dateAtDx          1967-06-13
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 457, dtype: object
1967-06-13
38.8
item, p
458
id                 792942059
ageOfDxInDays          12214
dateAtDx          1972-05-04
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 458, dtype: object
1972-05-04
38.87
item, p
459
id                  300399621
ageOfDxInDays           13878
dateAtDx           1937-03-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 459, dtype: object
1937-03-13
38.89
item, p
460
id                  548038398
ageOfDxInDays            3488
dateAtDx           1995-05-17
lat                     38.87
lon                    -77.07
coordinates      38.87,-77.07
Name: 460, dtype: object
1995-05-17
38.87
item, p
461
id                  146090312
ageOfDxInDays            2151
dateAtDx           1957-04-02
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 461, dtype: object
1957-04-02
38.89
item, p
462
id                  800846828
ageOfDxInDays            8033
dateAtDx           1995-07-05
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 462, dtype: object
1995-07-05
38.89
item, p
463
id                  573990743
ageOfDxInDays           17472
dateAtDx           1933-11-10
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 463, dtype: object
1933-11-10
38.82
item, p
464
id                 715528857
ageOfDxInDays           8440
dateAtDx          1950-05-22
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 464, dtype: object
1950-05-22
38.8
item, p
465
id                  844880773
ageOfDxInDays           18984
dateAtDx           1961-07-20
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 465, dtype: object
1961-07-20
38.89
item, p
466
id                  285464984
ageOfDxInDays            6691
dateAtDx           1980-07-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 466, dtype: object
1980-07-25
38.89
item, p
467
id                  169570883
ageOfDxInDays            2595
dateAtDx           1995-08-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 467, dtype: object
1995-08-14
38.89
item, p
468
id                  865908128
ageOfDxInDays           18114
dateAtDx           1947-06-08
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 468, dtype: object
1947-06-08
38.89
item, p
469
id                  985667646
ageOfDxInDays           11457
dateAtDx           1952-05-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 469, dtype: object
1952-05-07
38.89

item, p
470
id                  728461139
ageOfDxInDays            8114
dateAtDx           1989-09-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 470, dtype: object
1989-09-14
38.89
item, p
471
id                  787103656
ageOfDxInDays            9528
dateAtDx           1985-07-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 471, dtype: object
1985-07-26
38.89
item, p
472
id                  979917341
ageOfDxInDays           15977
dateAtDx           1957-05-27
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 472, dtype: object
1957-05-27
38.95
item, p
473
id                  512133636
ageOfDxInDays            6271
dateAtDx           1984-12-15
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 473, dtype: object
1984-12-15
38.89
item, p
474
id                  898057510
ageOfDxInDays            7959
dateAtDx           1981-04-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 474, dtype: object
1981-04-24
38.89
item, p
475
id                  861505131
ageOfDxInDays            2522
dateAtDx           1994-07-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 475, dtype: object
1994-07-30
38.89
item, p
476
id                  130864203
ageOfDxInDays            7167
dateAtDx           1970-05-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 476, dtype: object
1970-05-26
38.89
item, p
477
id                  813054532
ageOfDxInDays            2973
dateAtDx           1951-07-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 477, dtype: object
1951-07-30
38.89
item, p
478
id                  531267302
ageOfDxInDays            8160
dateAtDx           1994-06-05
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 478, dtype: object
1994-06-05
38.89
item, p
479
id                  555532595
ageOfDxInDays           13461
dateAtDx           1941-11-29
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 479, dtype: object
1941-11-29
38.82
item, p
480
id                  333508711
ageOfDxInDays            3437
dateAtDx           1944-09-24
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 480, dtype: object
1944-09-24
38.94
item, p
481
id                 511775283
ageOfDxInDays           6604
dateAtDx          1967-11-04
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 481, dtype: object
1967-11-04
38.87
item, p
482
id                 832850129
ageOfDxInDays           2635
dateAtDx          1964-10-17
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 482, dtype: object
1964-10-17
38.8
item, p
483
id                  398242065
ageOfDxInDays            2262
dateAtDx           1992-08-15
lat                     38.83
lon                    -76.92
coordinates      38.83,-76.92
Name: 483, dtype: object
1992-08-15
38.83
item, p
484
id                  739921147
ageOfDxInDays            8282
dateAtDx           1955-03-29
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 484, dtype: object
1955-03-29
38.89
item, p
485
id                  690407891
ageOfDxInDays           11903
dateAtDx           1971-11-06
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 485, dtype: object
1971-11-06
38.94
item, p
486
id                 178639511
ageOfDxInDays          22594
dateAtDx          1940-10-26
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 486, dtype: object
1940-10-26
38.87
item, p
487
id                  811895497
ageOfDxInDays             498
dateAtDx           1960-04-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 487, dtype: object
1960-04-13
38.89
item, p
488
id                  517149438
ageOfDxInDays           13878
dateAtDx           1978-04-09
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 488, dtype: object
1978-04-09
38.89
item, p
489
id                  420309279
ageOfDxInDays            5631
dateAtDx           1994-07-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 489, dtype: object
1994-07-23
38.89
item, p
490
id                  940890574
ageOfDxInDays            6176
dateAtDx           1979-11-17
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 490, dtype: object
1979-11-17
38.89
item, p
491
id                  513947118
ageOfDxInDays           16802
dateAtDx           1950-07-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 491, dtype: object
1950-07-10
38.89
item, p
492
id                  629913804
ageOfDxInDays            9758
dateAtDx           1958-07-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 492, dtype: object
1958-07-10
38.89
item, p
493
id                  157555833
ageOfDxInDays            7787
dateAtDx           1991-03-29
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 493, dtype: object
1991-03-29
39.01
item, p
494
id                  731569664
ageOfDxInDays           13121
dateAtDx           1975-02-01
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 494, dtype: object
1975-02-01
38.94
item, p
495
id                 945772277
ageOfDxInDays           8934
dateAtDx          1991-05-28
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 495, dtype: object
1991-05-28
38.98
item, p
496
id                  682958216
ageOfDxInDays            4724
dateAtDx           1978-04-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 496, dtype: object
1978-04-18
38.89
item, p
497
id                  934134211
ageOfDxInDays           11513
dateAtDx           1950-08-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 497, dtype: object
1950-08-24
38.89
item, p
498
id                 710616699
ageOfDxInDays          12226
dateAtDx          1983-03-18
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 498, dtype: object
1983-03-18
38.8
item, p
499
id                  921026333
ageOfDxInDays           15839
dateAtDx           1956-01-02
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 499, dtype: object
1956-01-02
38.82
item, p
500
id                  273271779
ageOfDxInDays            1957
dateAtDx           1989-08-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 500, dtype: object
1989-08-14
38.89
item, p
501
id                  573358955
ageOfDxInDays           12472
dateAtDx           1952-01-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 501, dtype: object
1952-01-23
38.89
item, p
502
id                  425069555
ageOfDxInDays            7442
dateAtDx           1988-07-26
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 502, dtype: object
1988-07-26
38.98
item, p
503
id                  185299209
ageOfDxInDays            2753
dateAtDx           1922-01-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 503, dtype: object
1922-01-24
38.89
item, p
504
id                  334774486
ageOfDxInDays            2477
dateAtDx           1988-03-03
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 504, dtype: object
1988-03-03
38.89
item, p
505
id                  437186962
ageOfDxInDays           10656
dateAtDx           1969-12-01
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 505, dtype: object
1969-12-01
38.89
item, p
506
id                  624980695
ageOfDxInDays            6363
dateAtDx           1976-10-08
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 506, dtype: object
1976-10-08
38.89
item, p
507
id                  453693714
ageOfDxInDays            4695
dateAtDx           1976-01-04
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 507, dtype: object
1976-01-04
38.89

item, p
508
id                  305158930
ageOfDxInDays            7200
dateAtDx           1983-09-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 508, dtype: object
1983-09-27
38.89
item, p
509
id                  502327079
ageOfDxInDays            7111
dateAtDx           1995-06-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 509, dtype: object
1995-06-12
38.89
item, p
510
id                  826891044
ageOfDxInDays           26321
dateAtDx           1917-10-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 510, dtype: object
1917-10-28
38.89
item, p
511
id                  636838580
ageOfDxInDays            4870
dateAtDx           1997-05-04
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 511, dtype: object
1997-05-04
38.89
item, p
512
id                  842506247
ageOfDxInDays           17485
dateAtDx           1967-03-31
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 512, dtype: object
1967-03-31
38.95
item, p
513
id                  250849244
ageOfDxInDays            8391
dateAtDx           1969-05-15
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 513, dtype: object
1969-05-15
39.01
item, p
514
id                 537191851
ageOfDxInDays            528
dateAtDx          1979-05-17
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 514, dtype: object
1979-05-17
38.87
item, p
515
id                  680943325
ageOfDxInDays           22017
dateAtDx           1946-05-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 515, dtype: object
1946-05-30
38.89
item, p
516
id                  426491162
ageOfDxInDays            1956
dateAtDx           1994-09-03
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 516, dtype: object
1994-09-03
38.89
item, p
517
id                  582067428
ageOfDxInDays           10322
dateAtDx           1987-05-04
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 517, dtype: object
1987-05-04
39.01
item, p
518
id                 410137268
ageOfDxInDays          17789
dateAtDx          1963-06-18
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 518, dtype: object
1963-06-18
38.87
item, p
519
id                  238441192
ageOfDxInDays            5086
dateAtDx           1962-07-08
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 519, dtype: object
1962-07-08
38.98
item, p
520
id                  808391024
ageOfDxInDays           11109
dateAtDx           1982-02-09
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 520, dtype: object
1982-02-09
38.89
item, p
521
id                 669944409
ageOfDxInDays           1384
dateAtDx          1939-01-24
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 521, dtype: object
1939-01-24
38.8
item, p
522
id                  527887882
ageOfDxInDays           14036
dateAtDx           1962-03-01
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 522, dtype: object
1962-03-01
38.89
item, p
523
id                  529577758
ageOfDxInDays            8296
dateAtDx           1983-04-15
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 523, dtype: object
1983-04-15
38.89
item, p
524
id                  212259923
ageOfDxInDays           11066
dateAtDx           1966-11-11
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 524, dtype: object
1966-11-11
38.89
item, p
525
id                  214631811
ageOfDxInDays            4976
dateAtDx           1941-05-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 525, dtype: object
1941-05-24
38.89
item, p
526
id                  707088471
ageOfDxInDays            6823
dateAtDx           1991-02-11
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 526, dtype: object
1991-02-11
38.89
item, p
527
id                  834485602
ageOfDxInDays           11002
dateAtDx           1946-07-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 527, dtype: object
1946-07-10
38.89
item, p
528
id                  267591914
ageOfDxInDays            9650
dateAtDx           1983-10-31
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 528, dtype: object
1983-10-31
38.89
item, p
529
id                  331277554
ageOfDxInDays            3677
dateAtDx           1931-10-14
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 529, dtype: object
1931-10-14
38.98
item, p
530
id                  254451839
ageOfDxInDays            3509
dateAtDx           1985-08-01
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 530, dtype: object
1985-08-01
39.01
item, p
531
id                 341295912
ageOfDxInDays          11550
dateAtDx          1944-12-09
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 531, dtype: object
1944-12-09
38.87
item, p
532
id                  517199976
ageOfDxInDays            3180
dateAtDx           1967-06-06
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 532, dtype: object
1967-06-06
38.89
item, p
533
id                  147884694
ageOfDxInDays            5044
dateAtDx           1981-01-31
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 533, dtype: object
1981-01-31
38.89
item, p
534
id                  714607883
ageOfDxInDays            4446
dateAtDx           1990-12-18
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 534, dtype: object
1990-12-18
38.95
item, p
535
id                  748812949
ageOfDxInDays            4951
dateAtDx           1997-05-01
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 535, dtype: object
1997-05-01
38.89
item, p
536
id                  142531287
ageOfDxInDays            4823
dateAtDx           1965-04-03
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 536, dtype: object
1965-04-03
38.98
item, p
537
id                  300873820
ageOfDxInDays            5441
dateAtDx           1984-03-04
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 537, dtype: object
1984-03-04
39.01
item, p
538
id                  356537706
ageOfDxInDays            3202
dateAtDx           1996-12-03
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 538, dtype: object
1996-12-03
38.89
item, p
539
id                  311062951
ageOfDxInDays             933
dateAtDx           1963-02-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 539, dtype: object
1963-02-10
38.89
item, p
540
id                  539923497
ageOfDxInDays            3469
dateAtDx           1990-12-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 540, dtype: object
1990-12-25
38.89
item, p
541
id                  720764384
ageOfDxInDays            2538
dateAtDx           1994-12-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 541, dtype: object
1994-12-24
38.89
item, p
542
id                  646047503
ageOfDxInDays           12264
dateAtDx           1979-06-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 542, dtype: object
1979-06-23
38.89
item, p
543
id                  254657344
ageOfDxInDays           19813
dateAtDx           1936-11-10
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 543, dtype: object
1936-11-10
38.98
item, p
544
id                  969936118
ageOfDxInDays            6071
dateAtDx           1934-01-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 544, dtype: object
1934-01-12
38.89
item, p
545
id                  722382993
ageOfDxInDays            6774
dateAtDx           1981-02-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 545, dtype: object
1981-02-26
38.89
item, p
546
id                  371526625
ageOfDxInDays            3188
dateAtDx           1955-03-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 546, dtype: object
1955-03-25
38.89

item, p
547
id                  583207495
ageOfDxInDays           12495
dateAtDx           1976-09-29
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 547, dtype: object
1976-09-29
39.01
item, p
548
id                  314152339
ageOfDxInDays           20807
dateAtDx           1955-09-21
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 548, dtype: object
1955-09-21
38.89
item, p
549
id                  281179991
ageOfDxInDays            9574
dateAtDx           1955-09-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 549, dtype: object
1955-09-12
38.89
item, p
550
id                  327612343
ageOfDxInDays            2851
dateAtDx           1988-03-30
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 550, dtype: object
1988-03-30
38.95
item, p
551
id                 630274887
ageOfDxInDays           1604
dateAtDx          2007-01-21
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 551, dtype: object
2007-01-21
38.87
item, p
552
id                  626121809
ageOfDxInDays            2092
dateAtDx           1987-09-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 552, dtype: object
1987-09-27
38.89
item, p
553
id                  538804132
ageOfDxInDays           17893
dateAtDx           1951-10-25
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 553, dtype: object
1951-10-25
39.01
item, p
554
id                  171013001
ageOfDxInDays            4910
dateAtDx           1991-12-20
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 554, dtype: object
1991-12-20
38.89
item, p
555
id                  956898048
ageOfDxInDays            8553
dateAtDx           1975-03-21
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 555, dtype: object
1975-03-21
38.89
item, p
556
id                  138129079
ageOfDxInDays            9173
dateAtDx           1962-12-11
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 556, dtype: object
1962-12-11
38.82
item, p
557
id                  183671401
ageOfDxInDays            4366
dateAtDx           1996-03-11
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 557, dtype: object
1996-03-11
38.89
item, p
558
id                  522153108
ageOfDxInDays            9630
dateAtDx           1988-02-06
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 558, dtype: object
1988-02-06
38.89
item, p
559
id                  302060457
ageOfDxInDays           16306
dateAtDx           1965-12-02
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 559, dtype: object
1965-12-02
38.98
item, p
560
id                  932057570
ageOfDxInDays            8020
dateAtDx           1982-06-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 560, dtype: object
1982-06-18
38.89
item, p
561
id                  915305573
ageOfDxInDays             673
dateAtDx           1988-04-20
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 561, dtype: object
1988-04-20
38.89
item, p
562
id                  942155677
ageOfDxInDays            4654
dateAtDx           1997-08-06
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 562, dtype: object
1997-08-06
38.89
item, p
563
id                  437845457
ageOfDxInDays            2040
dateAtDx           1955-01-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 563, dtype: object
1955-01-25
38.89
item, p
564
id                 674664962
ageOfDxInDays           3719
dateAtDx          2004-12-18
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 564, dtype: object
2004-12-18
38.8
item, p
565
id                  769881309
ageOfDxInDays            7721
dateAtDx           1971-03-15
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 565, dtype: object
1971-03-15
38.89
item, p
566
id                  323333615
ageOfDxInDays            3143
dateAtDx           1989-10-18
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 566, dtype: object
1989-10-18
38.82
item, p
567
id                  716669899
ageOfDxInDays           13502
dateAtDx           1954-02-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 567, dtype: object
1954-02-14
38.89
item, p
568
id                  707382220
ageOfDxInDays            6145
dateAtDx           1983-04-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 568, dtype: object
1983-04-24
38.89
item, p
569
id                 970841550
ageOfDxInDays           7641
dateAtDx          1972-06-21
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 569, dtype: object
1972-06-21
38.8
item, p
570
id                  846375046
ageOfDxInDays            2101
dateAtDx           1992-01-21
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 570, dtype: object
1992-01-21
38.89
item, p
571
id                  436341084
ageOfDxInDays            6296
dateAtDx           1986-08-17
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 571, dtype: object
1986-08-17
38.95
item, p
572
id                  475080220
ageOfDxInDays            2998
dateAtDx           1956-10-31
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 572, dtype: object
1956-10-31
38.94
item, p
573
id                  820865796
ageOfDxInDays            7203
dateAtDx           1976-04-06
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 573, dtype: object
1976-04-06
38.89
item, p
574
id                 153053249
ageOfDxInDays           4327
dateAtDx          1994-12-17
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 574, dtype: object
1994-12-17
38.87
item, p
575
id                  364165068
ageOfDxInDays            7563
dateAtDx           1977-12-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 575, dtype: object
1977-12-10
38.89
item, p
576
id                  796257100
ageOfDxInDays            7219
dateAtDx           1976-09-05
lat                     38.83
lon                    -76.92
coordinates      38.83,-76.92
Name: 576, dtype: object
1976-09-05
38.83
item, p
577
id                  706241677
ageOfDxInDays           13665
dateAtDx           1961-06-16
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 577, dtype: object
1961-06-16
38.95
item, p
578
id                 831636695
ageOfDxInDays           3959
dateAtDx          1970-07-07
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 578, dtype: object
1970-07-07
38.87
item, p
579
id                  461744664
ageOfDxInDays           16689
dateAtDx           1938-01-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 579, dtype: object
1938-01-14
38.89
item, p
580
id                  723580235
ageOfDxInDays           12174
dateAtDx           1934-10-08
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 580, dtype: object
1934-10-08
38.94
item, p
581
id                  281594447
ageOfDxInDays            1891
dateAtDx           1995-07-22
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 581, dtype: object
1995-07-22
38.89
item, p
582
id                 811254783
ageOfDxInDays          17706
dateAtDx          1949-04-17
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 582, dtype: object
1949-04-17
38.8

item, p
583
id                  592729175
ageOfDxInDays            3358
dateAtDx           1974-01-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 583, dtype: object
1974-01-27
38.89
item, p
584
id                  220178839
ageOfDxInDays            4397
dateAtDx           1955-07-21
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 584, dtype: object
1955-07-21
38.89
item, p
585
id                  636500573
ageOfDxInDays             958
dateAtDx           1965-03-01
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 585, dtype: object
1965-03-01
38.89
item, p
586
id                  763959173
ageOfDxInDays           13594
dateAtDx           1971-12-24
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 586, dtype: object
1971-12-24
38.95
item, p
587
id                  129317369
ageOfDxInDays            5837
dateAtDx           1977-11-01
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 587, dtype: object
1977-11-01
38.89
item, p
588
id                  718143781
ageOfDxInDays            5744
dateAtDx           1973-05-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 588, dtype: object
1973-05-12
38.89
item, p
589
id                 794502077
ageOfDxInDays           8238
dateAtDx          1970-10-08
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 589, dtype: object
1970-10-08
38.87
item, p
590
id                 663028491
ageOfDxInDays           4295
dateAtDx          1989-09-09
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 590, dtype: object
1989-09-09
38.8
item, p
591
id                  766401072
ageOfDxInDays           21052
dateAtDx           1942-06-15
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 591, dtype: object
1942-06-15
38.98
item, p
592
id                  956689172
ageOfDxInDays            3190
dateAtDx           1970-03-16
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 592, dtype: object
1970-03-16
38.89
item, p
593
id                  726997180
ageOfDxInDays            2703
dateAtDx           1979-06-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 593, dtype: object
1979-06-12
38.89
item, p
594
id                  147306485
ageOfDxInDays             983
dateAtDx           1995-05-19
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 594, dtype: object
1995-05-19
38.89
item, p
595
id                  273655202
ageOfDxInDays            7440
dateAtDx           1955-03-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 595, dtype: object
1955-03-13
38.89
item, p
596
id                  914132591
ageOfDxInDays           17303
dateAtDx           1969-12-10
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 596, dtype: object
1969-12-10
39.01
item, p
597
id                  439870420
ageOfDxInDays            8431
dateAtDx           1957-10-20
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 597, dtype: object
1957-10-20
38.82
item, p
598
id                  407138052
ageOfDxInDays           14666
dateAtDx           1947-07-27
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 598, dtype: object
1947-07-27
39.01
item, p
599
id                  288757729
ageOfDxInDays           14273
dateAtDx           1966-10-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 599, dtype: object
1966-10-30
38.89
item, p
600
id                  433958216
ageOfDxInDays            4953
dateAtDx           1990-11-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 600, dtype: object
1990-11-12
38.89
item, p
601
id                  666527353
ageOfDxInDays            4435
dateAtDx           1992-02-22
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 601, dtype: object
1992-02-22
38.89
item, p
602
id                  881541257
ageOfDxInDays            3948
dateAtDx           1943-11-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 602, dtype: object
1943-11-14
38.89
item, p
603
id                  782752402
ageOfDxInDays            8963
dateAtDx           1988-03-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 603, dtype: object
1988-03-23
38.89
item, p
604
id                  892958248
ageOfDxInDays           13502
dateAtDx           1944-09-18
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 604, dtype: object
1944-09-18
38.95
item, p
605
id                  779042899
ageOfDxInDays            1080
dateAtDx           2007-06-07
lat                     38.94
lon                    -76.95
coordinates      38.94,-76.95
Name: 605, dtype: object
2007-06-07
38.94
item, p
606
id                 437184621
ageOfDxInDays           6939
dateAtDx          1954-05-23
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 606, dtype: object
1954-05-23
38.8
item, p
607
id                 771653180
ageOfDxInDays           2222
dateAtDx          1984-05-16
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 607, dtype: object
1984-05-16
38.98
item, p
608
id                  879879708
ageOfDxInDays           14064
dateAtDx           1946-09-29
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 608, dtype: object
1946-09-29
38.89
item, p
609
id                  827147871
ageOfDxInDays            2248
dateAtDx           1995-09-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 609, dtype: object
1995-09-24
38.89
item, p
610
id                 225061521
ageOfDxInDays           9827
dateAtDx          1971-02-15
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 610, dtype: object
1971-02-15
38.98
item, p
611
id                  270337114
ageOfDxInDays            2985
dateAtDx           1980-11-08
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 611, dtype: object
1980-11-08
38.89
item, p
612
id                  127082555
ageOfDxInDays            8371
dateAtDx           1974-11-29
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 612, dtype: object
1974-11-29
38.89
item, p
613
id                  957145015
ageOfDxInDays            8852
dateAtDx           1988-03-02
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 613, dtype: object
1988-03-02
38.89
item, p
614
id                  920107870
ageOfDxInDays            6505
dateAtDx           1983-05-31
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 614, dtype: object
1983-05-31
38.89
item, p
615
id                  547795638
ageOfDxInDays           19907
dateAtDx           1953-07-22
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 615, dtype: object
1953-07-22
38.89
item, p
616
id                  191407883
ageOfDxInDays            7330
dateAtDx           1965-01-04
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 616, dtype: object
1965-01-04
38.95
item, p
617
id                 289964054
ageOfDxInDays          15564
dateAtDx          1966-10-07
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 617, dtype: object
1966-10-07
38.87
item, p
618
id                  474722174
ageOfDxInDays            4593
dateAtDx           1994-10-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 618, dtype: object
1994-10-24
38.89
item, p
619
id                 965563989
ageOfDxInDays          16927
dateAtDx          1959-09-01
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 619, dtype: object
1959-09-01
38.87
item, p
620
id                 607081924
ageOfDxInDays           2694
dateAtDx          1996-06-18
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 620, dtype: object
1996-06-18
38.87
item, p
621
id                  705656350
ageOfDxInDays            8216
dateAtDx           1986-10-17
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 621, dtype: object
1986-10-17
38.89
item, p
622
id                  838359407
ageOfDxInDays             947
dateAtDx           1986-10-29
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 622, dtype: object
1986-10-29
38.89
item, p
623
id                  549249716
ageOfDxInDays            3417
dateAtDx           1986-04-22
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 623, dtype: object
1986-04-22
38.95

item, p
624
id                 930699587
ageOfDxInDays          17173
dateAtDx          1963-11-03
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 624, dtype: object
1963-11-03
38.8
item, p
625
id                  333130265
ageOfDxInDays            8876
dateAtDx           1983-12-07
lat                     38.83
lon                    -76.92
coordinates      38.83,-76.92
Name: 625, dtype: object
1983-12-07
38.83
item, p
626
id                  480812895
ageOfDxInDays            7394
dateAtDx           1969-09-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 626, dtype: object
1969-09-14
38.89
item, p
627
id                 936647614
ageOfDxInDays          11621
dateAtDx          1972-02-14
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 627, dtype: object
1972-02-14
38.87
item, p
628
id                  405037463
ageOfDxInDays            7514
dateAtDx           1986-12-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 628, dtype: object
1986-12-18
38.89
item, p
629
id                 519366260
ageOfDxInDays           8157
dateAtDx          1949-08-11
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 629, dtype: object
1949-08-11
38.87
item, p
630
id                  649318651
ageOfDxInDays            8756
dateAtDx           1953-12-02
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 630, dtype: object
1953-12-02
38.94
item, p
631
id                  184477459
ageOfDxInDays            6844
dateAtDx           1978-11-04
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 631, dtype: object
1978-11-04
39.01
item, p
632
id                  746495968
ageOfDxInDays            6854
dateAtDx           1943-07-02
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 632, dtype: object
1943-07-02
38.89
item, p
633
id                  568111080
ageOfDxInDays            3776
dateAtDx           2004-01-12
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 633, dtype: object
2004-01-12
38.95
item, p
634
id                  803945580
ageOfDxInDays            1732
dateAtDx           1964-01-21
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 634, dtype: object
1964-01-21
38.89
item, p
635
id                  198191102
ageOfDxInDays             502
dateAtDx           1996-08-14
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 635, dtype: object
1996-08-14
38.95
item, p
636
id                  660122322
ageOfDxInDays           13731
dateAtDx           1948-02-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 636, dtype: object
1948-02-14
38.89
item, p
637
id                  657118062
ageOfDxInDays           11607
dateAtDx           1933-01-22
lat                     38.94
lon                    -76.95
coordinates      38.94,-76.95
Name: 637, dtype: object
1933-01-22
38.94
item, p
638
id                  185968981
ageOfDxInDays            3663
dateAtDx           1960-07-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 638, dtype: object
1960-07-27
38.89
item, p
639
id                  551393236
ageOfDxInDays           27556
dateAtDx           1934-10-16
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 639, dtype: object
1934-10-16
38.89
item, p
640
id                  509962008
ageOfDxInDays            8506
dateAtDx           1985-10-28
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 640, dtype: object
1985-10-28
38.95
item, p
641
id                  144085923
ageOfDxInDays            3490
dateAtDx           1997-08-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 641, dtype: object
1997-08-25
38.89
item, p
642
id                  660691175
ageOfDxInDays            3032
dateAtDx           1982-11-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 642, dtype: object
1982-11-28
38.89
item, p
643
id                  929599834
ageOfDxInDays            6391
dateAtDx           1985-02-04
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 643, dtype: object
1985-02-04
38.89
item, p
644
id                  359788881
ageOfDxInDays           16503
dateAtDx           1950-03-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 644, dtype: object
1950-03-10
38.89
item, p
645
id                 965563989
ageOfDxInDays           3830
dateAtDx          1959-09-01
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 645, dtype: object
1959-09-01
38.87
item, p
646
id                 831083737
ageOfDxInDays           4239
dateAtDx          1987-11-05
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 646, dtype: object
1987-11-05
38.87
item, p
647
id                  609393014
ageOfDxInDays            4579
dateAtDx           1993-07-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 647, dtype: object
1993-07-10
38.89
item, p
648
id                  813219094
ageOfDxInDays           10527
dateAtDx           1978-11-29
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 648, dtype: object
1978-11-29
38.89
item, p
649
id                  725155754
ageOfDxInDays            6698
dateAtDx           1980-11-09
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 649, dtype: object
1980-11-09
39.01
item, p
650
id                  934035160
ageOfDxInDays            3403
dateAtDx           1988-07-17
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 650, dtype: object
1988-07-17
38.95
item, p
651
id                  729976805
ageOfDxInDays           22565
dateAtDx           1941-12-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 651, dtype: object
1941-12-26
38.89
item, p
652
id                  395731954
ageOfDxInDays            5768
dateAtDx           1957-01-19
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 652, dtype: object
1957-01-19
38.95
item, p
653
id                  447163697
ageOfDxInDays           12335
dateAtDx           1968-08-13
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 653, dtype: object
1968-08-13
38.98
item, p
654
id                  759651142
ageOfDxInDays            3591
dateAtDx           1974-12-09
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 654, dtype: object
1974-12-09
38.89
item, p
655
id                  684793178
ageOfDxInDays           13541
dateAtDx           1964-05-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 655, dtype: object
1964-05-27
38.89
item, p
656
id                  769696891
ageOfDxInDays            2281
dateAtDx           1963-07-09
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 656, dtype: object
1963-07-09
38.89
item, p
657
id                  638120256
ageOfDxInDays           14242
dateAtDx           1946-07-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 657, dtype: object
1946-07-27
38.89
item, p
658
id                  978269677
ageOfDxInDays             647
dateAtDx           1990-03-11
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 658, dtype: object
1990-03-11
38.89
item, p
659
id                  703177720
ageOfDxInDays            9835
dateAtDx           1977-03-23
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 659, dtype: object
1977-03-23
38.95
item, p
660
id                  608974664
ageOfDxInDays            6199
dateAtDx           1956-06-16
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 660, dtype: object
1956-06-16
38.95
item, p
661
id                 457744644
ageOfDxInDays           4406
dateAtDx          1989-02-27
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 661, dtype: object
1989-02-27
38.87

item, p
662
id                 237811778
ageOfDxInDays          11574
dateAtDx          1969-08-02
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 662, dtype: object
1969-08-02
38.8
item, p
663
id                  980797042
ageOfDxInDays            4085
dateAtDx           2002-12-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 663, dtype: object
2002-12-30
38.89
item, p
664
id                 380012260
ageOfDxInDays           7801
dateAtDx          1971-12-14
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 664, dtype: object
1971-12-14
38.98
item, p
665
id                  147893521
ageOfDxInDays            1804
dateAtDx           1993-03-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 665, dtype: object
1993-03-14
38.89
item, p
666
id                  858064890
ageOfDxInDays            8072
dateAtDx           1951-11-22
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 666, dtype: object
1951-11-22
39.01
item, p
667
id                 944544645
ageOfDxInDays          21855
dateAtDx          1944-12-06
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 667, dtype: object
1944-12-06
38.87
item, p
668
id                  881541257
ageOfDxInDays            7950
dateAtDx           1943-11-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 668, dtype: object
1943-11-14
38.89
item, p
669
id                  871346650
ageOfDxInDays            2940
dateAtDx           1988-08-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 669, dtype: object
1988-08-30
38.89
item, p
670
id                 660800170
ageOfDxInDays          11964
dateAtDx          1971-01-10
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 670, dtype: object
1971-01-10
38.87
item, p
671
id                 323191413
ageOfDxInDays           3673
dateAtDx          1990-07-22
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 671, dtype: object
1990-07-22
38.87
item, p
672
id                  152575145
ageOfDxInDays            6235
dateAtDx           1982-06-15
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 672, dtype: object
1982-06-15
38.89
item, p
673
id                 768208982
ageOfDxInDays           4380
dateAtDx          1983-06-27
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 673, dtype: object
1983-06-27
38.87
item, p
674
id                  511590663
ageOfDxInDays           10238
dateAtDx           1972-09-17
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 674, dtype: object
1972-09-17
38.89
item, p
675
id                 336173045
ageOfDxInDays           5995
dateAtDx          1955-10-21
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 675, dtype: object
1955-10-21
38.98
item, p
676
id                 632543874
ageOfDxInDays           1174
dateAtDx          1995-11-10
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 676, dtype: object
1995-11-10
38.8
item, p
677
id                 814028858
ageOfDxInDays           9834
dateAtDx          1977-12-31
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 677, dtype: object
1977-12-31
38.87
item, p
678
id                  798180634
ageOfDxInDays            1489
dateAtDx           1997-05-06
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 678, dtype: object
1997-05-06
38.89
item, p
679
id                  491265554
ageOfDxInDays           15112
dateAtDx           1962-02-02
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 679, dtype: object
1962-02-02
38.95
item, p
680
id                  341582968
ageOfDxInDays           17289
dateAtDx           1958-08-01
lat                     38.83
lon                    -76.92
coordinates      38.83,-76.92
Name: 680, dtype: object
1958-08-01
38.83
item, p
681
id                  444998582
ageOfDxInDays            5994
dateAtDx           1990-01-03
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 681, dtype: object
1990-01-03
38.89
item, p
682
id                  971720355
ageOfDxInDays           18374
dateAtDx           1955-03-30
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 682, dtype: object
1955-03-30
38.98
item, p
683
id                  173940713
ageOfDxInDays            2161
dateAtDx           1984-03-01
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 683, dtype: object
1984-03-01
38.89
item, p
684
id                  972944268
ageOfDxInDays            7131
dateAtDx           1990-04-05
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 684, dtype: object
1990-04-05
38.95
item, p
685
id                  220178839
ageOfDxInDays            2287
dateAtDx           1955-07-21
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 685, dtype: object
1955-07-21
38.89
item, p
686
id                  592473556
ageOfDxInDays           14686
dateAtDx           1967-11-11
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 686, dtype: object
1967-11-11
38.89
item, p
687
id                  241250963
ageOfDxInDays            7265
dateAtDx           1981-08-16
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 687, dtype: object
1981-08-16
38.89
item, p
688
id                  199046363
ageOfDxInDays            6204
dateAtDx           1978-07-16
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 688, dtype: object
1978-07-16
39.01
item, p
689
id                  418107274
ageOfDxInDays           13634
dateAtDx           1975-12-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 689, dtype: object
1975-12-30
38.89
item, p
690
id                  882729567
ageOfDxInDays           15982
dateAtDx           1971-02-06
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 690, dtype: object
1971-02-06
38.89
item, p
691
id                 784705943
ageOfDxInDays          11231
dateAtDx          1982-06-10
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 691, dtype: object
1982-06-10
38.87
item, p
692
id                  817091132
ageOfDxInDays            5392
dateAtDx           1992-04-11
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 692, dtype: object
1992-04-11
38.89
item, p
693
id                  981647131
ageOfDxInDays            8979
dateAtDx           1981-01-27
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 693, dtype: object
1981-01-27
38.98
item, p
694
id                  509030163
ageOfDxInDays            4809
dateAtDx           1986-04-21
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 694, dtype: object
1986-04-21
38.89
item, p
695
id                  340101546
ageOfDxInDays            6890
dateAtDx           1989-12-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 695, dtype: object
1989-12-25
38.89
item, p
696
id                  500941376
ageOfDxInDays            3805
dateAtDx           1986-03-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 696, dtype: object
1986-03-10
38.89
item, p
697
id                  786664357
ageOfDxInDays            1703
dateAtDx           1945-04-22
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 697, dtype: object
1945-04-22
38.89
item, p
698
id                 672221409
ageOfDxInDays           1891
dateAtDx          1995-08-07
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 698, dtype: object
1995-08-07
38.8
item, p
699
id                  718512151
ageOfDxInDays             978
dateAtDx           1984-03-05
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 699, dtype: object
1984-03-05
39.01
item, p
700
id                  710534916
ageOfDxInDays           23921
dateAtDx           1946-03-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 700, dtype: object
1946-03-26
38.89
item, p
701
id                  392782286
ageOfDxInDays           18653
dateAtDx           1936-12-20
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 701, dtype: object
1936-12-20
38.89

item, p
702
id                  973544890
ageOfDxInDays             710
dateAtDx           1972-04-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 702, dtype: object
1972-04-14
38.89
item, p
703
id                  972676528
ageOfDxInDays           11260
dateAtDx           1982-03-12
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 703, dtype: object
1982-03-12
38.95
item, p
704
id                  529577758
ageOfDxInDays            3788
dateAtDx           1983-04-15
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 704, dtype: object
1983-04-15
38.89
item, p
705
id                  396624490
ageOfDxInDays           15150
dateAtDx           1953-04-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 705, dtype: object
1953-04-27
38.89
item, p
706
id                  869594652
ageOfDxInDays            8534
dateAtDx           1990-04-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 706, dtype: object
1990-04-27
38.89
item, p
707
id                  907252855
ageOfDxInDays            2139
dateAtDx           1996-05-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 707, dtype: object
1996-05-28
38.89
item, p
708
id                  888799452
ageOfDxInDays            7138
dateAtDx           1983-08-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 708, dtype: object
1983-08-07
38.89
item, p
709
id                  456311253
ageOfDxInDays            1257
dateAtDx           1990-08-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 709, dtype: object
1990-08-13
38.89
item, p
710
id                 566071799
ageOfDxInDays           8999
dateAtDx          1981-02-04
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 710, dtype: object
1981-02-04
38.87
item, p
711
id                  869874775
ageOfDxInDays           18749
dateAtDx           1957-12-20
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 711, dtype: object
1957-12-20
38.98
item, p
712
id                  217444173
ageOfDxInDays            2598
dateAtDx           1985-02-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 712, dtype: object
1985-02-07
38.89
item, p
713
id                  256248247
ageOfDxInDays            2827
dateAtDx           1959-09-21
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 713, dtype: object
1959-09-21
38.89
item, p
714
id                  256637909
ageOfDxInDays           12702
dateAtDx           1980-02-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 714, dtype: object
1980-02-28
38.89
item, p
715
id                  228633845
ageOfDxInDays            3184
dateAtDx           1984-10-08
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 715, dtype: object
1984-10-08
38.89
item, p
716
id                  672979341
ageOfDxInDays            1217
dateAtDx           1968-01-31
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 716, dtype: object
1968-01-31
38.89
item, p
717
id                  525801263
ageOfDxInDays           29340
dateAtDx           1933-08-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 717, dtype: object
1933-08-25
38.89
item, p
718
id                 133961473
ageOfDxInDays          11399
dateAtDx          1953-12-12
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 718, dtype: object
1953-12-12
38.8
item, p
719
id                 192033846
ageOfDxInDays          16973
dateAtDx          1963-05-10
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 719, dtype: object
1963-05-10
38.87
item, p
720
id                 454822711
ageOfDxInDays           7887
dateAtDx          1992-08-05
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 720, dtype: object
1992-08-05
38.87
item, p
721
id                  274281924
ageOfDxInDays            6527
dateAtDx           1989-03-09
lat                     38.94
lon                    -76.96
coordinates      38.94,-76.96
Name: 721, dtype: object
1989-03-09
38.94
item, p
722
id                  134500138
ageOfDxInDays           18800
dateAtDx           1960-04-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 722, dtype: object
1960-04-24
38.89
item, p
723
id                  687671555
ageOfDxInDays           15824
dateAtDx           1952-01-12
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 723, dtype: object
1952-01-12
38.98
item, p
724
id                  725644659
ageOfDxInDays            5312
dateAtDx           1994-04-01
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 724, dtype: object
1994-04-01
39.01
item, p
725
id                  456634159
ageOfDxInDays            5066
dateAtDx           1994-05-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 725, dtype: object
1994-05-13
38.89
item, p
726
id                 499470956
ageOfDxInDays          10205
dateAtDx          1985-11-01
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 726, dtype: object
1985-11-01
38.87
item, p
727
id                 439624807
ageOfDxInDays           3531
dateAtDx          1951-03-10
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 727, dtype: object
1951-03-10
38.87
item, p
728
id                  445086582
ageOfDxInDays           11057
dateAtDx           1980-06-19
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 728, dtype: object
1980-06-19
38.95
item, p
729
id                  632940796
ageOfDxInDays            6374
dateAtDx           1990-05-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 729, dtype: object
1990-05-23
38.89
item, p
730
id                 426936857
ageOfDxInDays           6830
dateAtDx          1956-11-01
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 730, dtype: object
1956-11-01
38.87
item, p
731
id                  948331719
ageOfDxInDays           15838
dateAtDx           1953-12-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 731, dtype: object
1953-12-07
38.89
item, p
732
id                  134086703
ageOfDxInDays           10734
dateAtDx           1981-11-22
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 732, dtype: object
1981-11-22
38.89
item, p
733
id                  818767353
ageOfDxInDays            8714
dateAtDx           1985-05-03
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 733, dtype: object
1985-05-03
38.98
item, p
734
id                 699994851
ageOfDxInDays          10438
dateAtDx          1960-12-01
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 734, dtype: object
1960-12-01
38.8
item, p
735
id                  631334639
ageOfDxInDays            6588
dateAtDx           1978-05-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 735, dtype: object
1978-05-10
38.89
item, p
736
id                 935768011
ageOfDxInDays          18685
dateAtDx          1962-03-09
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 736, dtype: object
1962-03-09
38.87
item, p
737
id                  796416246
ageOfDxInDays           18735
dateAtDx           1962-09-05
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 737, dtype: object
1962-09-05
38.82
item, p
738
id                 738765998
ageOfDxInDays           5244
dateAtDx          1992-12-06
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 738, dtype: object
1992-12-06
38.8
item, p
739
id                  293371325
ageOfDxInDays            4972
dateAtDx           1991-03-11
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 739, dtype: object
1991-03-11
38.89
item, p
740
id                  338503482
ageOfDxInDays           11508
dateAtDx           1966-01-22
lat                     38.94
lon                    -76.96
coordinates      38.94,-76.96
Name: 740, dtype: object
1966-01-22
38.94
item, p
741
id                  424897164
ageOfDxInDays            1234
dateAtDx           2006-09-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 741, dtype: object
2006-09-10
38.89
item, p
742
id                  934351715
ageOfDxInDays            8099
dateAtDx           1983-01-29
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 742, dtype: object
1983-01-29
38.82

item, p
743
id                  241403471
ageOfDxInDays           14605
dateAtDx           1947-07-27
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 743, dtype: object
1947-07-27
38.82
item, p
744
id                  349333368
ageOfDxInDays            2062
dateAtDx           1992-01-16
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 744, dtype: object
1992-01-16
38.89
item, p
745
id                  716983941
ageOfDxInDays            3936
dateAtDx           1974-01-09
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 745, dtype: object
1974-01-09
38.82
item, p
746
id                  619439090
ageOfDxInDays            4976
dateAtDx           1971-11-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 746, dtype: object
1971-11-07
38.89
item, p
747
id                  416723741
ageOfDxInDays           25016
dateAtDx           1933-09-10
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 747, dtype: object
1933-09-10
38.95
item, p
748
id                  305491023
ageOfDxInDays            8569
dateAtDx           1959-06-28
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 748, dtype: object
1959-06-28
39.01
item, p
749
id                  564667618
ageOfDxInDays            7404
dateAtDx           1994-03-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 749, dtype: object
1994-03-12
38.89
item, p
750
id                  680943325
ageOfDxInDays            8985
dateAtDx           1946-05-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 750, dtype: object
1946-05-30
38.89
item, p
751
id                  453859711
ageOfDxInDays            3518
dateAtDx           1995-05-08
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 751, dtype: object
1995-05-08
38.89
item, p
752
id                 784705943
ageOfDxInDays           1206
dateAtDx          1982-06-10
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 752, dtype: object
1982-06-10
38.87
item, p
753
id                  808550457
ageOfDxInDays             827
dateAtDx           1990-08-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 753, dtype: object
1990-08-13
38.89
item, p
754
id                  514438740
ageOfDxInDays             457
dateAtDx           1992-01-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 754, dtype: object
1992-01-23
38.89
item, p
755
id                 497681159
ageOfDxInDays           8369
dateAtDx          1967-08-31
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 755, dtype: object
1967-08-31
38.8
item, p
756
id                  309002014
ageOfDxInDays            8704
dateAtDx           1989-02-11
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 756, dtype: object
1989-02-11
38.89
item, p
757
id                  691555494
ageOfDxInDays            1255
dateAtDx           1958-04-02
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 757, dtype: object
1958-04-02
38.89
item, p
758
id                 746513695
ageOfDxInDays           1681
dateAtDx          1996-03-08
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 758, dtype: object
1996-03-08
38.8
item, p
759
id                  781923256
ageOfDxInDays            4492
dateAtDx           1992-03-01
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 759, dtype: object
1992-03-01
38.95
item, p
760
id                  521404506
ageOfDxInDays            7126
dateAtDx           1977-08-02
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 760, dtype: object
1977-08-02
38.82
item, p
761
id                 875814758
ageOfDxInDays           9161
dateAtDx          1986-02-03
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 761, dtype: object
1986-02-03
38.98
item, p
762
id                  826155079
ageOfDxInDays           10391
dateAtDx           1967-05-08
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 762, dtype: object
1967-05-08
38.82
item, p
763
id                  186282048
ageOfDxInDays           12748
dateAtDx           1966-03-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 763, dtype: object
1966-03-23
38.89
item, p
764
id                  961258014
ageOfDxInDays            8980
dateAtDx           1966-04-22
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 764, dtype: object
1966-04-22
38.98
item, p
765
id                  498082532
ageOfDxInDays            7355
dateAtDx           1970-07-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 765, dtype: object
1970-07-27
38.89
item, p
766
id                  405315479
ageOfDxInDays           13416
dateAtDx           1946-12-17
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 766, dtype: object
1946-12-17
38.89
item, p
767
id                  735131829
ageOfDxInDays            7833
dateAtDx           1970-06-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 767, dtype: object
1970-06-23
38.89
item, p
768
id                  433235181
ageOfDxInDays            7464
dateAtDx           1970-11-04
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 768, dtype: object
1970-11-04
38.89
item, p
769
id                  280712199
ageOfDxInDays            9959
dateAtDx           1944-01-21
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 769, dtype: object
1944-01-21
38.89
item, p
770
id                  750888746
ageOfDxInDays            8668
dateAtDx           1988-06-03
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 770, dtype: object
1988-06-03
39.01
item, p
771
id                  265784772
ageOfDxInDays           15968
dateAtDx           1922-07-27
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 771, dtype: object
1922-07-27
38.95
item, p
772
id                 386282535
ageOfDxInDays          13730
dateAtDx          1976-07-25
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 772, dtype: object
1976-07-25
38.8
item, p
773
id                 705382640
ageOfDxInDays           7481
dateAtDx          1960-08-02
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 773, dtype: object
1960-08-02
38.87
item, p
774
id                  416122293
ageOfDxInDays           18755
dateAtDx           1958-08-19
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 774, dtype: object
1958-08-19
38.89
item, p
775
id                  334009312
ageOfDxInDays            3795
dateAtDx           1987-03-01
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 775, dtype: object
1987-03-01
38.89
item, p
776
id                  176175851
ageOfDxInDays            5105
dateAtDx           1997-12-09
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 776, dtype: object
1997-12-09
38.95
item, p
777
id                  905242507
ageOfDxInDays            6877
dateAtDx           1994-12-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 777, dtype: object
1994-12-23
38.89
item, p
778
id                  773695747
ageOfDxInDays            3941
dateAtDx           1969-06-20
lat                     38.83
lon                    -76.92
coordinates      38.83,-76.92
Name: 778, dtype: object
1969-06-20
38.83
item, p
779
id                  380355364
ageOfDxInDays           10585
dateAtDx           1978-11-20
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 779, dtype: object
1978-11-20
39.01
item, p
780
id                  920752795
ageOfDxInDays           15954
dateAtDx           1954-01-19
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 780, dtype: object
1954-01-19
38.98
item, p
781
id                  646399685
ageOfDxInDays            3048
dateAtDx           1983-10-08
lat                     38.94
lon                    -76.96
coordinates      38.94,-76.96
Name: 781, dtype: object
1983-10-08
38.94

item, p
782
id                 288714129
ageOfDxInDays           3779
dateAtDx          1973-11-05
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 782, dtype: object
1973-11-05
38.87
item, p
783
id                  806839674
ageOfDxInDays            4372
dateAtDx           1996-09-19
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 783, dtype: object
1996-09-19
38.89
item, p
784
id                  624328577
ageOfDxInDays            7544
dateAtDx           1983-06-08
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 784, dtype: object
1983-06-08
38.89
item, p
785
id                  334307996
ageOfDxInDays            8762
dateAtDx           1988-02-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 785, dtype: object
1988-02-28
38.89
item, p
786
id                 336173045
ageOfDxInDays          10670
dateAtDx          1955-10-21
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 786, dtype: object
1955-10-21
38.98
item, p
787
id                  864852900
ageOfDxInDays           16718
dateAtDx           1921-06-01
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 787, dtype: object
1921-06-01
39.01
item, p
788
id                  915852742
ageOfDxInDays            6852
dateAtDx           1967-10-11
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 788, dtype: object
1967-10-11
38.94
item, p
789
id                  434541763
ageOfDxInDays            7920
dateAtDx           1988-07-14
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 789, dtype: object
1988-07-14
38.94
item, p
790
id                  278926949
ageOfDxInDays           11953
dateAtDx           1944-08-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 790, dtype: object
1944-08-23
38.89
item, p
791
id                  849417384
ageOfDxInDays            6660
dateAtDx           1991-10-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 791, dtype: object
1991-10-23
38.89
item, p
792
id                  698941122
ageOfDxInDays           17533
dateAtDx           1967-07-04
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 792, dtype: object
1967-07-04
38.89
item, p
793
id                  434544908
ageOfDxInDays           12300
dateAtDx           1964-07-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 793, dtype: object
1964-07-13
38.89
item, p
794
id                 558826969
ageOfDxInDays           9626
dateAtDx          1961-08-18
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 794, dtype: object
1961-08-18
38.8
item, p
795
id                  739178532
ageOfDxInDays            6979
dateAtDx           1978-08-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 795, dtype: object
1978-08-23
38.89
item, p
796
id                  489716313
ageOfDxInDays            5669
dateAtDx           1991-06-06
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 796, dtype: object
1991-06-06
38.89
item, p
797
id                 370992634
ageOfDxInDays          15439
dateAtDx          1949-05-20
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 797, dtype: object
1949-05-20
38.87
item, p
798
id                  647087826
ageOfDxInDays            1484
dateAtDx           1925-08-08
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 798, dtype: object
1925-08-08
38.89
item, p
799
id                 207510433
ageOfDxInDays          25102
dateAtDx          1946-05-27
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 799, dtype: object
1946-05-27
38.8
item, p
800
id                  421516885
ageOfDxInDays           14120
dateAtDx           1962-10-17
lat                     38.83
lon                    -76.92
coordinates      38.83,-76.92
Name: 800, dtype: object
1962-10-17
38.83
item, p
801
id                 453809777
ageOfDxInDays          25009
dateAtDx          1937-05-15
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 801, dtype: object
1937-05-15
38.98
item, p
802
id                  231761782
ageOfDxInDays           10677
dateAtDx           1981-12-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 802, dtype: object
1981-12-10
38.89
item, p
803
id                 811226408
ageOfDxInDays           3945
dateAtDx          1991-11-23
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 803, dtype: object
1991-11-23
38.87
item, p
804
id                  620172945
ageOfDxInDays           15044
dateAtDx           1952-06-17
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 804, dtype: object
1952-06-17
38.94
item, p
805
id                  718181916
ageOfDxInDays           16579
dateAtDx           1934-01-13
lat                     38.94
lon                    -76.96
coordinates      38.94,-76.96
Name: 805, dtype: object
1934-01-13
38.94
item, p
806
id                 699596020
ageOfDxInDays           2029
dateAtDx          1972-10-24
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 806, dtype: object
1972-10-24
38.87
item, p
807
id                  229827349
ageOfDxInDays            5371
dateAtDx           1965-02-14
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 807, dtype: object
1965-02-14
38.94
item, p
808
id                  354424519
ageOfDxInDays           23130
dateAtDx           1938-02-23
lat                     38.83
lon                    -76.92
coordinates      38.83,-76.92
Name: 808, dtype: object
1938-02-23
38.83
item, p
809
id                  176627104
ageOfDxInDays            3954
dateAtDx           1961-11-17
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 809, dtype: object
1961-11-17
38.89
item, p
810
id                  178535515
ageOfDxInDays            6686
dateAtDx           1984-09-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 810, dtype: object
1984-09-14
38.89
item, p
811
id                  675480568
ageOfDxInDays            7041
dateAtDx           1952-07-03
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 811, dtype: object
1952-07-03
38.94
item, p
812
id                  346295461
ageOfDxInDays            6409
dateAtDx           1981-03-31
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 812, dtype: object
1981-03-31
38.89
item, p
813
id                  520378729
ageOfDxInDays            3407
dateAtDx           1987-08-15
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 813, dtype: object
1987-08-15
38.89
item, p
814
id                  248179855
ageOfDxInDays            9059
dateAtDx           1981-11-06
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 814, dtype: object
1981-11-06
38.89
item, p
815
id                  796533514
ageOfDxInDays           13429
dateAtDx           1967-10-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 815, dtype: object
1967-10-18
38.89
item, p
816
id                 281186169
ageOfDxInDays          10210
dateAtDx          1956-12-23
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 816, dtype: object
1956-12-23
38.87
item, p
817
id                  434282966
ageOfDxInDays           10742
dateAtDx           1971-02-13
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 817, dtype: object
1971-02-13
38.95
item, p
818
id                  747879102
ageOfDxInDays           25900
dateAtDx           1935-02-03
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 818, dtype: object
1935-02-03
38.89

item, p
819
id                  512278766
ageOfDxInDays            9882
dateAtDx           1984-07-15
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 819, dtype: object
1984-07-15
38.89
item, p
820
id                  916295683
ageOfDxInDays            4179
dateAtDx           1990-02-20
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 820, dtype: object
1990-02-20
38.89
item, p
821
id                  889460213
ageOfDxInDays            6194
dateAtDx           1988-03-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 821, dtype: object
1988-03-13
38.89
item, p
822
id                  221428312
ageOfDxInDays           23650
dateAtDx           1936-03-18
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 822, dtype: object
1936-03-18
38.98
item, p
823
id                  309132473
ageOfDxInDays           22847
dateAtDx           1950-01-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 823, dtype: object
1950-01-13
38.89
item, p
824
id                  845727180
ageOfDxInDays            2881
dateAtDx           1973-12-24
lat                     38.83
lon                    -76.92
coordinates      38.83,-76.92
Name: 824, dtype: object
1973-12-24
38.83
item, p
825
id                  253139257
ageOfDxInDays            4927
dateAtDx           1995-04-17
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 825, dtype: object
1995-04-17
38.89
item, p
826
id                  740396180
ageOfDxInDays            7009
dateAtDx           1985-10-04
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 826, dtype: object
1985-10-04
38.89
item, p
827
id                  940113976
ageOfDxInDays            5178
dateAtDx           1979-05-03
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 827, dtype: object
1979-05-03
38.89
item, p
828
id                  911921790
ageOfDxInDays            3564
dateAtDx           1951-04-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 828, dtype: object
1951-04-23
38.89
item, p
829
id                  583603542
ageOfDxInDays            5977
dateAtDx           1957-05-02
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 829, dtype: object
1957-05-02
38.89
item, p
830
id                  954702611
ageOfDxInDays           28297
dateAtDx           1935-08-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 830, dtype: object
1935-08-12
38.89
item, p
831
id                  664597374
ageOfDxInDays           12336
dateAtDx           1935-11-29
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 831, dtype: object
1935-11-29
38.94
item, p
832
id                  432747166
ageOfDxInDays           20789
dateAtDx           1955-01-31
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 832, dtype: object
1955-01-31
38.89
item, p
833
id                  641641827
ageOfDxInDays            2153
dateAtDx           1983-12-11
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 833, dtype: object
1983-12-11
38.89
item, p
834
id                  144699897
ageOfDxInDays            3357
dateAtDx           1977-07-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 834, dtype: object
1977-07-10
38.89
item, p
835
id                 299585961
ageOfDxInDays            207
dateAtDx          1990-09-08
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 835, dtype: object
1990-09-08
38.87
item, p
836
id                  489647754
ageOfDxInDays            1658
dateAtDx           1972-07-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 836, dtype: object
1972-07-30
38.89
item, p
837
id                 644249781
ageOfDxInDays          13527
dateAtDx          1964-07-08
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 837, dtype: object
1964-07-08
38.98
item, p
838
id                  621341350
ageOfDxInDays            3901
dateAtDx           1992-05-09
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 838, dtype: object
1992-05-09
39.01
item, p
839
id                 709160279
ageOfDxInDays           4491
dateAtDx          1979-04-02
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 839, dtype: object
1979-04-02
38.98
item, p
840
id                  620225836
ageOfDxInDays           10565
dateAtDx           1984-09-08
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 840, dtype: object
1984-09-08
38.89
item, p
841
id                  659247895
ageOfDxInDays            8093
dateAtDx           1989-08-09
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 841, dtype: object
1989-08-09
38.89
item, p
842
id                  879945683
ageOfDxInDays            4264
dateAtDx           1968-12-25
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 842, dtype: object
1968-12-25
38.95
item, p
843
id                  269856765
ageOfDxInDays            6837
dateAtDx           1969-04-01
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 843, dtype: object
1969-04-01
38.95
item, p
844
id                  684775623
ageOfDxInDays            4386
dateAtDx           1980-04-12
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 844, dtype: object
1980-04-12
38.82
item, p
845
id                  577118994
ageOfDxInDays           14622
dateAtDx           1973-08-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 845, dtype: object
1973-08-27
38.89
item, p
846
id                  704988208
ageOfDxInDays            6031
dateAtDx           1986-03-01
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 846, dtype: object
1986-03-01
38.89
item, p
847
id                  670832633
ageOfDxInDays           11779
dateAtDx           1982-10-22
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 847, dtype: object
1982-10-22
38.95
item, p
848
id                  573358955
ageOfDxInDays            7079
dateAtDx           1952-01-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 848, dtype: object
1952-01-23
38.89
item, p
849
id                 447600935
ageOfDxInDays           1409
dateAtDx          1992-05-02
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 849, dtype: object
1992-05-02
38.87
item, p
850
id                  363836215
ageOfDxInDays            7068
dateAtDx           1995-07-01
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 850, dtype: object
1995-07-01
38.89
item, p
851
id                 131095654
ageOfDxInDays           3771
dateAtDx          1996-11-25
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 851, dtype: object
1996-11-25
38.87
item, p
852
id                  834673377
ageOfDxInDays            6621
dateAtDx           1989-01-16
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 852, dtype: object
1989-01-16
38.89
item, p
853
id                  802183885
ageOfDxInDays            6019
dateAtDx           1991-02-11
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 853, dtype: object
1991-02-11
38.89
item, p
854
id                  662898342
ageOfDxInDays            7862
dateAtDx           1981-10-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 854, dtype: object
1981-10-14
38.89

item, p
855
id                  614385639
ageOfDxInDays            8199
dateAtDx           1976-04-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 855, dtype: object
1976-04-26
38.89
item, p
856
id                  850826088
ageOfDxInDays            3079
dateAtDx           1959-06-06
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 856, dtype: object
1959-06-06
38.89
item, p
857
id                  214128265
ageOfDxInDays            4334
dateAtDx           1972-02-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 857, dtype: object
1972-02-23
38.89
item, p
858
id                  815064810
ageOfDxInDays           11386
dateAtDx           1974-09-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 858, dtype: object
1974-09-26
38.89
item, p
859
id                  223865772
ageOfDxInDays            8120
dateAtDx           1986-03-27
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 859, dtype: object
1986-03-27
38.95
item, p
860
id                  528577910
ageOfDxInDays            4479
dateAtDx           1973-12-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 860, dtype: object
1973-12-24
38.89
item, p
861
id                  501386120
ageOfDxInDays            1353
dateAtDx           1993-10-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 861, dtype: object
1993-10-23
38.89
item, p
862
id                 569883974
ageOfDxInDays           4570
dateAtDx          1988-07-24
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 862, dtype: object
1988-07-24
38.98
item, p
863
id                  772064739
ageOfDxInDays            2244
dateAtDx           1992-06-24
lat                     38.87
lon                    -77.07
coordinates      38.87,-77.07
Name: 863, dtype: object
1992-06-24
38.87
item, p
864
id                  639984968
ageOfDxInDays            7874
dateAtDx           1994-04-09
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 864, dtype: object
1994-04-09
38.89
item, p
865
id                  740805256
ageOfDxInDays            6885
dateAtDx           1984-03-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 865, dtype: object
1984-03-18
38.89
item, p
866
id                  491008825
ageOfDxInDays            2210
dateAtDx           1937-12-02
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 866, dtype: object
1937-12-02
38.89
item, p
867
id                  765406370
ageOfDxInDays            5041
dateAtDx           1984-01-15
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 867, dtype: object
1984-01-15
38.89
item, p
868
id                  223924024
ageOfDxInDays             467
dateAtDx           1996-08-02
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 868, dtype: object
1996-08-02
38.89
item, p
869
id                  982377371
ageOfDxInDays            9814
dateAtDx           1989-09-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 869, dtype: object
1989-09-26
38.89
item, p
870
id                  269512125
ageOfDxInDays            8196
dateAtDx           1992-03-13
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 870, dtype: object
1992-03-13
38.82
item, p
871
id                  293742184
ageOfDxInDays           18630
dateAtDx           1954-01-19
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 871, dtype: object
1954-01-19
38.89
item, p
872
id                  531246106
ageOfDxInDays            3962
dateAtDx           1986-08-05
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 872, dtype: object
1986-08-05
38.95
item, p
873
id                 342909659
ageOfDxInDays          22782
dateAtDx          1946-06-09
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 873, dtype: object
1946-06-09
38.87
item, p
874
id                  866976637
ageOfDxInDays            8830
dateAtDx           1986-11-06
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 874, dtype: object
1986-11-06
39.01
item, p
875
id                  656315891
ageOfDxInDays           14775
dateAtDx           1963-03-16
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 875, dtype: object
1963-03-16
38.89
item, p
876
id                  296232314
ageOfDxInDays            9844
dateAtDx           1965-03-09
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 876, dtype: object
1965-03-09
38.89
item, p
877
id                  331927379
ageOfDxInDays            2891
dateAtDx           1986-12-02
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 877, dtype: object
1986-12-02
38.89
item, p
878
id                  586844550
ageOfDxInDays            7378
dateAtDx           1995-11-15
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 878, dtype: object
1995-11-15
38.89
item, p
879
id                  598350720
ageOfDxInDays            2193
dateAtDx           1991-03-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 879, dtype: object
1991-03-13
38.89
item, p
880
id                  568824758
ageOfDxInDays           18884
dateAtDx           1952-01-02
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 880, dtype: object
1952-01-02
38.98
item, p
881
id                  688096709
ageOfDxInDays            1235
dateAtDx           1995-01-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 881, dtype: object
1995-01-10
38.89
item, p
882
id                  608423142
ageOfDxInDays            9162
dateAtDx           1982-06-05
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 882, dtype: object
1982-06-05
38.95
item, p
883
id                  372523218
ageOfDxInDays            3129
dateAtDx           1994-02-12
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 883, dtype: object
1994-02-12
38.89
item, p
884
id                  321837134
ageOfDxInDays            2895
dateAtDx           1950-12-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 884, dtype: object
1950-12-27
38.89
item, p
885
id                  967685911
ageOfDxInDays            4661
dateAtDx           1969-06-07
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 885, dtype: object
1969-06-07
39.01
item, p
886
id                  225018231
ageOfDxInDays           17161
dateAtDx           1960-02-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 886, dtype: object
1960-02-28
38.89
item, p
887
id                  141756688
ageOfDxInDays            8873
dateAtDx           1961-07-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 887, dtype: object
1961-07-13
38.89
item, p
888
id                 439105212
ageOfDxInDays          22155
dateAtDx          1937-04-17
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 888, dtype: object
1937-04-17
38.8
item, p
889
id                  848389333
ageOfDxInDays           18084
dateAtDx           1961-01-21
lat                     38.83
lon                    -76.92
coordinates      38.83,-76.92
Name: 889, dtype: object
1961-01-21
38.83
item, p
890
id                  963064806
ageOfDxInDays            1385
dateAtDx           1980-08-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 890, dtype: object
1980-08-14
38.89
item, p
891
id                  953162045
ageOfDxInDays             507
dateAtDx           1992-06-15
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 891, dtype: object
1992-06-15
38.95
item, p
892
id                  285572381
ageOfDxInDays           11742
dateAtDx           1970-08-22
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 892, dtype: object
1970-08-22
38.95

item, p
893
id                  241403300
ageOfDxInDays           11122
dateAtDx           1950-03-11
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 893, dtype: object
1950-03-11
38.98
item, p
894
id                  923068137
ageOfDxInDays            2466
dateAtDx           2002-11-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 894, dtype: object
2002-11-14
38.89
item, p
895
id                  550750435
ageOfDxInDays           25116
dateAtDx           1936-03-09
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 895, dtype: object
1936-03-09
38.89
item, p
896
id                  759090292
ageOfDxInDays            6094
dateAtDx           1955-04-01
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 896, dtype: object
1955-04-01
38.95
item, p
897
id                  472285760
ageOfDxInDays            3118
dateAtDx           1987-07-21
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 897, dtype: object
1987-07-21
38.89
item, p
898
id                  165382085
ageOfDxInDays            3959
dateAtDx           1989-01-29
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 898, dtype: object
1989-01-29
38.89
item, p
899
id                  962308461
ageOfDxInDays             712
dateAtDx           1983-10-20
lat                     38.82
lon                    -77.08
coordinates      38.82,-77.08
Name: 899, dtype: object
1983-10-20
38.82
item, p
900
id                  417647739
ageOfDxInDays           16883
dateAtDx           1967-05-03
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 900, dtype: object
1967-05-03
38.89
item, p
901
id                  527739680
ageOfDxInDays            6666
dateAtDx           1968-06-03
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 901, dtype: object
1968-06-03
39.01
item, p
902
id                  679423115
ageOfDxInDays            7441
dateAtDx           1994-05-10
lat                     38.98
lon                    -77.12
coordinates      38.98,-77.12
Name: 902, dtype: object
1994-05-10
38.98
item, p
903
id                 336753251
ageOfDxInDays           5301
dateAtDx          1984-01-15
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 903, dtype: object
1984-01-15
38.87
item, p
904
id                  735722046
ageOfDxInDays           14542
dateAtDx           1941-06-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 904, dtype: object
1941-06-18
38.89
item, p
905
id                  893757425
ageOfDxInDays            8322
dateAtDx           1987-12-17
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 905, dtype: object
1987-12-17
38.89
item, p
906
id                  739265286
ageOfDxInDays            4692
dateAtDx           1979-06-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 906, dtype: object
1979-06-07
38.89
item, p
907
id                  448492052
ageOfDxInDays            5578
dateAtDx           1921-04-20
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 907, dtype: object
1921-04-20
38.98
item, p
908
id                  646780453
ageOfDxInDays            6447
dateAtDx           1985-05-09
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 908, dtype: object
1985-05-09
38.89
item, p
909
id                  895127971
ageOfDxInDays            8490
dateAtDx           1974-09-19
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 909, dtype: object
1974-09-19
38.89
item, p
910
id                  288083124
ageOfDxInDays           26663
dateAtDx           1939-06-25
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 910, dtype: object
1939-06-25
38.98
item, p
911
id                  547407442
ageOfDxInDays            6512
dateAtDx           1986-12-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 911, dtype: object
1986-12-30
38.89
item, p
912
id                  611052299
ageOfDxInDays           21701
dateAtDx           1945-04-11
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 912, dtype: object
1945-04-11
38.89
item, p
913
id                 410573981
ageOfDxInDays            536
dateAtDx          1952-04-02
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 913, dtype: object
1952-04-02
38.8
item, p
914
id                  899187256
ageOfDxInDays             964
dateAtDx           1955-04-22
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 914, dtype: object
1955-04-22
38.89
item, p
915
id                  178447726
ageOfDxInDays            3387
dateAtDx           1993-05-01
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 915, dtype: object
1993-05-01
38.89
item, p
916
id                  309193346
ageOfDxInDays            8854
dateAtDx           1962-10-16
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 916, dtype: object
1962-10-16
38.89
item, p
917
id                  516079315
ageOfDxInDays            3831
dateAtDx           1977-06-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 917, dtype: object
1977-06-07
38.89
item, p
918
id                  540766002
ageOfDxInDays            1233
dateAtDx           1927-06-08
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 918, dtype: object
1927-06-08
38.94
item, p
919
id                  598656597
ageOfDxInDays            1400
dateAtDx           1980-03-19
lat                     38.98
lon                    -77.08
coordinates      38.98,-77.08
Name: 919, dtype: object
1980-03-19
38.98
item, p
920
id                  251711798
ageOfDxInDays            7716
dateAtDx           1981-05-08
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 920, dtype: object
1981-05-08
38.89
item, p
921
id                  325141954
ageOfDxInDays           19749
dateAtDx           1952-06-08
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 921, dtype: object
1952-06-08
38.94
item, p
922
id                 573118449
ageOfDxInDays            606
dateAtDx          1946-03-16
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 922, dtype: object
1946-03-16
38.8
item, p
923
id                  484430321
ageOfDxInDays            3442
dateAtDx           1984-02-01
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 923, dtype: object
1984-02-01
38.89
item, p
924
id                  559682884
ageOfDxInDays            5508
dateAtDx           1996-08-20
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 924, dtype: object
1996-08-20
38.89
item, p
925
id                  694332044
ageOfDxInDays            7301
dateAtDx           1981-05-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 925, dtype: object
1981-05-25
38.89
item, p
926
id                  325041828
ageOfDxInDays           13957
dateAtDx           1973-11-11
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 926, dtype: object
1973-11-11
38.89
item, p
927
id                  774902686
ageOfDxInDays            3976
dateAtDx           1949-02-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 927, dtype: object
1949-02-23
38.89
item, p
928
id                 281593716
ageOfDxInDays           1619
dateAtDx          1988-02-05
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 928, dtype: object
1988-02-05
38.98
item, p
929
id                  846285533
ageOfDxInDays            6015
dateAtDx           1951-03-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 929, dtype: object
1951-03-13
38.89
item, p
930
id                 861262678
ageOfDxInDays           8145
dateAtDx          1991-06-15
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 930, dtype: object
1991-06-15
38.87
item, p
931
id                  297084849
ageOfDxInDays           12923
dateAtDx           1974-07-20
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 931, dtype: object
1974-07-20
38.89
item, p
932
id                 781158411
ageOfDxInDays          16578
dateAtDx          1948-02-19
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 932, dtype: object
1948-02-19
38.87

item, p
933
id                  936282911
ageOfDxInDays            8082
dateAtDx           1975-01-03
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 933, dtype: object
1975-01-03
38.89
item, p
934
id                  398880518
ageOfDxInDays            1078
dateAtDx           1994-05-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 934, dtype: object
1994-05-23
38.89
item, p
935
id                  569436924
ageOfDxInDays           13768
dateAtDx           1969-12-04
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 935, dtype: object
1969-12-04
38.95
item, p
936
id                  810930934
ageOfDxInDays           18370
dateAtDx           1940-02-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 936, dtype: object
1940-02-26
38.89
item, p
937
id                 265601514
ageOfDxInDays           3718
dateAtDx          1957-10-14
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 937, dtype: object
1957-10-14
38.8
item, p
938
id                  376386479
ageOfDxInDays            2754
dateAtDx           1954-02-06
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 938, dtype: object
1954-02-06
38.89
item, p
939
id                  782223287
ageOfDxInDays           10568
dateAtDx           1971-09-09
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 939, dtype: object
1971-09-09
38.89
item, p
940
id                  371820595
ageOfDxInDays            1048
dateAtDx           1980-09-11
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 940, dtype: object
1980-09-11
38.89
item, p
941
id                 800886809
ageOfDxInDays          13521
dateAtDx          1978-03-09
lat                    38.87
lon                    -76.9
coordinates      38.87,-76.9
Name: 941, dtype: object
1978-03-09
38.87
item, p
942
id                  148674180
ageOfDxInDays            8591
dateAtDx           1991-04-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 942, dtype: object
1991-04-26
38.89
item, p
943
id                  734758032
ageOfDxInDays            2897
dateAtDx           1946-08-03
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 943, dtype: object
1946-08-03
38.89
item, p
944
id                 664147006
ageOfDxInDays           3352
dateAtDx          1966-06-10
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 944, dtype: object
1966-06-10
38.8
item, p
945
id                  595412470
ageOfDxInDays           10453
dateAtDx           1948-02-16
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 945, dtype: object
1948-02-16
38.89
item, p
946
id                 540752109
ageOfDxInDays            701
dateAtDx          1931-01-17
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 946, dtype: object
1931-01-17
38.87
item, p
947
id                  765356807
ageOfDxInDays           10863
dateAtDx           1984-11-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 947, dtype: object
1984-11-10
38.89
item, p
948
id                  919629696
ageOfDxInDays            1039
dateAtDx           1947-11-03
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 948, dtype: object
1947-11-03
38.95
item, p
949
id                  414257226
ageOfDxInDays           15138
dateAtDx           1946-08-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 949, dtype: object
1946-08-27
38.89
item, p
950
id                  845937736
ageOfDxInDays            5515
dateAtDx           1981-04-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 950, dtype: object
1981-04-24
38.89
item, p
951
id                  855610077
ageOfDxInDays            9395
dateAtDx           1985-01-30
lat                     38.94
lon                    -76.96
coordinates      38.94,-76.96
Name: 951, dtype: object
1985-01-30
38.94
item, p
952
id                  744983346
ageOfDxInDays            9803
dateAtDx           1979-05-26
lat                     38.94
lon                    -76.95
coordinates      38.94,-76.95
Name: 952, dtype: object
1979-05-26
38.94
item, p
953
id                  823812278
ageOfDxInDays            2943
dateAtDx           2003-06-24
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 953, dtype: object
2003-06-24
38.89
item, p
954
id                  577514325
ageOfDxInDays            4444
dateAtDx           1933-01-02
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 954, dtype: object
1933-01-02
38.89
item, p
955
id                  227116782
ageOfDxInDays            7102
dateAtDx           1978-03-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 955, dtype: object
1978-03-10
38.89
item, p
956
id                  876461737
ageOfDxInDays           15151
dateAtDx           1952-08-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 956, dtype: object
1952-08-23
38.89
item, p
957
id                 811254783
ageOfDxInDays          12017
dateAtDx          1949-04-17
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 957, dtype: object
1949-04-17
38.8
item, p
958
id                  939064684
ageOfDxInDays           13139
dateAtDx           1936-07-14
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 958, dtype: object
1936-07-14
38.89
item, p
959
id                  454933759
ageOfDxInDays            7024
dateAtDx           1916-11-09
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 959, dtype: object
1916-11-09
38.89
item, p
960
id                  218519178
ageOfDxInDays             825
dateAtDx           1983-09-03
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 960, dtype: object
1983-09-03
38.89
item, p
961
id                  537497607
ageOfDxInDays             291
dateAtDx           1987-09-06
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 961, dtype: object
1987-09-06
38.89
item, p
962
id                  836373652
ageOfDxInDays           12473
dateAtDx           1980-06-18
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 962, dtype: object
1980-06-18
39.01
item, p
963
id                  406279103
ageOfDxInDays            5575
dateAtDx           1990-07-06
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 963, dtype: object
1990-07-06
38.89
item, p
964
id                  374615986
ageOfDxInDays            7280
dateAtDx           1981-04-27
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 964, dtype: object
1981-04-27
38.95
item, p
965
id                 757909419
ageOfDxInDays           9283
dateAtDx          1979-05-01
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 965, dtype: object
1979-05-01
38.87
item, p
966
id                  420989892
ageOfDxInDays            5403
dateAtDx           1997-03-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 966, dtype: object
1997-03-25
38.89
item, p
967
id                 345109980
ageOfDxInDays           5289
dateAtDx          1996-01-20
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 967, dtype: object
1996-01-20
38.8
item, p
968
id                  803042910
ageOfDxInDays            9843
dateAtDx           1981-02-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 968, dtype: object
1981-02-10
38.89
item, p
969
id                  869854294
ageOfDxInDays            1703
dateAtDx           1990-09-04
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 969, dtype: object
1990-09-04
38.89
item, p
970
id                  521324257
ageOfDxInDays            1271
dateAtDx           1991-09-01
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 970, dtype: object
1991-09-01
38.95

item, p
971
id                  348090146
ageOfDxInDays            7569
dateAtDx           1986-10-16
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 971, dtype: object
1986-10-16
38.89
item, p
972
id                  337076890
ageOfDxInDays             709
dateAtDx           1967-02-09
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 972, dtype: object
1967-02-09
38.89
item, p
973
id                  405315479
ageOfDxInDays           19690
dateAtDx           1946-12-17
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 973, dtype: object
1946-12-17
38.89
item, p
974
id                  936378868
ageOfDxInDays           12240
dateAtDx           1960-12-07
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 974, dtype: object
1960-12-07
39.01
item, p
975
id                  534178009
ageOfDxInDays            8301
dateAtDx           1979-05-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 975, dtype: object
1979-05-10
38.89
item, p
976
id                 947276175
ageOfDxInDays          14527
dateAtDx          1961-10-15
lat                     38.8
lon                   -76.94
coordinates      38.8,-76.94
Name: 976, dtype: object
1961-10-15
38.8
item, p
977
id                  963253651
ageOfDxInDays            8619
dateAtDx           1972-01-21
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 977, dtype: object
1972-01-21
38.89
item, p
978
id                 774355611
ageOfDxInDays          11152
dateAtDx          1983-12-25
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 978, dtype: object
1983-12-25
38.87
item, p
979
id                  594086832
ageOfDxInDays            5254
dateAtDx           1937-07-13
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 979, dtype: object
1937-07-13
38.89
item, p
980
id                  945765794
ageOfDxInDays            7558
dateAtDx           1991-03-20
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 980, dtype: object
1991-03-20
38.89
item, p
981
id                  322135980
ageOfDxInDays           14583
dateAtDx           1965-08-26
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 981, dtype: object
1965-08-26
38.89
item, p
982
id                  434889442
ageOfDxInDays            9313
dateAtDx           1988-03-30
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 982, dtype: object
1988-03-30
38.89
item, p
983
id                  869594652
ageOfDxInDays            7106
dateAtDx           1990-04-27
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 983, dtype: object
1990-04-27
38.89
item, p
984
id                  857981271
ageOfDxInDays            1032
dateAtDx           1959-04-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 984, dtype: object
1959-04-07
38.89
item, p
985
id                  829699331
ageOfDxInDays            1617
dateAtDx           1933-11-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 985, dtype: object
1933-11-23
38.89
item, p
986
id                 451220710
ageOfDxInDays           3253
dateAtDx          1986-10-15
lat                     38.8
lon                   -76.99
coordinates      38.8,-76.99
Name: 986, dtype: object
1986-10-15
38.8
item, p
987
id                 469921458
ageOfDxInDays           6487
dateAtDx          1947-07-26
lat                    38.98
lon                      -77
coordinates      38.98,-77.0
Name: 987, dtype: object
1947-07-26
38.98
item, p
988
id                  225702019
ageOfDxInDays            4871
dateAtDx           1992-09-23
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 988, dtype: object
1992-09-23
38.89
item, p
989
id                  171403775
ageOfDxInDays            8450
dateAtDx           1987-05-15
lat                     39.01
lon                    -77.02
coordinates      39.01,-77.02
Name: 989, dtype: object
1987-05-15
39.01
item, p
990
id                 964410712
ageOfDxInDays           6870
dateAtDx          1971-07-24
lat                    38.87
lon                    -77.1
coordinates      38.87,-77.1
Name: 990, dtype: object
1971-07-24
38.87
item, p
991
id                  211605881
ageOfDxInDays           20530
dateAtDx           1948-08-22
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 991, dtype: object
1948-08-22
38.89
item, p
992
id                  398260846
ageOfDxInDays            7172
dateAtDx           1979-05-10
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 992, dtype: object
1979-05-10
38.89
item, p
993
id                  639608772
ageOfDxInDays             598
dateAtDx           1987-10-25
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 993, dtype: object
1987-10-25
38.89
item, p
994
id                  982061071
ageOfDxInDays            1015
dateAtDx           1980-09-06
lat                     38.94
lon                    -77.19
coordinates      38.94,-77.19
Name: 994, dtype: object
1980-09-06
38.94
item, p
995
id                  676488611
ageOfDxInDays            1695
dateAtDx           1989-09-18
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 995, dtype: object
1989-09-18
38.89
item, p
996
id                  772747172
ageOfDxInDays            7397
dateAtDx           1984-01-28
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 996, dtype: object
1984-01-28
38.89
item, p
997
id                  161364343
ageOfDxInDays            2233
dateAtDx           1980-10-28
lat                     38.95
lon                    -76.95
coordinates      38.95,-76.95
Name: 997, dtype: object
1980-10-28
38.95
item, p
998
id                  925874928
ageOfDxInDays            4856
dateAtDx           1945-02-07
lat                     38.89
lon                    -77.03
coordinates      38.89,-77.03
Name: 998, dtype: object
1945-02-07
38.89